- post.uploads.each do |upload|
  h2 style='padding-left: 15px' = upload.filename
  .audio_player
    .AudioPlayer id="Upload__#{upload.id}" data-file=upload.rtmp_path data-original=upload.original_url
