.col-md-12
  h2 My Feed
  ul.hidden
    - @subscriptions.each do |subscription|
      li.item_sub
        a href=profile_path(subscription.target_user)
          = subscription.target_user.full_name

    - @subscribed_on_me.each do |subscription|
      li.item_sub= link_to_user subscription.user

  ul

    /* New Status */

    li.item_feed
      .name.pull-left SubscribedProfileName / OwnerProfileName
      .date.pull-right Date: February 15, 2014
      .clearfix

      .profile_picture.pull-left
        img
      .latest_post.box.pull-right Post entire status post. Do this only for status posts.
      .clearfix

    /* New Audio */

    li.item_feed
      .name.pull-left SubscribedProfileName / OwnerProfileName
      .date.pull-right Date: February 15, 2014
      .clearfix

      .profile_picture.pull-left
        img
      .latest_post.box.pull-right Just added a new audio file to their profile.
      .clearfix

    /* New Video */

    li.item_feed
      .name.pull-left SubscribedProfileName / OwnerProfileName
      .date.pull-right Date: February 15, 2014
      .clearfix

      .profile_picture.pull-left
        img
      .latest_post.box.pull-right Just posted a new video to their profile.
      .clearfix

    /* New Photo */

    li.item_feed
      .name.pull-left SubscribedProfileName / OwnerProfileName
      .date.pull-right Date: February 15, 2014
      .clearfix

      .profile_picture.pull-left
        img
      .latest_post.box.pull-right Just posted # photos to their profile.
      .clearfix

    /* New Subscriber */

    li.item_feed
      .name.pull-left OwnerProfileName
      .date.pull-right Date: February 25, 2014
      .clearfix

      .box
        | Congratulations,
        span SUBSCRIBER NAME
        | is now subscribed to your profile!

    /* Unsubscriber */

    li.item_feed
      .name.pull-left OwnerProfileName
      .date.pull-right Date: February 25, 2014
      .clearfix

      .box
        | Bummer,
        span SUBSCRIBER NAME
        | is no longer subscribed to your profile.
