// My Account Info
.my_account
  margin: 30px 0
  position: relative

  .sidebar
    padding: 0
    position: fixed
    width: 250px
    overflow: hidden
    margin-bottom: 60px

    // Header
    .header
      border-bottom: 1px solid $color_border
      font-size: 13px
      margin: 0
      padding: 15px
      span
        color: $color_pink
        display: block
        font-size: 16px

    // Navigation
    ul
      border-top: 1px solid $color_border
      &.general
        border-top: none
      a
        color: $color_text_dark
        text-decoration: none
        li
          @include white-area
          border-bottom: 1px solid $color_border
          font-size: 13px
          padding: 12px 15px
          .badge
            background-color: $color_pink
            text-shadow: -1px -1px 0 #c3384c
            &:hover
              @include linear-gradient(#7dd3f3, #359acd)
              color: #FFFFFF
              text-shadow: -1px -1px 0 #53a1c8
          &:hover
            @include linear-gradient(#7dd3f3, #359acd)
            color: #FFFFFF
            text-shadow: -1px -1px 0 #53a1c8
        &.active
          li
            @include linear-gradient(#3e3e3e, #2d2d2d)
            text-shadow: -1px -1px 0 #000000
            color: #FFFFFF
    .subscriptions, .profile
      color: #000000
      font-size: 16px
      font-weight: 600
      margin-top: 25px
      padding: 0 0 5px 15px

  // Content
  .content
    min-height: 90px
    h2
      color: $color_blue
      font-size: 20px
      font-weight: 600
      margin: 15px 0
      padding: 0

    // Form & Labels
    .account_photo
      width: 336px
      .photo
        @include border-radius($border_radius)
        background: asset-url('default_profile_pic.png') no-repeat 50%
        border: 1px solid $color_border
        display: inline-block
        height: 120px
        width: 120px
        overflow: hidden
        background-size: cover
        margin-bottom: 10px
        img
          outline: none
          max-width: 120px
      .change_button
        display: inline-block
        vertical-align: top
        margin-left: 15px
        .btn
          padding: 6px 25px
          font-weight: 600
          height: 34px
          font-size: 14px
          cursor: pointer
          input[type="file"]
            height: 34px
            width: 100%
            cursor: pointer
            font-size: 0
    label
      color: #898989
    .form-control
      background-color: $color_background
      border: 1px solid $color_border
      &:focus
        background-color: #FFFFFF
        border: 1px solid $color_blue
    .form-group
      label
        font-weight: 400 !important
        margin-top: 7px
        text-align: right
        width: 175px
      .form-control
        width: 435px
      .error
        margin: 5px 0 0 197px

    // Button
    .btn
      font-weight: 600
      padding: 6px 25px
      font-size: 14px
      margin-top: 5px

    // Item Blocks
    .item_block, .item_sub, .item_feed
      border-top: 1px solid $color_border
      padding: 15px 0
      h2
        margin: 0 0 15px
        padding: 0
      p
        color: $color_text_light
        font-size: 13px
      .profile_display_settings
        margin: 0
        position: relative
        label
          position: absolute
          left: 25px
          top: -2px
          text-align: left
          width: auto !important
        .form-control
          box-shadow: none
          border: none !important
          outline: none !important
          width: 20px
          height: 30px

    // My Feed
    .item_feed
      .name
        color: $color_text_dark
        font-size: 13px
        font-weight: bold
        padding-bottom: 10px
      .date
        color: $color_text_light
        font-size: 12px
      .profile_picture
        background: asset-url('default_profile_pic.png') no-repeat
        background-size: 50px
        img
          border: 1px solid $color_border
          height: 50px
          width: 50px
          display: block
      .latest_post, .box
        background-color: $color_background
        padding: 10px
      .latest_post
        width: 565px
      .box
        span
          color: $color_pink
          font-weight: bold

    // CC Row
    .cc_row
      position: relative
      ul
        list-style: none
        position: absolute
        top: 6px
        right: 0
        li
          display: inline-block
          padding: 0 5px 0 0
          img
            height: 22px
            width: 32px
    .expiry_date
      width: 434px
    .remove-billing
      float: left
      margin: 15px 0 0 15px

    // View/Cancel Subscriptions
    .view-subscriptions
      a.add-new
        color: #FFFFFF
        display: block
        margin: 0 0 15px
        float: right
      ul.view-subscriptions-list
        border-top: 1px solid $color_border
        a
          border-bottom: 1px solid $color_border
          color: $color_text_dark
          display: block
          li
            cursor: pointer
            padding: 15px
            position: relative
            .profile-photo
              background: asset-url('//connectpal-assets.s3.amazonaws.com/images/default_profile_pic.png') no-repeat
              background-size: 100%
              background-color: $color_background
              border: 1px solid $color_border
              height: 150px
              width: 150px
              overflow: hidden
              margin-right: 15px
              margin-bottom: 15px
              img
                height: 152px
                width: 152px
                position: relative
                top: -1px
                left: -1px
            .profile-details
              width: 100%
              .name
                display: block
                font-size: 16px
                font-weight: bold
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                width: 300px
              .cost
                @include blue-area
                @include border-radius(5px)
                color: #FFFFFF
                font-weight: bold
                margin-top: 10px
                padding: 10px
              .timestamp
                margin-top: 15px
                text-align: right
                .fa-stack
                  color: $color_text_light
                  font-size: 16px
                  width: 28px
                .date
                  color: $color_text_light
                  font-size: 13px
                  margin-right: 9px
                  position: relative
                  top: 3px
              .notifications
                text-align: right
                label
                  font-weight: normal
                  font-size: 13px
                  margin: 10px 0 0
                  padding: 0
                input[type=checkbox]
                  margin: 0 0 0 5px
                  height: 10px
                  width: 28px
                  position: relative
                label>input[type=checkbox]:before
                  background-color: #FFFFFF
                  color: $color_text_light
                  content: '\f096'
                  display: inline-block
                  font-family: FontAwesome
                  font-size: 34px
                  letter-spacing: 10px
                  position: absolute
                  height: 26px
                  width: 26px
                label>input[type=checkbox]:checked:before
                  content: '\f14a'
                  color: $color_green
                  display: inline-block
                  font-family: FontAwesome
                  font-size: 32px
            &:hover
              background-color: $color_pink
              .profile-photo
                border: 1px solid #cd233b
              .profile-details
                .name
                  color: #FFFFFF
                .cost
                  @include linear-gradient(#ffffff, #d5d5d5)
                  @include box-shadow(inset 0 1px 0 0 #ffffff)
                  background-color: #FFFFFF
                  border: 1px solid #cd233b
                  color: $color_pink
                  text-shadow: 0 1px 0 #FFFFFF
                .timestamp
                  .date,
                  .fa-stack
                    color: #FFFFFF
                    .fa-calendar
                      color: $color_pink
                .notifications
                  label
                    color: #FFFFFF
                  label>input[type=checkbox]:before,
                  label>input[type=checkbox]:checked:before
                    background-color: $color_pink
                    color: #FFFFFF
    .mailbox
      font-size: 13px
      .load_more_msg
        text-align: center
        .load_more_action
          border-top: 1px solid $color_border !important
          color: $color_blue
          padding-top: 15px !important
          &:hover
            color: $color_pink
            text-decoration: underline
          span
            padding: 0 5px
      .deleted
        text-align: center
        font-weight: bold
        font-size: 14px
        font-size: 13px
      li
        cursor: pointer
        border-top: 1px solid $color_border
        padding: 10px 0
        &:first-child
          padding-top: 0
          border-top: none
      .message_container
        width: 565px
        span
          display: block
        .name
          color: $color_text_dark
          font-size: 13px
          font-weight: bold
          float: left
        .timestamp
          color: #c2c2c2
          font-size: 12px
          float: right
          margin-top: 1px
        .contribute_label
          @include border-radius(5px)
          background-color: $color_background
          border: 1px solid $color_border
          color: $color_text_light
          font-size: 10px
          float: left
          padding: 2px 5px
          margin: 0 0 0 5px
        .message_preview
          background-color: #FFFFFF
          color: $color_text_light
          margin-top: 5px
          padding: 0
          .sender_color
            color: $color_text_light
          &.unread
            background-color: #fffbdd !important
            padding: 5px
      .delete_message
        color: $color_text_dark
        margin-top: 10px
        text-decoration: none
        font-size: 12px
        &:before
          padding-right: 5px
        &:hover
          color: $color_pink
    .go_back
      color: $color_text_dark
      font-size: 12px
      font-weight: normal
      margin-top: 3px
      &:hover
        color: $color_text_light
    .detail_message
      border: 1px solid $color_border
      overflow: scroll
      overflow-x: hidden
      overflow-y: auto
      max-height: 340px
      position: relative
    li
      padding: 10px
      .photo
        margin-right: 10px
        background: asset-url('default_profile_pic.png') no-repeat
        background-size: 97%
        height: 50px
        width: 50px
        background-position: 45% 45%
        img
          display: block
      .details
        position: relative
        width: 520px
        span
          display: block
        .name
          color: $color_text_dark
          font-size: 13px
          font-weight: bold
          float: left
        .timestamp
          color: #c2c2c2
          font-size: 12px
          float: right
          margin-top: 1px
        .contribute_label
          @include border-radius(5px)
          background-color: $color_background
          border: 1px solid $color_border
          color: $color_text_light
          font-size: 10px
          float: left
          padding: 2px 5px
          margin: 0 0 0 5px
        .message
          color: $color_text_light
    .message_reply
      .form-control
        font-size: 13px !important
        height: 70px !important
        margin-bottom: 15px
      .btn.blue
        margin-bottom: 15px
        padding: 8px 10px
    .profile_stats
      @include linear-gradient(#3e3e3e, #2d2d2d)
      @include border-radius($border_radius)
      margin: 15px
      padding: 15px
      text-align: center
      text-shadow: -1px -1px 0 #1c1c1c
      .stats_col
        color: #FFFFFF
        float: left
        width: 50%
        strong
          font-size: 60px
          font-weight: 600
          line-height: 100%
        span
          color: #FFFFFF
          display: block
          font-size: 12px
          padding-top: 10px
          text-shadow: none
    .contributions-stats
      border-top: 1px solid #eeeeee
      padding-top: 20px
      position: relative
      h2, .year-picker
        height: 34px
      h2
        margin: 0
        width: 300px
      .year-picker
        position: relative
        top: -5px
        width: 200px
        .year-select, .year-update
          font-size: 13px !important
        .year-select
          width: 70px
        .year-update
          @include white-area
          @include border-radius(5px)
          border: 1px solid #d7d7d7
          font-weight: bold
          height: 34px
          width: 70px
          padding: 0
          &:hover
            color: $color_blue
    .no-contributions
      margin-top: 15px
      text-align: center
    .profile_stats_note
      font-size: 12px
      margin: 0 15px
      padding-bottom: 15px
      position: relative
      .read_more
        background-color: #FFFFFF
        display: block
        padding-left: 5px
        text-decoration: none
        position: absolute
        top: 0
        right: 0
      a
        color: $color_blue
        &:hover
          color: $color_blue
          text-decoration: none
    .example_url
      @include border-radius($border_radius)
      color: $color_text_light
      padding: 15px
      width: 435px
      margin-bottom: 15px
      font-size: 11px
      span
        color: $color_text_dark
        font-weight: bold

    .graph
      color: $color_text_light
      height: 200px
      padding: 15px
    .subscriber_table
      font-size: 12px !important
      a
        color: $color_text_dark
      .fa
        a
          color: $color_text_dark
          &:hover
            color: $color_pink
        &:before
          padding-right: 5px
      .message
        width: 90px
      .hide_activity
        width: 108px
      .remove
        width: 145px
    .paypal-payout
      font-weight: normal
      margin-top: 10px
      font-size: 13px
      input[type="radio"]
        margin-top: 2px
@media screen and (min-width: 992px)
  .my_account
    .sidebar
      width: 250px
    .content
      width: 660px
      .account_photo
        width: 436px
      .view-subscriptions ul.view-subscriptions-list a li
        .profile-details
          width: 433px
@media screen and (max-width: 991px)
  .my_account
    .sidebar
      overflow: hidden
      width: 190px
      h2.subscriptions, h2.profile
        font-size: 14px
      ul
        a
          li
            font-size: 12px
    .content
      margin-bottom: 15px
      width: 515px
      .example_url
        width: 335px
      .graph
        svg
          width: 450px
      .cc_row
        ul
      .expiry_date
        width: 334px
      .item_feed
        .latest_post
          font-size: 12px
          width: 420px
      .form-group
        label
          font-size: 12px
          width: 135px
        .form-control
          font-size: 12px
          width: 335px
