.admin_settings
  font-size: 13px !important
  h1
    font-size: 24px
    font-weight: 600
    margin: 0
    padding: 15px 0
  h2
    font-size: 18px
    font-weight: 600
  .table
    padding-top: 15px
    margin-bottom: 0
  .btn
    font-size: 10px
    font-weight: 600
  .admin_nav
    border-bottom: 1px solid $color_border
    list-style: none
    padding-bottom: 15px

    a.active
      text-decoration: underline
      font-weight: bold
      color: $color_blue

    li
      display: inline-block
      padding-right: 15px

