.admin_settings
  border-bottom: 1px solid $color_border
  background-color: #f5f5f5
  font-size: 13px
  margin: 0px 0 0 0
  position: relative
  .sidebar
    margin: 0
    padding: 0
    .active
      background-color: #d8d8d8
    a
      color: $color_text_dark
      font-size: 14px
      text-decoration: none
  .content
    background-color: #FFFFFF
    min-height: 500px
    border-left: 1px solid $color_border
    .profile_detail_list, .payout_detail_list
      font-size: 13px
      li
        padding-bottom: 15px
    .payout_detail_list
      li
        padding: 0
        padding-top: 10px
        &:first-child
          padding: 0
    .dashboard-overview
      text-align: center
      p
        padding-top: 15px
        font-size: 13px
        color: $color_text_light
        strong
          color: $color_text_dark
          font-size: 32px
          display: block
      img
        margin: 0 auto
    .search_users_results
      p.bg-danger
        @include border-radius (5px)
        padding: 5px 15px
        font-size: 11px


.admin-popup
  .modal-title
    color: $color_text_dark !important
    font-size: 20px !important
    text-align: left
    span
      color: $color_pink !important
      font-size: 20px !important
      font-weight: bold !important
      display: inline-block !important
  .modal-body
    font-size: 13px !important
    .table-responsive
      border: 1px solid $color_border
      height: 300px
      overflow: hidden
      overflow-y: scroll
      table
        text-align: left !important
        th
          border-top: none !important

