// Homepage

.home_pitch
  background-color: #FFFFFF
  padding: 30px 0
  text-align: center
  .heading
    color: $color_pink
    font-weight: 600
    font-size: 60px
    line-height: 100%
  .sub_heading
    color: #000000
    font-size: 20px
    margin: 15px 0 30px
    line-height: 100%
  .hr_circle
    position: relative
    margin: 15px auto
  .step
    color: #000000
    font-weight: 600
  .icon
    height: 100px
    img
      margin: 0 auto
  .title
    color: $color_blue
    font-weight: 600
    font-size: 32px
    margin: 15px 0
    line-height: 100%
  .description
    color: #000000
    font-size: 14px
    line-height: 20px
    a
      display: block
      cursor: pointer
      color: $color_blue
      font-size: 16px
      padding-top: 5px
      text-decoration: underline
      &:hover
        color: $color_pink

  // Mobile

  @media screen and (max-width: 767px)
    .heading
      font-size: 40px
    .sub_heading
      font-size: 18px
      margin-bottom: 10px
    .step
      font-size: 24px
      margin-top: 20px
      margin-bottom: 10px
      text-decoration: underline
    .description
      .btn.pink
        display: none !important

  // Tablet

  @media screen and (min-width: 768px)
    .heading
      font-size: 48px
    .sub_heading
      font-size: 18px
      margin: 15px 0
    .hr_circle
      height: 25px
      width: 520px
    .step
      font-size: 18px
      margin: 15px 0 5px
    .icon
      height: 80px
      img
        height: 80px
    .title
      font-size: 24px
      margin: 15px 0 10px
    .description
      font-size: 13px
      line-height: 20px
      a
        font-size: 14px
        padding-top: 5px

  // Medium

  @media screen and (min-width: 992px)
    .heading
      font-size: 60px
    .sub_heading
      font-size: 20px
      margin: 15px 0 30px
    .hr_circle
      height: 25px
      width: 670px
    .step
      font-size: 20px
      margin: 15px 0 5px
    .title
      font-size: 32px
      margin: 15px 0
    .description
      font-size: 14px
      line-height: 20px
      a
        font-size: 16px
        padding-top: 5px


// Featured Profile

.featured_profile
  background-color: $color_background
  border-bottom: 1px solid $color_border
  display: block
  padding-bottom: 15px
  position: relative
  &.slideup, &.slidedown
    margin-top: -116px
    -webkit-transition: margin-top 0.5s ease-in-out
    -moz-transition: margin-top 0.5s ease-in-out
    -o-transition: margin-top 0.5s ease-in-out
    transition: margin-top 0.5s ease-in-out
  &.slidedown
    margin-top: 110px
  ul.homepage_slider
    margin-bottom: 0
  .previous, .next
    color: #c6c6c6
    font-size: 30px
    position: absolute
    top: 22px
    text-decoration: none
    height: 30px
    width: 30px
    &:hover
      color: $color_blue
  .hide_featured
    font-size: 13px
    color: $color_text_light
    cursor: pointer
    position: absolute
    top: -30px
    right: 30px
    text-shadow: none
  .btn.black
    display: block
    height: 70px
    margin: 0 15px
    position: relative
    .tagline,
    .alex,
    .soulja,
    .wendy,
    .arrow,
    .profile_directory
      position: absolute
      bottom: 0
      left: 0
    .alex
      height: 126px
      width: 288px
      left: 60px
    .soulja
      height: 123px
      width: 171px
      left: 130px
      bottom: -1px
    .wendy
      height: 129px
      width: 102px
      left: 130px
      bottom: -1px
    .arrow
      height: 100px
      width: 98px
      bottom: 25px
      left: 700px
    .profile_directory
      height: 118px
      width: 267px
      bottom: -1px
      left: 30px
    .tagline
      text-shadow: -1px -1px 0 #000000
      &.slide_three
        left: 310px
  .step_circles
    margin: 15px auto 0
    height: 15px
    width: 95px
    li
      @include border_radius(50%)
      display: inline-block
      list-style-type: none
      margin-left: 5px
      background-color: #d2d2d2
      height: 15px
      width: 15px
      &:first-child
        margin-left: 0
      &.active
        background-color: $color_blue

@media screen and (max-width: 767px)
  .featured_profile
    &.slidedown
      margin-top: 65px
    .btn.black
      height: 45px
      img
        display: none
      .bus
        display: none
      .tagline
        font-size: 12px
        position: relative
        top: 5px
        &.slide_three
          left: 0
    .previous
      top: 10px
      left: 5px
    .next
      top: 10px
      right: -5px
    .step_circles
      display: none

@media screen and (min-width: 768px)
  .featured_profile
    .btn.black
      .tagline
        font-size: 18px
        bottom: 23px
        left: 325px
        &.alex_text
          left: 365px
        &.soulja_text
          left: 320px
        &.wendy_text
          left: 250px
    .previous
      left: 0
    .next
      right: -10px

@media screen and (min-width: 991px)
  .featured_profile
    .btn.black
      .tagline
        font-size: 30px
        bottom: 13px
        left: 370px
    .previous
      left: -20px
    .next
      right: -20px

// Button Actions

.button_actions
  @include blue-area
  border-left: none
  border-right: none
  padding: 30px 0
  text-align: center
  .title
    color: #FFFFFF
    font-size: 60px
    font-weight: 700
    padding-bottom: 30px
    text-shadow: -1px -1px 0 #4495be
    span
      line-height: 100%
  .btn
    font-weight: 400
    font-size: 24px
    padding: 15px 0
  .or
    color: #256484
    font-size: 60px
    font-weight: 600
    text-shadow: 1px 1px 0 #7cc3e7

  // Mobile

  @media screen and (max-width: 767px)
    .title
      font-size: 26px
    .btn
      font-size: 20px
      padding: 15px
    .or
      font-size: 44px
      margin-bottom: 10px
      padding: 0

  // Small

  @media screen and (min-width: 768px)
    .title
      font-size: 44px
      padding-bottom: 30px
    .btn
      font-size: 20px
      padding: 15px 0
      width: 100%
    .or
      font-size: 54px

  // Medium

  @media screen and (min-width: 992px)
    .title
      font-size: 60px
      padding-bottom: 30px
    .btn
      font-size: 24px
      padding: 15px 0
    .or
      font-size: 60px

// Homepage Rows

.homepage_profile, .homepage_our_users, .homepage_analytics
  padding: 30px 0
  img
    margin: 0 auto
  .img-circle
    background-color: #FFFFFF
    border: 3px solid $color_border
  .description
    color: #000000
    .title
      font-size: 60px
      font-weight: 700
    ul
      font-size: 28px
      line-height: 40px
      list-style: disc
      padding: 50px 0 0 30px
      li
        padding-top: 30px
        &:first-child
          padding-top: 0
    span
      display: inline-block
      font-size: 28px
      line-height: 40px
    .btn.pink
      float: right
      font-size: 18px
      margin-top: 15px
      padding: 7px 15px

  // Mobile

  @media screen and (max-width: 767px)
    .description
      .title
        margin-top: -50px
        font-size: 40px
        text-align: center
      ul
        font-size: 20px
        line-height: 30px
        padding: 30px 0 0 30px
      span
        text-align: center
        font-size: 20px
        line-height: 30px
        margin-bottom: 15px

  // Small

  @media screen and (min-width: 768px)
    img
      width: 340px
    .description
      .title
        font-size: 44px
      ul
        font-size: 22px
        line-height: 30px
        padding: 60px 0 0 30px
      span
        font-size: 22px
        line-height: 32px
        span
          font-size: 22px

  // Medium

  @media screen and (min-width: 992px)
    .description
      padding-top: 30px
      .title
        font-size: 60px
      ul
        font-size: 28px
        line-height: 40px
        padding: 30px 0 0 30px
      span
        font-size: 28px

// Homepage Profile

.homepage_profile
  border-bottom: 1px solid $color_border
  a
    cursor: pointer

// Homepage Our Users

.homepage_our_users
  background-color: #FFFFFF
  border-bottom: 1px solid $color_border
  .description
    padding-top: 60px
    .title
      color: $color_blue
  @media screen and (max-width: 767px)
    .description
      .btn.pink
        margin-top: 0
        width: 100%
  @media screen and (max-width: 991px)
    .description
      padding-top: 50px

// Homepage Analytics

.homepage_analytics
  .description
    padding-top: 130px
    .title
      color: $color_pink
  @media screen and (max-width: 991px)
    .description
      padding-top: 100px

// Footer

@media screen and (max-width: 991px)
  .footer
    ul
      font-size: 12px
      text-align: center
      line-height: 20px
      margin: 0 auto
      float: none !important
    .copyright
      float: none !important
      text-align: center
      margin: 10px 0

.bus
  margin-left: 0px
  &.happy
    margin-left: 30px
