.popup
  &.pricing-breakdown
    width: 620px
    .modal-header
      margin: 0 0 15px
    .modal-body
      table
        margin-bottom: 15px
  &.confirm
    width: 460px
    .modal-header
      p
        line-height: 20px
    .modal-body
      text-align: center
      .btn
        margin: 0 7px
        width: 150px
        font-weight: 600
  &.authentication_popup
    width: 420px
    .modal-header
      .modal-title
        padding: 0
      .register_tagline
        color: #464646
    .modal-body
      .form-group
        margin-bottom: 5px
        .pull-left, .pull-right
          input[type='text']
            width: 180px
        &.tos_form
          margin: 0
          padding: 2px 0 15px
          position: relative
          .tos_checkbox
            cursor: pointer
            color: #3b9fd1 !important
            display: inline-block
            height: 31px
            width: 28px
            vertical-align: top
            &:before
              color: #3b9fd1
              content: "\f096"
              font: 400 35px/3.8rem FontAwesome
              cursor: pointer
              display: block
              height: 31px
            &.checked
              color: #8dc63f !important
              &:before
                color: #8dc63f
                content: "\f14a"
                font: 100 32px/3.7rem FontAwesome
                cursor: pointer
          label
            display: inline-block
            margin: 0
            padding: 8px 0 0 10px
            vertical-align: top
            .terms_text
              font-size: 12px
              font-weight: 400
              margin: 0
              text-align: left
              a
                white-space: nowrap
                &:hover
                  color: #464646
          .text-danger
            display: none
            position: absolute
            left: 37px
            top: -2px
            color: #000
            background: #FFA38A
            padding: 7px 10px
            border-radius: 5px
            font: 400 12px/1.5rem Helvetica, Arial, sans-serif
            text-align: left
            a
              color: #000
              white-space: nowrap
            &:before
              content: " "
              width: 0
              height: 0
              border-top: 10px solid transparent
              border-bottom: 10px solid transparent
              border-right: 10px solid #FFA38A
              position: absolute
              left: -8px
              top: 11px
        &.tos_submit
          margin: 0 0 15px
          input[type='submit']
            font-size: 20px
            width: 100%
        &.submit_area
          margin: 12px 0 15px
          .remember_me
            color: $color_text_light
            font-size: 12px
            font-weight: 400
            padding: 10px 10px 0 0
            input[type="checkbox"]
              margin: -1px 5px 0 0
              width: 12px
              height: 12px
          .send
            width: 100%
  &.search_popup
    width: 450px
    .modal-body
      padding: 0
      input.search_user
        margin: 0 auto 15px
        width: 100%
      .user_list
        .bg-danger,
        .list-group-item-heading
          font-size: 12px
          margin: 0 15px 15px
        .bg-danger
          @include border-radius($border_radius)
          padding: 10px 15px
        .list-group
          border-bottom: 1px solid #d7d7d7
          font-size: 13px
          .list-group-item
            border: none
            border-top: 1px solid $color_border
            padding: 10px 0
            position: relative
            img
              border: 1px solid $color_border
              display: inline-block
              margin-right: 15px
            small
              @include pink-area
              @include border-radius(5px)
              color: #FFFFFF
              font-size: 11px
              margin-top: 10px
              padding: 5px
            a
              color: $color_text_dark
              display: inline-block
              padding-top: 15px
              width: 210px
              &:hover
                color: $color_text_light
            &:first-child
              border-top: none
              padding-top: 0
            &:last-child
              padding-bottom: 0
      .search_user_results
        .list-group
          .list-group-item
            @include border-radius (0)
            color: $color_text_dark
            border-top: 1px solid $color_border !important
            padding: 10px 15px !important
            img
              background-color: #FFFFFF
              float: left
            .profile_name
              float: left
              margin-top: 12px
              overflow: hidden
              padding: 3px 0
              text-overflow: ellipsis
              white-space: nowrap
              max-width: 310px
              mark
                @include border-radius (5px)
                background: $color_blue
                color: #FFFFFF
                margin-right: 1px
                padding: 3px
            &:hover
              background-color: $color_pink
              color: #FFFFFF
      .btn.pink
        display: block
        font-size: 12px
        margin: 0 auto
        padding: 10px
        text-align: center
        width: 250px
        font-weight: 600
  &.subscribe_popup
    .modal-body
      .btn
        font-size: 16px !important
        padding: 7px 20px
        float: right !important
        font-weight: 600
        margin: 5px 0 0
        width: 100%
    .subscribe_container
      color: $color_text_dark
      font-size: 16px
      padding: 0 15px 15px
      max-width: 680px
      &.new_subscriber
        .tos_checkbox
          position: relative
          margin: 10px 0 5px
          padding: 0 30px 0 155px
          .text-danger
            display: none
            color: #000
            font-size: 12px
            position: absolute
            background: #FFA38A
            padding: 7px 18px
            border-radius: 5px
            left: 150px
            top: -2px
            line-height: 1.5rem
            font-family: Helvetica, Arial, sans-serif
            width: 380px
            a
              color: #000
              white-space: nowrap
            &:before
              content: " "
              width: 0
              height: 0
              border-top: 10px solid transparent
              border-bottom: 10px solid transparent
              border-right: 10px solid #FFA38A
              position: absolute
              left: -6px
              top: 11px
          input[type="checkbox"]
            vertical-align: top
            margin: 12px 25px 0 -32px
            position: absolute
            &:before
              top: -7px
              left: -7px
              background-color: white
              color: #898989
              content: "\f096"
              display: inline-block
              letter-spacing: 10px
              position: absolute
              height: 26px
              width: 26px
              border-radius: 8px
              font: 400 35px/3.2rem FontAwesome
            &:checked
              &:before
                top: -8px
                background-color: white
                content: "\f14a"
                color: #8dc63f
                display: inline-block
                font-size: 32px
          .terms_text
            font-size: 14px
            font-weight: 300
            padding: 10px 0 7px
            a
              white-space: nowrap
              &:hover
                color: #464646
        .tos_submit
          text-align: center
          input[type="submit"]
            &.btn.blue
              margin: 0 auto 10px
              width: 415px
              height: 44px
              font-size: 20px
              float: none !important
      .order_summary, .account_payment
        background: none
        padding: 15px
      .btn
        font-size: 16px !important
        padding: 7px 20px
        float: right !important
        font-weight: 600
        margin: 5px 0 0
        width: 100%
      .terms_text
        margin: 0
        padding: 10px 0
        text-align: center
        width: 100%
        font-size: 12px
      .order_summary
        background-color: none
        padding: 0
        .heading
          border-bottom: 1px solid #e1e1e1
          font-size: 20px
          font-weight: 600
          padding-bottom: 5px
          margin-bottom: 10px
        .subtotal, .transaction_fee
          margin: 15px 0
        .total_cost
          border-top: 1px solid #e1e1e1
          font-size: 20px
          font-weight: bold
          padding-top: 5px
          margin-top: 10px
          .cost
            color: $color_blue
        .note
          @include border-radius($border_radius)
          font-size: 12px
          padding: 10px
          margin-top: 28px
        .asterisk
          display: inline-block
          font-size: 12px
          font-weight: normal
      .account_payment
        padding: 10px 15px 15px
        .form-group
          margin-bottom: 0
        .form-control
          background-color: #FFFFFF
          border: 1px solid $color_border
          &:focus
            background-color: #FFFFFF
            border: 1px solid $color_blue
        .cc_row
          position: relative
          width: 300px
          margin-right: 15px
          ul.cc_images
            list-style: none
            position: absolute
            top: 4px
            right: 4px
            li
              display: inline-block
              padding-right: 5px
              img
                height: 20px
                width: 28px
          input.has-valid, input.has-error
            background-position-x: 145px
        .exp_date_cvc
          position: relative
          padding-top: 0
          font-size: 0
          .expiry_error
            display: inline-block
            width: 140px
            margin-left: 70px
            padding-top: 8px
            font-size: 12px
            line-height: 12px
          .cvc_error
            display: inline-block
            width: 75px
            float: right
            padding-top: 8px
            font-size: 12px
            text-align: right
            line-height: 12px
            overflow: visible
            margin-right: 12px
          .cvc
            margin-left: 15px
            width: 62px
          .cvc_question
            font-size: 16px
            cursor: pointer
            padding-top: 8px
            position: relative
            right: 0
            &:before
              color: $color_text_light
            &:hover
              &:before
                color: $color_text_dark
              .cvc_example
                display: block
            .cvc_example
              @include border-radius(5px)
              background-color: $color_pink
              border: 1px solid #cd233b
              color: #FFFFFF
              display: none
              padding: 10px
              position: absolute
              top: -90px
              right: 0
              width: 260px
              img
                margin-right: 5px
              span
                display: block
                font-weight: bold
                margin-bottom: 5px
              span
                font-size: 12px
              p
                font-size: 11px
                margin-bottom: 0
                width: 170px
        .address
          margin-top: 15px
      &.existing_billing
        width: 400px
        .order_summary
          margin-right: 0
      @media screen and (max-width: 767px)
        .new_subscriber
          form
            float: none !important
          .order_summary, .account_payment
            margin: 0
            width: 100%
            float: none
          .order_summary
            font-size: 11px
            min-height: 100px
            margin-bottom: 10px
            margin-top: -25px
            .heading
              font-size: 16px
              padding: 0 0 5px 0
              margin: 0 0 5px 0
              text-align: center
            .item_row
              font-size: 12px
            .subtotal, .transaction_fee
              font-size: 12px
              margin: 0
              padding: 5px 0
            .total_cost
              font-size: 13px
              padding: 5px 0
            .note
              display: none
          .account_payment
            padding: 0
            label
              font-weight: bold !important
            .form-group
              float: left
              width: 100%
              margin: 5px 0 0 0
              &:first-child
                margin-top: 0
        .existing_billing
          .order_summary
            min-height: 150px
            width: 100%
            .heading
              text-align: center
            .item_row
              font-size: 12px
            .subtotal, .transaction_fee
              font-size: 12px
              margin: 0
              padding: 5px 0
            .total_cost
              font-size: 13px
              padding: 5px 0
            .btn.blue
              margin-top: 5px !important
          .note
            display: none
        .new_billing
          form
            float: none !important
          .order_summary, .account_payment
            margin: 0
            width: 100%
            float: none
          .order_summary
            font-size: 11px
            min-height: 100px !important
            margin-bottom: 10px
            margin-top: -25px
            .heading
              font-size: 16px
              padding: 0 0 5px 0
              margin: 0 0 5px 0
              text-align: center
            .item_row
              font-size: 12px
            .subtotal, .transaction_fee
              font-size: 12px
              margin: 0
              padding: 5px 0
            .total_cost
              font-size: 13px
              padding: 5px 0
            .note
              display: none
          .account_payment
            padding: 0
            label
              font-weight: bold !important
            .form-group
              margin: 0
              label
                font-size: 11px
                font-weight: normal
                margin-bottom: 0
            .cc_row
              ul
                display: none
              input
                width: 100% !important
          .btn.blue
            margin-top: 10px !important
        .btn.blue
          font-size: 14px !important
          margin-top: 0 !important
      @media screen and (min-width: 768px)
        .account_payment
          background: $color_background !important
          padding: 15px
        .order_summary
          margin-right: 15px
  &.header_edit
    padding-top: 0
    overflow: hidden
    &.modal-content
      width: 745px
    .nav
      @include border_radius (10px 10px 0 0)
      background-color: $color_background
      margin: -1px -20px 0 -20px
      li
        margin-right: 0
        &:first-child
          margin-left: 20px
        a
          color: $color_text_light
          text-decoration: none
          padding: 10px 18px
          &:hover
            color: $color_text_dark
            background-color: #FFFFFF
        &.active
          a
            @include border_radius (0)
            color: $color_text_dark
            font-weight: 600
    .modal-header
      padding: 0
      margin: 10px 0
      .modal-title
        font-size: 24px
        padding-top: 5px
      span
        color: $color_text_light
        display: block
        font-size: 13px
        margin: 5px 0 15px
    .modal-body
      padding-top: 0
      .cost_container
        margin-top: 20px
        width: 100%
        .input_container
          margin: 0 auto 15px
          width: 250px
        .cost_input, .cost_submit
          float: left
          margin: 0
        .cost_input
          width: 100px
        .cost_submit
          margin-left: 15px
          width: 135px
        .btn.pink
          width: 100%
          font-size: 14px
          font-weight: 600
        .error
          margin: 10px 0 0
          text-align: center
        hr
          margin-top: 10px
      .welcome_media_player
        margin: 0 auto
        .no-media
          @include border-radius(10px)
          background: asset-url('create_post_video.png') no-repeat
          background-position: 50% 50%
          border: 1px solid $color_border
          height: 332px
        .btn.blue,
        .btn.pink
          font-size: 13px
        .audio_player, .video_player
          span.file_name
            font-size: 12px
            padding: 15px 0 0 0
            text-align: center
            display: block
        .video_player
          .jwplayer
            background-color: $color_background !important
            border: 1px solid $color_border
            margin: 0 auto
            min-height: 330px !important
            width: auto !important
        .select_file_container
          height: 35px
          position: relative
          margin: 15px auto 10px
          .btn, .hide_btn
            position: absolute
            top: 0
            right: 0
            width: 100%
          .hide_btn
            opacity: 0
            cursor: pointer
            position: absolute
            bottom: 0
            left: 0
            font-size: 0
      .input-group-addon
        @include black-area
        @include border-radius($border_radius 0 0 $border_radius)
        .fa
          color: #FFFFFF
      .profile_address
        color: #cccccc
        font-size: 11px
  &.photo_popup
    max-height: 100% !important
    .modal-body
      background-color: #252525
      position: relative
      padding: 0 !important
      .close
        position: absolute
        top: 3px
        right: 1px
        &.mobile_close
          cursor: pointer
          opacity: 0.6
          text-shadow: none
          height: 28px
          width: 28px
          z-index: 9999
          .fa.fa-circle
            color: $color_background
            font-size: 25px
          .fa.fa-times
            color: $color_text_dark
            font-size: 15px
            top: 5px
          &:hover
            opacity: 1
      a
        display: block
        z-index: 9998
      img
        @include border_radius (0)
        max-height: 90vh
        max-width: 90vw
        width: auto
      .photo_nav
        background-color: #252525
        border-top: 1px solid #252525
        font-size: 12px
        a
          color: #FFFFFF
          display: inline-block
          padding: 10px 30px
          text-decoration: none
          width: 50%
          text-align: center
          i.fa.fa-chevron-left
            &:before
              margin-right: 5px
          &:hover
            background: $color_blue
            color: #FFFFFF
  &.share-popup
    width: 380px
    .modal-body
      text-align: center
      a.fa
        color: $color_text_light
        font-size: 50px
        margin: 0 5px
        text-decoration: none
      .fa-facebook-square
        &:hover
          color: #4b67a0
      .fa-twitter-square
        &:hover
          color: #1da1f2
      .fa-pinterest-square
        &:hover
          color: #bb232c
      .fa-envelope-square
        &:hover
          color: $color_text_dark
  .contribution
    .modal-body
      max-width: 500px
      text-align: center
      .contribute-value
        margin: -15px 0 0
        span
          font-size: 13px
          font-weight: bold
          width: auto
        input[type='radio']
          margin: 0 5px 0 10px
        .custom-amount
          position: relative
          top: 16px
          input
            float: left
          input[type='radio']
            margin: 0 5px 0 10px
            position: relative
            top: 12px
          input[type='text']
            width: 140px
            margin-top: 2px
      .custom-message
        margin: 0
        textarea
          font-size: 13px
          height: 80px
          margin-top: 15px
      hr
        height: 1px
      .contribute-type
        input[type='radio']
          margin-right: 5px
        label
          font-size: 13px
          &#recurring_cont_0
            margin-right: 15px
      input.btn.blue
        width: 210px
        margin-top: 20px
      p.small
        font-size: 12px
        display: inline-block
        width: 250px
        margin: 20px 20px 0 10px
        text-align: left
        text-indent: -10px
      .error.limit
        @include border-radius(5px)
        background-color: #faf258
        border: 1px solid #f4cf3e
        color: #b29525
        font-size: 13px
        margin-top: 10px
        padding: 15px 70px
        text-align: center
  .edit_post_popup
    padding: 0
    width: 500px
    .close
      position: relative
      right: -15px
      top: -12px
    label
      display: block
      color: $color_text_dark
      font-size: 13px
      margin-bottom: 10px
    .edit_field
      font-size: 13px
    textarea.edit_field
      height: 100px
    .error
      padding: 8px 0
    .update-post
      width: 100%
    .edit_post_audio,
    .edit_post_doc,
    .edit_post_photo
      @include border-radius(5px)
      border: 1px solid $color_border
      height: 150px
      margin: 15px 0
      overflow-y: scroll
    .edit_post_audio, .edit_post_doc
      li
        background-color: #FFFFFF
        border-top: 1px solid $color_border
        font-size: 13px
        height: 33px
        overflow: hidden
        padding: 7px
        position: relative
        width: 100%
        &:first-child
          border: none
        .file_name
          overflow: hidden
          text-overflow: ellipsis
          width: 400px
          white-space: nowrap
        .delete_button
          position: absolute
          top: 10px
          right: 10px
    .edit_post_photo
      li
        @include border-radius(5px)
        background-color: $color_background
        border: 1px solid $color_border
        float: left
        margin: 8px
        overflow: hidden
        padding: 0
        position: relative
        height: 95px
        width: 95px
        img
          width: 95px
        .delete_button
          @include border-radius(0 0 0 5px)
          background-color: $color_background
          border: 1px solid $color_border
          border-top: none
          border-right: none
          padding: 0 5px
          position: absolute
          top: 0
          right: 0
    .edit_post_video
      @include border-radius(5px)
      border: 1px solid $color_border
      margin: 0 0 15px
      overflow: hidden
      li
        img
          width: 100%
  .compose_message_popup
    width: 450px
    textarea
      font-size: 12px
      height: 100px
      margin: 0 0 15px
    .btn.blue
      width: auto
  .modal-header
    border: none
    position: relative
    text-align: center
    .close
      position: absolute
      z-index: 2
    .modal-title
      color: $color_blue
      font-size: 32px
      line-height: 100%
      padding: 0 30px
      &.Question
        color: $color_text_dark !important
        font-size: 14px !important
        padding: 0 15px
        .heading
          font-size: 24px
          font-weight: 600
          margin-bottom: 15px
    span
      color: $color_text_light
      display: block
      font-size: 13px
      margin: 5px 0 15px
  .modal-body
    display: block
    .terms_text
      color: $color_text_light
      float: left
      font-size: 11px
      margin-top: 5px
      a
        color: $color_text_light
        white-space: nowrap
        &:hover
          color: $color_text_light
    .form-group
      label
        color: $color_text_dark
        font-size: 12px
        padding-top: 0px
    .form-control
      background-color: $color_background
      border: 1px solid $color_border
      &:focus
        background-color: #FFFFFF
        border: 1px solid $color_blue
    .text-danger
      color: $color_pink
      font-size: 11px
      margin: 0
      padding: 5px 0 0 0
    .email_share
      display: inline-block
      img
        margin: -25px 0 0 3px
    .contributors-table
      margin: 5px 0
      padding: 0
      text-align: left
      thead, tbody
        display: block
        padding: 0
        th, td
          padding: 7px
      tbody
        font-size: 12px
        max-height: 265px
        overflow-y: scroll
        overflow-x: hidden
        td
          a
            display: block
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            min-width: 130px
            max-width: 130px
            width: 130px
  .modal-footer
    font-size: 12px
    margin-top: 0
    padding-bottom: 0
    text-align: center
    span
      color: $color_text_light
    a
      color: $color_text_light
      &:hover
        color: $color_text_dark
  .hide-show
    margin-top: -15px
    padding: 15px 30px
    text-align: center
    .btn.pink
      display: block
      font-size: 13px
      margin: 0 0 10px
      width: 100%
      font-weight: 600
      padding: 0
    p.or
      color: $color_text_dark
      font-weight: bold
      font-size: 18px
      margin-top: 10px
      text-align: center
    a
      cursor: pointer
      font-size: 12px
      margin-top: 10px
      text-align: center
      padding: 0
      i
        display: block
        padding: 10px 15px

.popup
  padding: 15px 20px
  .modal-content
    width: 700px
    .modal-body
      text-align: left
      margin-bottom: 15px
      .well.well-sm
        margin-bottom: 0
        &.radio-inline
          font-size: 13px
        &.radio-inline:last-child
          font-size: 13px
          margin-left: 15px
    hr
      margin-top: 5px
  .modal-header
    span
      padding: 0 15px
  .modal-body, .modal-header
    padding: 0 !important
    i.close
      right: -15px
      top: -12px

.header_edit
  i.close
    top: -5px !important

.nevermind
  cursor: pointer
  display: block
  width: 100%
  text-align: center
  padding: 10px 0 0

.form-group:last-of-type
  margin-bottom: 0

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder
  font-size: 12px

input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder
  font-size: 12px

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder
  font-size: 12px

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder
  font-size: 12px

.modal-header
  .close
    margin-top: 0 !important

// TOS standalone popup
.tos_popup_modal
  z-index: 11002 !important
  display: block !important
  margin-top: 15px !important
  margin-left: -270px
  margin-right: -270px
  width: 540px
  height: 450px
  top: 0 !important
  position: relative
  padding: 65px 15px 0 15px
  .tos_navbar
    position: absolute
    left: 0
    top: 0
    right: 0
    height: 55px
    text-align: center
    background-color: #5B9ED5
    .brand
      padding: 9px 0 0
      img
        height: 38px
        width: auto
        margin: 0
  .modal-header
    .modal-title
      padding: 0
      h2
        font-size: 16px
        font-weight: 600
        line-height: 135%
        margin: 0 0 10px
        a
          color: #3b9fd1
          font-weight: bold
          white-space: nowrap
  .form_submit
    position: absolute
    width: 100%
    bottom: -130px
    border-top: 1px solid #d7d7d7
    background: #fff
  .form-group
    position: relative
    background: #f7f7f7
    border: 1px solid #D7D7D7
    text-align: center
    padding: 15px 10px
    margin: 15px 0
    font-size: 12px
    line-height: 135%
    font-weight: 300
    .tos_text
      margin: 0 0 25px
      font-family: Helvetica, Arial, sans-serif
      font-weight: 300
    &.tos_scroll
      padding: 0 15px
      margin-top: 0
      height: 220px
      overflow-y: scroll
      color: #636363
      &.tos_text
        font-family: Helvetica, Arial, sans-serif
        text-align: left
        h1, h2
          font-size: 14px
          font-weight: bold
          text-align: center
    &.tos_submit
      background: none
      padding: 0
      margin: 0
      border: none
      input[type="submit"]
        width: 100%
        font-size: 24px
        padding: 14px
        opacity: 1
        margin-bottom: 15px
  .tos_toggler
    display: inline-block
  .tos_checkbox
    cursor: pointer
    font-size: 30px !important
    color: #3b9fd1 !important
    font-weight: 600
    margin: 0
    display: inline-block
    &:before
      background-color: #f7f7f7
      color: #3b9fd1
      content: "\f096"
      letter-spacing: 10px
      height: 38px
      width: 38px
      border-radius: 8px
      font: 100 49px/44px FontAwesome
      cursor: pointer
      display: inline-block
      margin-right: 10px
      vertical-align: middle
      margin-top: -4px
    &.checked
      color: #8dc63f !important
      &:before
        background-color: #fff
        color: #8dc63f
        content: "\f14a"
        letter-spacing: 10px
        height: 38px
        width: 38px
        border-radius: 8px
        font: 100 44px/40px FontAwesome
        cursor: pointer
        display: inline-block
        margin-right: 10px
        vertical-align: middle
        margin-top: -4px

.tos_wrapper
  z-index: 11001 !important

#tos_overlay
  z-index: 11001
  background: black
  position: fixed
  bottom: 0
  left: 0
  right: 0
  top: 0
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  filter: alpha(opacity=50)
  -moz-opacity: 0.5
  -khtml-opacity: 0.5
  opacity: 0.7
