// Profile Header
#header
  margin-top: 20px
  overflow: hidden
  position: relative

  // Admin Login
  .admin_login
    background: $color_green
    border-bottom: 1px solid #87bf3b
    color: #FFFFFF
    display: block
    margin: -15px 0 15px
    padding: 10px 0
    text-align: center
    text-decoration: none
    text-transform: uppercase
    width: 100%
    &:hover
      background: $color_blue
      border-color: #277aa3

  // RSS
  .rss
    opacity: 0.7
    color: $color_blue
    font-size: 14px
    text-decoration: none
    z-index: 100
    cursor: pointer
    background: $color_background
    position: absolute
    right: -2px
    top: -2px
    padding: 5px 10px 5px 10px
    border-radius: 0 10px 0 10px
    border-bottom: 1px solid $color_border
    border-left: 1px solid $color_border
    &:hover
      opacity: 1
      color: $color_pink
      text-decoration: none

  // Photo Cover
  .photo_cover
    background-color: $color_background
    background: asset-url('cover-default.png') no-repeat
    background-size: 100%
    border-bottom: 1px solid $color_border
    display: block
    overflow: hidden
    margin-bottom: 15px
    position: relative
    z-index: 1
    .background_cover
      overflow: hidden
      height: inherit
    #change_position
      right: 217px
    .replace_photo
      right: 110px
    .delete_photo, .add_photo
      right: 15px

  // Photo Profile
  .photo_profile
    background: asset-url('default_profile_pic.png') no-repeat
    background-size: 100%
    background-color: $color_background
    border: 1px solid $color_border
    position: absolute
    top: 28px
    left: 15px
    height: 182px
    width: 182px
    z-index: 2
    img
      background-color: #FFFFFF
      height: 180px
      width: 180px
    .profile_pic_btn
      font-size: 12px
      &.fa-times
        right: 5px
      &.fa-picture-o
        left: 5px
      input.file
        height: 32px
    .profile_pic_add
      left: 33px
      .file
        height: 32px !important

  // Photo Profile & Cover Buttons
  .photo_cover, .photo_profile
    .btn
      position: absolute
      bottom: 15px
      .fa
        &:before
          padding-right: 5px
      @media screen and (min-width: 991px)
        display: none
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
        display: block
    &.blank, &:hover:not(.editing)
      .btn
        display: block

  // Details Container
  .details_container
    min-height: 65px
    padding: 0 15px
    position: relative

    // Edit Gear
    .edit-gear
      color: $color_gear
      cursor: pointer
      font-size: 20px
      float: left
      position: relative
      width: 25px
      .edit-text
        @include border-radius(5px)
        @include linear-gradient(#ea4e65, #ea2f49)
        @include box-shadow(inset 0 1px 0 0 #ef7b8c)
        border: 1px solid #cd233b
        color: #FFFFFF
        display: none
        font-size: 12px
        padding: 5px
        text-align: center
        text-shadow: -1px -1px 0 #c3384c
        position: absolute
        top: -2px
        left: 23px
        z-index: 1
      &:hover
        .edit-text
          display: block

    // Profile Details Left - Name & Types
    .profile_details_l
      color: $color_text_dark
      display: inline-block
      font-weight: 600
      font-size: 34px
      line-height: 120%
      margin: 0 28px 0 0

      // Profile Name
      .profile_name
        padding: 5px 0 6px
        h1
          color: $color_text_dark
          font-size: 36px
          font-weight: 600
          line-height: 110%
          margin: 0
          text-decoration: none
          word-wrap: break-word

        // Owner Role
        &.own-role
          .edit-gear
            top: 10px
          h1
            float: left
          &:hover
            .edit-gear
              color: $color_gear_hover

      // Profile Type
      .profile_type
        padding: 17px 0 15px
        h3
          color: #898989
          font-size: 12px
          font-weight: 400
          line-height: 22px
          margin: 0
          text-decoration: none

        // Owner Role
        &.own-role
          h3
            float: left
          &:hover
            .edit-gear
              color: $color_gear_hover

      @media screen and (max-width: 990px)
        width: 400px
        .profile_name, .profile_type
          &.own-role
            h1, h3
              width: 375px

      @media screen and (min-width: 991px)
        width: 600px
        .profile_name, .profile_type
          &.own-role
            h1, h3
              width: 575px

    // Profile Details Right - Cost & Welcome Video
    .profile_details_r
      display: inline-block
      position: absolute
      top: 0
      right: 15px
      width: 290px

      // Cost & Subscribe Container
      .cost_container
        display: block
        width: 100%
        .edit-gear
          float: right
          top: 15px
        .red-icon, .amount
          float: right
          height: 50px
        .red-icon
          @include border-radius($border_radius 0 0 10px)
          @include box-shadow(inset 0 1px 0 0 #ef7b8c)
          @include linear-gradient(#ea4e65, #ea2f49)
          border: 1px solid #cd233b
          color: #FFFFFF
          font-size: 24px
          padding-top: 11px
          text-align: center
          text-shadow: -1px -1px 0 #c3384c
          width: 50px
        .amount
          @include border-radius(0 $border_radius $border_radius 0)
          background-color: $color_background
          border-top: 1px solid $color_border
          border-right: 1px solid $color_border
          border-bottom: 1px solid $color_border
          color: $color_pink
          float: right
          font-weight: 600
          line-height: 100%
          min-width: 170px
          overflow: hidden
          padding: 17px 10px 0
          .cost
            font-size: 36px
          .month
            font-size: 20px
          .pending_approval
            font-size: 17px

        // Visitor View
        .visitor
          .subscribe, .pending_visitor
            color: #FFFFFF
            padding: 0
            height: 50px
            width: 220px
            position: absolute
            right: 0
            top: 0
          .subscribe
            @include linear-gradient(#a4e052, #8dc63f)
            @include box-shadow(inset 0 1px 0 0 #e8f7d4)
            border: 1px solid #87bf3b
            display: none
            font-size: 32px
            text-shadow: -1px -1px 0 #8ec245
          .pending_visitor
            @include linear-gradient(#ea4e65, #ea2f49)
            @include box-shadow(inset 0 1px 0 0 #ef7b8c)
            border: 1px solid #cd233b
            display: block
            font-size: 22px
            padding-top: 7px
            text-shadow: -1px -1px 0 #c3384c
          &:hover
            .amount, .red-icon
              display: none
            .subscribe
              display: block

        // Failed View
        .failed_billing
          .amount
            font-size: 14px
          &:hover
            .amount, .red-icon
              display: block
            .subscribe
              display: none

        // Owner View
        &.own-role
          &:hover
            .edit-gear
              color: $color_gear_hover
              &:hover
                .edit-text
                  left: -40px

      // Subscribed
      .subscribed
        @include border-radius($border_radius)
        @include green-area
        color: #FFFFFF
        display: block
        height: 50px
        float: right
        font-size: 32px
        text-align: center
        width: 240px

      // Add Welcome Video
      .add_welcome_video
        float: right
        font-size: 16px
        margin-top: 15px
        padding: 10px 0
        width: 220px
        .fa-plus
          &:before
            margin-right: 5px

  // Details Container
  .benefits_container
    margin: 0 -15px
    .edit-gear
      cursor: pointer
      float: left
      left: 5px
      top: 7px
    .label
      @include black-area
      @include border-radius(0 10px 10px 0)
      color: #FFFFFF
      cursor: default
      float: left
      font-size: 13px
      font-weight: 400
      padding: 10px 15px
    .benefits-list
      padding: 50px 15px 15px
      ul
        font-size: 13px
        line-height: 20px
        margin: 0 0 0 20px
        li
          color: $color_text_dark
          font-size: 13px
          .fa
            font-weight: 400
            top: 3px
            &:before
              color: $color_green
    &.own-role
      &:hover
        .edit-gear
          color: $color_gear_hover
          &:hover
            .edit-text
              left: 23px

// Create Post (Owner View)
#create_post_container
  position: relative
  #create_post_nav
    @include linear-gradient(#FFFFFF, #F7F7F7)
    @include border-radius($border_radius $border_radius 0 0)
    border-left: 1px solid $color_border
    border-top: 1px solid $color_border
    border-right: 1px solid $color_border
    padding: 0
    margin: 0
    margin-top: $box_margin
    line-height: 100%
    li
      cursor: pointer
      border-right: 1px solid $color_border
      display: inline-block
      list-style-type: none
      &:last-child
        border-right: none
      &.active
        a
          color: $color_blue
      a
        border-bottom: none
        color: #464646
        text-decoration: none
        text-shadow: -1px -1px 0 #FFFFFF
        &:focus
          outline: none
        input
          cursor: pointer !important
          height: 15px
        &.fa
          &:before
            color: $color_text_dark
            padding-right: 10px
        &:hover
          color: $color_blue
          .fa
            &:before
              color: $color_blue

  // Create Post
  #create_post
    @include border-radius(0 0 $border_radius $border_radius)
    // Submitted Post
    .submit_cancel_container
      -webkit-transition: opacity 1s ease-in-out
      -moz-transition: opacity 1s ease-in-out
      -ms-transition: opacity 1s ease-in-out
      -o-transition: opacity 1s ease-in-out
      transition: opacity 1s ease-in-out
      visibility: visible
    .congrats_post
      display: none
      opacity: 0
      position: absolute
      bottom: 0
      right: 15px
      width: 438px
      -webkit-transition: opacity 2s ease-in-out
      -moz-transition: opacity 2s ease-in-out
      -ms-transition: opacity 2s ease-in-out
      -o-transition: opacity 2s ease-in-out
      transition: opacity 2s ease-in-out
    &.submitted
      .submit_cancel_container
        opacity: 0
        visibility: none
      .congrats_post
        display: block
        opacity: 1

    // Status Post Textarea
    #post
      padding: 15px
      position: relative
      textarea
        display: block
        min-height: 60px
        width: 100%
      .notify
        margin: 10px 0 0 0
        label
          color: $color_text_light
          font-size: 12px
          font-weight: 400 !important
        .yes_width
          margin-left: 10px
          width: 45px
        .no_width
          width: 38px
      input[type="submit"]
        &:focus
          color: #FFFFFF
          outline: none

    // Uploading Container
    #uploading
      margin: 15px 0
      position: relative

      // Progress Bar
      .progress_title
        color: $color_blue
        font-size: 16px
        font-weight: 600
        padding: 10px 15px 15px

      // File Status
      .file_status
        border-bottom: 1px solid $color_border
        font-size: 13px
        height: 36px
        margin-bottom: 15px
        .progress
          margin-bottom: 0
        .file_name
          color: $color_text_dark
        .percentage
          text-align: right

      // Pending Files
      .pending_audio, .pending_video, .pending_photo, .pending_document
        overflow: hidden
        position: relative
        .video_bg_preupload
          @include border-radius (5px)
          border: 1px solid $color_border
          height: 190px
          background: asset-url('create_post_video.png') no-repeat
          @media screen and (min-width: 768px) and (max-width: 991px)
            background-position-x: -60px

        // Listed Files
        .added_audio, .added_video, .added_photo, .added_document
          overflow: hidden
          height: 270px
          ul
            @include border-radius (5px)
            background-position: 50%
            border: 1px solid $color_border
            height: 190px
            margin: 0
            padding: 0
            overflow: hidden
            overflow-y: scroll
            &.audio_bg
              background: asset-url('create_post_audio.png') no-repeat
              // Tablet
              @media screen and (min-width: 768px) and (max-width: 991px)
                background-position-x: -60px
            &.photo_bg
              background: asset-url('create_post_photo.png') no-repeat
              // Tablet
              @media screen and (min-width: 768px) and (max-width: 991px)
                background-position-x: -60px
            &.document_bg
              background: asset-url('create_post_document.png') no-repeat
              // Tablet
              @media screen and (min-width: 768px) and (max-width: 991px)
                background-position-x: -60px
            li
              background-color: $color_background
              border-bottom: 1px solid $color_border
              height: 30px
              padding: 0 10px

              // Sort Related
              .dragger
                cursor: move
                margin: 8px 5px 0 0
                padding: 0
              &.Cell
                border: 1px dashed $color_pink
                height: 30px
                width: 100%

              // Details
              .file_name
                font-size: 12px
                margin-top: 6px
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                width: 345px
              .fa-music, .fa-paperclip
                &:before
                  color: $color_blue
                  font-size: 12px
                  padding-right: 3px
                  position: relative
                  top: 7px
                  margin-left: 3px
              .fa-paperclip
                &:before
                  font-size: 15px
              &:first-child
                padding-top: 0

              // Delete X icon
              a.delete_button
                float: right
                margin: 8px 0 0 10px
                text-decoration: none
                &:hover
                  text-decoration: none
                  &:before
                    color: $color_text_dark
          p
            color: $color_pink
            font-size: 12px
            margin: 0
            padding: 20px 0 0
            text-align: center

        // Supported File Type
        span.supported_files
          color: $color_text_light
          cursor: pointer
          display: inline-block
          font-size: 12px
          margin: 17px 0 0
          text-decoration: underline
          position: relative
          .file_types
            @include border-radius(5px)
            background-color: $color_pink
            border: 1px solid #cd233b
            color: #FFFFFF
            display: none
            font-size: 12px
            padding: 7px 10px 8px
            position: absolute
            top: 29px
            left: 0
            width: 439px
            z-index: 1
          &:hover
            text-decoration: none
            .file_types
              display: block

        // Listed Video
        .added_video
          .heading
            color: $color_text_light
            font-size: 14px
            text-align: center
            padding: 5px 0 25px
          ul.video_bg
            border: none !important
            overflow: hidden !important
            height: 140px
            li
              @include border-radius (5px)
              background-color: #FFFFFF
              display: inline-block
              list-style-type: none
              margin: 0 0 0 16px
              position: relative
              height: 140px
              width: 130px
              padding: 0
              &:first-child
                margin-left: 0
              input[type=radio]
                position: relative
                top: -3px
                left: 57px
              label
                border-radius: 5px
                height: 120px
                margin: 0
                overflow: hidden
                padding: 0
              img
                height: 130px
              .delete_button
                @include border-radius(0 5px 0 5px)
                background-color: $color_pink
                color: #FFFFFF
                font-size: 11px
                padding: 2px 5px 3px
                position: absolute
                top: 12px
                right: 0px
                .fa.fa-times
                  &:before
                    padding-right: 3px
              &.upload_custom
                background-color: #FFFFFF
                border: none
                overflow: hidden
                .upload_custom_btn
                  @include green-area
                  @include border-radius(5px)
                  color: #FFFFFF
                  cursor: pointer
                  height: 120px
                  margin-right: 0
                  position: relative
                  text-align: center
                  top: 20px
                  i.fa.fa-picture-o
                    font-size: 16px
                    line-height: 20px
                    margin-top: 30px
                    &:before
                      font-size: 36px
                      display: block
                      margin-bottom: 10px
                  .custom_image
                    position: absolute
                    top: -1px
                    left: -1px
                  .upload_btn
                    height: 130px
                    width: 130px
                    opacity: 0
                    position: absolute
                    top: 0
                    left: 0
                    cursor: pointer

        // Listed Photo
        .added_photo
          ul
            padding: 5px
            white-space: nowrap
            li
              background-color: #FFFFFF
              border-bottom: none
              height: 100px
              float: left
              margin: 0 5px 5px 0
              overflow: hidden
              padding: 0 !important
              position: relative
              &:last-child
                margin-right: 0
              img
                border: 1px solid $color_border
                height: 98px
              .delete_photo
                background-color: $color_pink
                @include border-radius(0 0 0 $border_radius)
                color: #FFFFFF
                font-size: 11px
                padding: 5px 10px
                position: absolute
                top: 1px
                right: 1px
                text-decoration: none
                &:hover
                  background-color: $color_blue

        // Select Files Container
        .select_file_container
          .multi
            @include border-radius (5px)
            bottom: 0
            color: #FFFFFF
            margin: 0 auto
            padding: 6px 0
            position: absolute
            text-align: center
            width: 100%
          .hide_btn
            opacity: 0
            cursor: pointer
            position: absolute
            bottom: 0
            left: 0
            height: 34px
            width: 439px

      // Upload Details
      .upload_details
        .form-control
          color: $color_text_dark !important
          &.bg-color
            background-color: $color_background
          font-size: 13px
          margin-top: 15px
          margin-bottom: 0
          &:focus
            outline: none
        textarea
          height: 131px
          overflow: auto
        .error
          padding: 5px 0
        .notify
          margin-bottom: 6px
          label
            color: $color_text_light
            font-size: 12px
            font-weight: 400 !important
          .no_width
            margin-left: 10px
            width: 38px
          .yes_width
            width: 38px
        .btn.blue
          @include border-radius (5px)
          padding: 6px 10px
        .cancel_post
          color: #959595
          cursor: pointer
          font-size: 12px
          margin-top: 9px
          margin-right: 15px
          &:hover
            text-decoration: underline

        .congrats_post
          background-color: #8dc63f
          border: 1px solid #87bf3b
          text-align: center
          color: #FFFFFF
          font-size: 13px
          padding: 6px 0

// Subscriber Display
#subscriber_display
  margin-top: $box_margin

  // Sidebar
  .sidebar
    @media screen and (min-width: 991px)
      display: block !important
    @media screen and (max-width: 767px)
      display: none

    // Profile Action
    .share_url, .contribute_url, .contact_url
      margin-bottom: $box_margin
      padding: 15px
      text-align: left
      position: relative
      width: 100%
      .fa
        position: absolute
        top: 15px
        left: 15px
        &:before
          font-size: 50px
      .heading, span
        line-height: 100%
        padding-left: 60px
      .heading
        font-size: 22px
        font-weight: 600
        padding-top: 2px
      span
        font-size: 13px

    .contact_url
      .fa
        top: 12px
        &:before
          font-size: 48px

    .contribute_url
      .heading, span
        padding-left: 40px
      .fa
        left: 15px
        top: 13px

    // Search Profile Content
    .search
      margin-bottom: $box_margin
      .input-group-addon
        @include black-area
        @include border-radius($border_radius 0 0 $border_radius)
        padding: 15px
        .fa
          color: #FFFFFF
      input
        @include border-radius(0 $border_radius $border_radius 0)
        height: 47px !important

    // Archived Content
    .archive_cloud
      margin-bottom: $box_margin
      padding: 15px
      position: relative
      span
        color: $color_pink
        display: block
        font-size: 22px
        font-weight: 600
        line-height: 100%
        padding-bottom: 10px
      ul
        margin: 0
        li
          display: inline-block
          list-style-type: none
          padding-right: 13px
          a
            color: $color_text_dark

    // Contact Info
    .contact
      padding-bottom: 0
      margin-bottom: 30px
      span
        padding-bottom: 20px
      .edit_contact
        cursor: pointer
        position: absolute
        top: 15px
        right: 15px
        &:before
          color: $color_gear
          font-size: 20px
        &:hover
          &:before
            color: $color_gear_hover
      ul
        margin: 0 0 15px 0
        columns: 2
        -webkit-columns: 2
        -moz-columns: 2
        li
          font-size: 13px
          line-height: 100%
          padding-bottom: 15px
          a
            color: $color_text_dark
            font-weight: 400
            text-decoration: none
            &.fa
              &:before
                color: $color_text_dark
                font-size: 16px
                padding-right: 10px
                position: relative
                top: 1px
            &:hover
              &.fa
                &:before
                  color: $color_blue

  // Recent Posts
  .recent_posts
    position: relative
    &.pending
      opacity: 1 !important
      &:after
        background-image: asset-url('preloader.gif')
        background-size: 76px 76px
        content: ""
        display: inline-block
        margin: 0 0 15px 274px
        height: 76px
        width: 76px

    // Search Posts
    .show_results
      @include border-radius($border_radius)
      border: 1px solid #e6d996
      color: #b7a549
      padding: 15px
      .clear-search
        font-size: 13px
        float: right
        .fa.fa-times
          padding-left: 5px
        &:hover
          color: $color_pink

    // No Posts
    .no_post_yet
      color: #e1e1e1
      font-size: 24px
      text-align: center
      .fa-stack
        margin: 0 auto
        .fa-exclamation
          &:before
            color: $color_background
      span
        display: block
        margin-top: 15px
      // Mobile
      @media screen and (max-width: 767px)
        font-size: 14px
        margin-bottom: 80px

    // Single Post
    .post
      margin-bottom: $box_margin
      padding-top: 15px
      position: relative
      z-index: 1
      .edit_container
        @include border-radius(5px)
        background-color: #FFFFFF
        border: 1px solid $color_border
        cursor: default !important
        font-size: 11px !important
        padding: 0
        position: absolute
        overflow: hidden
        top: -5px
        right: -5px
        width: 70px
        z-index: 1
        ul
          margin: 0
          padding: 0
          a
            color: $color_text_light
            text-decoration: none
            &:hover
              color: #FFFFFF
            li
              background-color: #FFFFFF
              border-bottom: 1px solid $color_border
              padding: 5px 10px
              text-align: left
              &.last
                border-bottom: none
                background-color: $color-border
                &:hover
                  background-color: $color_pink
              &:hover
                background-color: $color_blue
      .edit_post
        cursor: pointer
        margin-right: 15px
        position: relative
        &.fa
          &:before
            color: $color_gear
        &:hover
          &.fa
            &:before
              color: $color_gear_hover
      .post_title
        color: $color_blue
        font-size: 16px
        padding: 0 15px 5px 15px
        word-wrap: break-word
        white-space: pre-wrap
      .date
        color: #c2c2c2
        font-size: 12px
        padding: 0 15px
      span.file_name
        float: none !important
        display: block
        font-size: 12px
        font-weight: 600
        padding: 0
        margin: 10px 0
        width: 100%
      a.file_download
        color: $color_blue
        cursor: pointer
        display: inline-block
        font-size: 12px
        margin: 10px 15px 0 0
        text-decoration: none
        &:hover
          text-decoration: underline
      .audio_player, .video_player, .photo_display, .doc_view
        background-color: $color_background
        border: 1px solid $color_border
        display: block
        margin: 15px 15px 0 15px
      .audio_player
        background-color: #FFFFFF
        margin: 0 15px 0 15px
        height: 30px
        border: none
        .jwplayer
          width: 100% !important
      .video_player
        .jwplayer
          display: block
          width: 100% !important
          margin: 0
        img.poster
          width: inherit
      .photo_display
        background-color: #FFFFFF
        border: none
        position: relative
        overflow: hidden
        a
          border: 1px solid $color_border
          display: block
        img
          background-color: $color_background
          -webkit-transition: opacity 250ms ease
          -moz-transition: opacity 250ms ease
          -o-transition: opacity 250ms ease
          transition: opacity 250ms ease
          max-width: 583px
          &:hover
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
            filter: alpha(opacity=80)
            -moz-opacity: 0.8
            -khtml-opacity: 0.8
            opacity: 0.8
        &.one
          max-height: 585px
          width: 585px
        &.two
          a
            float: left
            width: 284px
            height: 284px
            overflow: hidden
          img
            min-height: 282px
        &.three
          .three_left, .three_stacked
            a
              float: left
              height: 284px
              width: 284px
              overflow: hidden
          .three_left
            img
              min-height: 282px
          .three_stacked
            a
              height: 134px !important
            img
              max-width: 282px

      // Doc View
      .doc_list
        li
          .doc_view
            @include border-radius ($border_radius)
            color: $color_text_dark
            overflow: hidden
            .preview
              background: #FFFFFF
              border-right: 1px solid $color_border
              height: 100px
              overflow: hidden
              position: relative
              width: 200px
              .fa-search
                position: absolute
                display: none
                top: 25px
                left: 75px
                &:before
                  color: $color_text_dark
                  font-size: 50px
            .doc_details
              span
                color: $color_blue
                display: block
                font-size: 20px
                font-weight: 600
                margin: 20px 0 5px 15px
              .doc_title
                font-size: 14px
                margin-left: 15px
                width: 350px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
            &:hover
              text-decoration: none
              background: $color_blue
              color: #FFFFFF
              .preview
                background: #FFFFFF
                img
                  opacity: 0.5
                .fa-search
                  display: block
              .doc_details
                span, .doc_title
                  color: #FFFFFF

      // Message
      .message
        font-size: 13px
        line-height: 20px
        padding: 15px
        word-wrap: break-word
        white-space: pre-wrap
        @media screen and (max-width: 767px)
          font-size: 12px

      // Action Bar
      .action_bar
        @include white-area
        border-top: 1px solid $color_border
        display: block
        height: 38px
        padding: 10px 15px
        position: relative
        .fa
          text-decoration: none
          &:before
            color: $color_text_light
            position: relative
            top: 1px
            text-decoration: none !important
          &:hover
            color: $color_text_dark
            text-decoration: none
            &.fa
              &:before
                color: $color_blue
        .liked_post
          &.fa
            &:before
              color: $color_blue
        .users_liked
          color: $color_text_light
          font-size: 12px
          padding-left: 5px
          @media screen and (max-width: 767px)
            font-size: 10px
            padding-top: 2px
          .tmp
            color: $color_blue
            cursor: pointer
            text-decoration: none
        .more_liked_hover
          @include border-radius(5px)
          background: rgba(0, 0, 0, 0.9)
          color: $color_background
          display: none
          padding: 5px 10px 7px 10px
          position: absolute
          text-shadow: none
          font-size: 11px
          bottom: 30px
          left: 110px
          z-index: 9999
          width: 350px

    // Mobile
    @media screen and (max-width: 767px)
      .post
        .post_title
          width: 100%
          font-size: 14px
        .date
          font-size: 11px
        .comment_container
          .photo
            margin-right: 10px
          .comment_row
            .content
              width: 100%
              .comment_text
                font-size: 12px
                padding-bottom: 5px
              //.delete
                display: none
              .reply_comment
                font-size: 11px
              .post_date
                font-size: 10px
                margin-top: 5px
          .nested_row
            min-height: 60px
            padding-left: 67px
            .nested_content
              width: 100%
              .comment_text
                font-size: 12px
              .post_date
                font-size: 10px
              //.delete
                display: none
          .reply_container
            .comment_section
              float: none !important
              min-height: 52px
              width: 100%
            .Highlighter
              width: 100%
            .reply_input
              width: 100% !important
            .mentioner
              width: 100%
        .photo_view
          margin-bottom: 0
        .photo_display
          img
            width: 100%
          &.one
            padding-right: 30px
            width: 100%
            a
              img
                width: 100%
                max-width: 100%
          &.two
            a
              float: none !important
              height: auto
              width: 100%
              margin: 10px 0 0 0
              &:first-child
                margin-top: 0
              img
                min-height: 50px
                margin-bottom: 0
                max-width: 100%
          &.three
            .three_left, .three_stacked
              a
                float: none !important
                height: auto !important
                width: 100%
                margin: 10px 0 0 0 !important
                img
                  min-height: 50px
                  margin-bottom: 0
                  max-width: 100%
                  width: 100%

        .video_player
          margin-top: 10px
          min-height: 152px !important
          .jwplayer
            min-height: 150px !important
            height: auto !important

    // Discussion Dropdown
    .comment_container
      background-color: $color_background
      border-top: 1px solid $color_border
      padding-top: 15px
      position: relative
      .load_more_comments
        width: 100%
        display: block
        text-align: center
        background: $color_gray_back
        color: #428bca
        margin-top: -15px
        margin-bottom: 20px
        border-bottom: 1px solid white
        padding: 10px 0
        font-size: 11px
        &:hover
          background: rgb(243, 243, 243)
          color: #428bca
          text-decoration: none
      .photo
        background: asset-url('profile_comment_default.png') no-repeat
        background-size: 100%
        background-color: #FFFFFF
        border: 1px solid $color_border
        height: 52px
        width: 52px
        margin: 0 auto
        float: left
        margin-right: 10px
        img
          border: none
      .comment_row, .nested_row
        padding: 0 15px 15px 15px
        position: relative
        &.edit_comment_row
          .edit_form
            width: 522px
        &.edit_nested_row
          .edit_form
            width: 460px
        &.edit_comment_row,
        &.edit_nested_row
          width: 100%
          textarea
            border: 1px solid $color_border
            font-size: 13px
            height: 70px
            padding: 5px 10px
            position: relative
            width: 100%
        .content, .nested_content
          font-size: 13px
          line-height: 20px
          position: relative
          width: 100%
          .like_small
            margin-left: 10px
            position: relative
            @media screen and (max-width: 767px)
              margin: 5px 0 0 0
              display: block
              width: 100%
            a.like
              color: $color_text_light
              text-decoration: none
              position: relative
              &.liked_post
                color: $color_blue
              &:hover
                color: $color_blue
                span
                  text-decoration: underline
                .fa.fa-thumbs-up
                  text-decoration: none
            .users_liked
              //display: none
              color: #898989
              padding-left: 5px
            .tmp
              color: $color_blue
              cursor: pointer
              text-decoration: none
            .more_liked_hover
              @include border-radius(5px)
              background: rgba(0, 0, 0, 0.9)
              color: $color_background
              display: none
              padding: 5px 10px 7px 10px
              position: absolute
              text-shadow: none
              font-size: 11px
              bottom: 15px
              left: 0
              z-index: 9999
              width: 300px
              line-height: 15px
          .comment_reply
            border: 1px solid $color_border
            font-size: 13px
            min-height: 52px
            margin-top: 5px
            padding: 5px 10px
            position: relative
          .delete
            cursor: pointer
            position: absolute
            top: 0
            right: 0
            z-index: 0
            &.fa
              &:before
                color: $color_text_light
              &:hover
                &:before
                  color: $color_pink
          .edit_container
            @include border-radius(5px)
            background-color: #FFFFFF
            border: 1px solid $color_border
            cursor: default !important
            font-size: 11px !important
            padding: 0
            position: absolute
            overflow: hidden
            top: -5px
            right: -5px
            width: 62px
            z-index: 1
            ul
              margin: 0
              padding: 0
              a
                color: $color_text_light
                text-decoration: none
                &:hover
                  color: #FFFFFF
                li
                  background-color: #FFFFFF
                  border: none
                  border-top: 1px solid $color_border
                  padding: 1px 10px
                  text-align: center
                  &.first
                    border: none
                    border-top: none
                    background-color: $color-border
                    &:hover
                      background-color: $color_pink
                  &:hover
                    background-color: $color_blue
          .profile_name
            color: $color_blue
            font-weight: 600
            margin-top: -4px
            a
              text-decoration: none
              &:hover
                text-decoration: underline
          .post_date
            color: #CCCCCC
            font-size: 11px
            line-height: 100%
            margin-top: 5px
          .reply_comment
            font-size: 11px
            a
              color: $color_text_light
        &:hover
          .delete
            display: block

      // Nested Comments
      .nested_row
        padding-left: 80px
        .nested_content
          width: 100%

      // Reply Container
      .reply_container
        padding: 0 15px 15px 15px
        .reply_input
          border: 1px solid $color_border
          font-size: 13px
          min-height: 52px
          padding: 5px 10px
          position: relative
        .Highlighter
          background: transparent
          color: transparent
          right: 0
          position: absolute
          border: 1px solid #d7d7d7
          font-size: 13px
          min-height: 52px
          padding: 5px 10px
          b
            box-shadow: 0 0 0 1px #a5c6ea inset
            font-weight: normal
            color: transparent
            background: #d9eaff
            border-radius: 3px
        .comment_section
          float: right
          background: white
          position: relative
        .transparent
          background: transparent
        .mentioner
          margin-top: 0
          width: 520px
          background: #f7f7f7
          float: right
          ul
            margin: 0
            li.list-group-item
              @include border-radius (0)
              background-color: $color_gray_back
              border-top: 1px solid #FFFFFF
              border-left: 1px solid $color_border
              border-bottom: 1px solid $color_border
              border-right: 1px solid $color_border
              padding: 5px
              &:last-child
                border-radius: 0 0 5px 5px
              &:first-child
                border-top: none
              img
                background-color: #FFFFFF
              .mention_name
                font-size: 11px
                margin: 7px 0 0 5px

// Visitor View
#visitor
  color: $color_text_light
  margin-top: $box_margin
  padding: 15px
  text-align: center
  .title
    color: $color_pink
    font-size: 30px
    font-weight: 600
    margin: 0
  .audio_container
    margin: 15px auto
    width: 100%
    .jwplayer
      margin: 0 auto
  .tagline
    display: block
    font-size: 14px
    margin-bottom: 15px
  .sub_heading
    color: $color_text_dark
    display: block
    font-size: 16px
    font-weight: 600
    margin-bottom: 5px
  ul
    margin: 15px 0
    li
      display: block
      font-size: 13px
      font-weight: 400
      margin-top: 10px
      &:first-child
        margin-top: 0
      &.fa
        &:before
          color: $color_green
          padding-right: 5px
  .subscribe
    font-size: 40px
    font-weight: 400
    margin: 15px 0
    padding: 5px 30px
    text-decoration: none
  .already_user
    font-size: 13px
    font-weight: 300
    a
      color: $color_text_light
      &:hover
        color: $color_text_dark
  .adult_content
    margin-top: 10px
  &.with_video, &.width_audio
    padding: 0 !important
    overflow: hidden
    .no-radius
      padding-top: 15px
      min-height: 362px
      @include border_radius (0)
    .title
      font-size: 22px
      margin-bottom: 15px
    .sub_heading
      font-size: 14px
      font-weight: normal
    ul
      li
        font-size: 12px
    .jwplayer
      margin: 0 auto
      width: 100%
    .cost_visitor
      display: block
      float: right
      padding: 0
      margin: 15px 0 0
      .btn
        @include border-radius($border_radius 0 0 10px)
        cursor: default
        float: right
        width: 65px
      .amount
        @include border-radius(0 $border_radius $border_radius 0)
        background-color: #FFFFFF
        border-top: 1px solid $color_border
        border-right: 1px solid $color_border
        border-bottom: 1px solid $color_border
        color: $color_pink
        cursor: default
        float: left
        font-size: 32px
        font-weight: bold
        overflow: hidden
        padding: 5px
        height: 60px
        width: 80%
        .month
          font-size: 20px
      span.btn.pink.fa.fa-usd.fa-2x
        float: left
        font-size: 32px
        height: 60px
        width: 20%
    .adult_content
      margin: 0 0 15px

#visitor-footer
  footer
    background: none
    border: none
    color: $color_text_light
    font-size: 12px
    margin: 0 0 15px
    padding: 0
    .container
      padding: 0 25px 0 0
    a
      color: $color_text_light
      &:hover
        color: $color_text_dark

// Mobile
@media screen and (max-width: 767px)
  .container.mobile
    margin-bottom: 30px !important
  #subscriber_display
    margin-bottom: 30px
  #visitor
    margin: 10px 0 0 0
    &.with_video
      .no_pad
        padding: 0
    .title
      font-size: 18px
    .tagline
      font-size: 13px
    .sub_heading
      font-size: 11px
    ul
      li
        font-size: 11px
    .subscribe
      font-size: 30px
      padding: 10px 0
      width: 100%
      margin-top: 0 !important
    .already_user
      display: none
    .jwplayer
      width: 100% !important
  .box.no-radius
    padding: 0 !important
    margin-top: 10px
    min-height: 150px !important
    .jwplayer
      min-height: 192px !important
      height: auto !important

// Tablet
@media screen and (min-width: 768px)
  #header
    .photo_cover
      height: 208px
    .photo_profile
      top: 13px
    .benefits_container
      ul
        font-size: 13px
        -webkit-text-size-adjust: none
        li
          font-size: 13px
          -webkit-text-size-adjust: none
  #create_post_nav
    li
      font-size: 13px
      padding: 15px 24px
  #create_post
    #post
      .error
        padding-bottom: 5px
    #uploading
      .pending_photo
        .added_photo
          ul
            li
              img
                width: 95px
      .file_status
        font-size: 12px
      .upload_details
        .notify
          label
            font-size: 11px
          .yes_width
            margin-left: 10px
  #subscriber_display
    .sidebar
      display: none
      .search
        margin-bottom: 20px
    .recent_posts
      .show_results
        margin-bottom: 15px
      .post
        .video_player
          margin: 10px 15px 0 15px
          // .jwplayer
          //   min-height: 330px
        .photo_display
          &.one
            display: block
            width: auto
            a
              display: block
              height: 100%
              img
                max-width: 100%
          &.two
            a
              width: 335px
          &.three
            .three_left
              a
                width: 335px
                height: 335px
                img
                  min-height: 335px
            .three_stacked
              a
                height: 160px !important
                width: 335px
                img
                  min-width: 335px
        ul.photo_view
          li
            width: 440px
            img
              width: 438px !important
      .comment_container
        .comment_row
          .content
            width: 100%
        .nested_row
          padding-left: 77px
          .nested_content
            width: 100%
        .reply_container
          .comment_section, .Highlighter, .reply_input
            width: 626px !important
        .reply_post
          margin-top: 5px
  #visitor
    margin-bottom: 20px
    &.with_video
      .no-radius
        min-height: 330px
        padding: 0 !important
        margin-top: 10px
        .jwplayer
          min-height: 330px !important
          height: auto !important
          margin-bottom: 0
          width: auto !important
    .title
      font-size: 24px
    .tagline
      font-size: 13px
    .sub_heading
      font-size: 14px
    ul
      li
        font-size: 12px
    .already_user
      display: block
      font-size: 12px
      margin: 0 0 10px

// Desktop
@media screen and (min-width: 991px)
  #create_post_nav
    li
      font-size: 16px
      padding: 15px 34px
  #visitor
    margin-bottom: 20px
    &.with_video
      .no-radius
        min-height: 326px
  #subscriber_display
    .recent_posts
      .post
        .hide-show-comment
          @include pink-area
          @include border-radius(10px)
          color: #FFFFFF
          padding: 15px
          position: absolute
          text-align: center
          top: 0
          left: 0
        .post_title
          width: 100%
          font-size: 14px
        .date
          font-size: 11px
        .comment_container
          .comment_row
            .content
              width: 100%
              .hide-show-comment
                margin-left: 62px
                width: 523px
          .nested_row
            padding-left: 77px
            .nested_content
              width: 100%
          .reply_container
            .comment_section, .Highlighter, .reply_input, .mentioner
              width: 522px !important
              overflow: hidden
          .reply_post
            margin-top: 5px

        .photo_display
          &.one
            display: block
            width: auto
            a
              display: block
              height: 100%
              img
                max-width: 100%
          &.two
            a
              width: 284px
          &.three
            .three_left
              a
                width: 284px
                height: 284px
                img
                  min-height: 284px
            .three_stacked
              a
                height: 135px !important
                width: 284px
                img
                  min-width: 284px

.comment_text
  word-break: break-word
  b
    border: 1px solid #a5c6ea
    background: #d9eaff
    border-radius: 3px
    padding: 0 4px

// Mobile for delete when ready
.mobile_nav
  @media screen and (min-width: 768px)
    display: none
.mobile_create_popup
  max-width: 100% !important
  position: relative
  ul.nav.nav-tabs
    li
      font-size: 11px
      font-weight: bold
      a
        @include border-radius(0)
        border-top: none
        padding: 10px 15px
        text-decoration: none
        color: $color_text_dark
      &.active
        a
          color: $color_blue
  .modal-header
    position: absolute !important
    top: 5px
    right: 5px
  .modal-body
    padding: 5px
    .error
      font-size: 10px
    .col-xs-12
      padding: 0
      .btn.blue
        font-size: 11px !important
        text-transform: uppercase
        font-weight: bold
        padding: 10px
      textarea
        @include border_radius(10px)
        background-color: $color_background
        font-size: 11px
        width: 100%
        border: 1px solid $color_border
        padding: 5px 7px
        height: 100px
      textarea.mobile_textarea
        height: 50px
      .notify
        margin-top: 5px
        label
          font-weight: normal !important
          font-size: 10px
        .no_width, .yes_width
          float: none !important
          display: inline-block
          margin-right: 10px
          input
            margin-right: 2px
          label
            font-size: 11px
  &.status
    .modal-body
      .col-xs-12
        padding: 5px
        .notify
          padding: 0
  &.media
    .modal-body
      padding: 10px !important
      .progress
        margin-bottom: 10px
      .pending_audio, .pending_video, .pending_photo, .pending_document
        .show_iphone
          color: $color_pink
          display: block
          font-size: 11px
          margin-bottom: 10px
          text-align: center
        .supported_files
          display: none
        .added_audio, .added_video, .added_photo
          .audio_bg
            @include border-radius(10px)
            border: 1px solid $color_border
            background-color: $color_background
            height: 50px
            li
              border-bottom: 1px solid $color_border
              font-size: 11px
              padding: 10px
              .icon
                display: none
              .file_name
                word-break: break-all
                width: 90%
              .delete_button
                text-decoration: none
                float: right
          .heading
            color: $color_text_light
            font-size: 13px
            text-align: center
            margin-bottom: 15px
          .video_bg
            margin: 0 auto
            width: 290px
            li
              @include border-radius(5px)
              border: 1px solid $color_border
              display: block
              position: relative
              overflow: hidden
              float: left
              height: 90px
              width: 90px
              margin-right: 10px
              input[type=radio]
                position: absolute
                top: 0
                left: 5px
              img
                height: 90px
              .delete_button
                @include border-radius(5px 5px 0 0)
                background-color: $color_pink
                color: #FFFFFF
                font-size: 11px
                padding: 4px 7px 6px
                position: absolute
                bottom: 0
                right: 0
                .fa.fa-times
                  &:before
                    padding-right: 3px
              &.uploaded_custom
                margin-right: 0
              &.upload_custom
                background-color: #FFFFFF
                border: none
                margin: 0
                .upload_custom_btn
                  @include green-area
                  color: #FFFFFF
                  text-align: center
                  margin: 0
                  padding: 0
                  height: 90px
                  width: 90px
                  i.fa.fa-picture-o
                    font-size: 13px
                    line-height: 16px
                    margin-top: 5px
                    &:before
                      display: block
                      font-size: 24px
                      margin: 7px 0
                  .custom_image
                    position: absolute
                    top: -1px
                    left: -1px
                  .upload_btn
                    height: 90px
                    width: 90px
                    padding: 0
                    top: 0
                    position: absolute
                    cursor: pointer
                    opacity: 0

          .photo_bg
            padding: 5px
            white-space: nowrap
            li
              background-color: #FFFFFF
              border-bottom: none
              height: 66px
              float: left
              margin: 0 5px 5px 0
              overflow: hidden
              padding: 0 !important
              position: relative
              &:last-child
                margin-right: 0
              img
                border: 1px solid $color_border
                height: 66px
              .delete_photo
                background-color: $color_pink
                @include border-radius(0 0 0 $border_radius)
                color: #FFFFFF
                font-size: 11px
                padding: 5px 10px
                position: absolute
                top: 1px
                right: 1px
                text-decoration: none
                &:hover
                  background-color: $color_blue
          p
            font-size: 10px
            text-align: center
        .select_file_container
          padding: 0
          position: relative
          margin-bottom: 10px
          .btn.multi, input[type="file"]
            display: block
            margin: 0
            padding: 10px 0
            width: 100%
            font-size: 11px
            text-transform: uppercase
          input[type="file"]
            opacity: 0
            cursor: pointer
            position: absolute
            bottom: 0
            left: 0
      .notify
        margin-top: 5px
        label
          font-size: 11px
          margin-right: 5px
        .no_width, .yes_width
          input
            margin-bottom: 0
      form
        input[type="text"]
          padding: 5px 5px 7px 7px
        .form-control
          margin-bottom: 10px
          font-size: 11px !important
          padding: 5px !important
