// Header

#header
  margin-top: 20px
  overflow: hidden
  position: relative

  .rss
    opacity: 0.7
    color: $color_blue
    font-size: 14px
    text-decoration: none
    z-index: 100
    cursor: pointer
    background: $color_background
    position: absolute
    right: -2px
    top: -2px
    padding: 5px 10px 5px 10px
    border-radius: 0 10px 0 10px
    border-bottom: 1px solid $color_border
    border-left: 1px solid $color_border
    &:hover
      opacity: 1
      color: $color_pink
      text-decoration: none

  // Photo Cover

  .photo_cover
    background-color: $color_background
    background: asset-url('//connectpal-assets.s3.amazonaws.com/images/cover-default.png') no-repeat
    background-size: 100%
    border-bottom: 1px solid $color_border
    display: block
    height: 240px
    overflow: hidden
    margin-bottom: 15px
    position: relative
    z-index: 1
    .background_cover
      overflow: hidden
      height: inherit
    .btn
      right: 15px
    #change_possition
      right: 160px

  // Photo Profile

  .photo_profile
    background: asset-url('//connectpal-assets.s3.amazonaws.com/images/default_profile_pic.png') no-repeat
    background-size: 100%
    background-color: $color_background
    border: 1px solid $color_border
    position: absolute
    top: 28px
    left: 15px
    height: 182px
    width: 182px
    z-index: 2
    img
      height: 180px
      width: 180px
    .btn
      right: 19px


  .photo_cover, .photo_profile
    .btn
      display: none
      position: absolute
      bottom: 15px
      .fa
        &:before
          padding-right: 5px
    &.blank, &:hover:not(.editing)
      .btn
        display: block

  // Details Container

  .details_container
    padding: 0 15px
    position: relative

    // Profile Name

    .profile_details
      color: $color_text_dark
      font-weight: 600
      font-size: 38px
      line-height: 100%
      margin-bottom: 15px
      .profile_name
        color: $color_text_dark
        cursor: pointer
        text-decoration: none
        word-wrap: break-word
        &.visitor
          cursor: default
        .fa
          max-width: 517px
          word-wrap: break-word
          &:before
            color: $color_gear
            font-size: 20px
            padding-right: 5px
            position: relative
            top: -6px
        &:hover
          .fa
            &:before
              color: $color_gear_hover
      .profile_name
        &.visitor
          cursor: default
      .profile_type
        color: #898989
        display: block
        font-size: 12px
        font-weight: 400
        text-decoration: none
        .fa
          cursor: pointer
          max-width: 517px
          word-wrap: break-word
          &:before
            color: $color_gear
            font-size: 20px
            padding-right: 5px
            position: relative
            top: 2px
        &:hover
          .fa
            &:before
              color: $color_gear_hover
      .admin_login
        @include green-area
        @include border-radius (5px)
        display: inline-block
        color: #FFFFFF
        font-size: 14px
        font-weight: 400
        line-height: 100%
        padding: 10px
        text-decoration: none


    // Cost Button/Subscribe Button

    .subscribe_cont
      font-size: 36px
      font-weight: 600
      text-align: center

      // Cost Owner/Visitor

      .cost_owner, .cost_visitor
        display: block
        float: right
        margin-bottom: 15px
        .btn
          @include border-radius($border_radius 0 0 10px)
          cursor: default
          float: right
          height: 55px
          width: 65px
        .fa
          &:before
            font-size: 30px
        .amount
          @include border-radius(0 $border_radius $border_radius 0)
          background-color: $color_background
          border-top: 1px solid $color_border
          border-right: 1px solid $color_border
          border-bottom: 1px solid $color_border
          color: $color_pink
          cursor: default
          float: right
          height: 55px
          max-width: 265px
          overflow: hidden
          padding: 0 15px
          .month
            font-size: 20px
        &:hover
          .btn
            @include pink-area

      // Cost Owner

      .cost_owner
        cursor: pointer
        .btn, .amount
          cursor: pointer
        .fa-gear
          &:before
            color: $color_gear
            font-size: 20px
            padding-right: 10px
            position: relative
            top: -3px
        &:hover
          .fa-gear
            &:before
              color: $color_gear_hover

      // Cost Visitor

      .subscribe
        display: none

      // Cost Visitor Hover

      &:hover
        .cost_visitor
          display: none
        .subscribe
          @include border-radius($border_radius)
          @include blue-area
          display: block
          color: #FFFFFF
          cursor: pointer
          float: right
          font-weight: 400
          height: 55px
          margin-bottom: 15px
          padding: 0 15px
          text-decoration: none
          width: 247px

      // Subscribed

      .subscribed
        @include border-radius($border_radius)
        @include green-area
        display: block
        color: #FFFFFF
        cursor: default
        float: right
        font-weight: 400
        height: 55px
        margin-bottom: 15px
        padding: 0 15px
        text-decoration: none
        width: 247px

  // Details Container

  .benefits_container
    padding: 0 15px
    position: relative
    .label
      @include black-area
      @include border-radius(0 10px 10px 0)
      color: #FFFFFF
      // cursor: default
      font-size: 13px
      font-weight: 400
      padding: 10px 15px
      position: absolute
      top: 0
      left: -1px
      cursor: default
    ul
      font-size: 13px
      line-height: 20px
      margin-top: 46px
      margin-left: 20px !important
      li
        color: $color_text_dark
        font-size: 13px
        .fa
          font-weight: 400
          top: 3px
          &:before
            color: $color_green
    .edit
      position: absolute
      top: 8px
      left: 150px
      &.fa
        cursor: pointer
        &:before
          color: $color_gear
          font-size: 20px
        &:hover
          &:before
            color: $color_gear_hover

// Create Post (Owner View)

#create_post_nav
  @include linear-gradient(#FFFFFF, #F7F7F7)
  @include border-radius($border_radius $border_radius 0 0)
  border-left: 1px solid $color_border
  border-top: 1px solid $color_border
  border-right: 1px solid $color_border
  padding: 0
  margin: 0
  margin-top: $box_margin
  line-height: 100%
  li
    cursor: pointer
    border-right: 1px solid $color_border
    display: inline-block
    font-size: 16px
    list-style-type: none
    padding: 15px 36px
    &:last-child
      border-right: none
    &.active
      a
        color: $color_blue
    a
      border-bottom: none
      color: #464646
      text-decoration: none
      text-shadow: -1px -1px 0 #FFFFFF
      &:focus
        outline: none
      input
        cursor: pointer !important
        height: 15px
      &.fa
        &:before
          color: $color_text_dark
          padding-right: 10px

      &:hover
        color: $color_blue
        .fa
          &:before
            color: $color_blue

// Create Post

#create_post
  @include border-radius(0 0 $border_radius $border_radius)

  // Status Post Textarea

  #post
    padding: 15px
    position: relative
    textarea
      display: block
      min-height: 60px
      width: 100%
    .notify
      margin: 10px 0 0 0
      label
        color: $color_text_light
        font-size: 12px
        font-weight: 400 !important
      .no_width
        width: 40px
      .yes_width
        margin-left: 10px
        width: 45px
    input[type="submit"]
      &:focus
        color: #FFFFFF
        outline: none

  // Uploading Container

  #uploading
    margin: 15px 0
    position: relative

    // Progress Bar

    .progress_title
      color: $color_blue
      font-size: 16px
      font-weight: 600
      padding: 10px 15px 15px

    // File Status

    .file_status
      border-bottom: 1px solid $color_border
      font-size: 13px
      height: 36px
      margin-bottom: 15px
      .progress
        margin-bottom: 0
      .file_name
        color: $color_text_dark
      .percentage
        text-align: right

    // Pending Files

    .pending_audio, .pending_video, .pending_photo, .pending_document
      overflow: hidden
      position: relative
      
      // Listed Files

      .added_audio, .added_video, .added_photo, .added_document
        overflow: hidden
        height: 234px
        ul
          @include border-radius (5px)
          background-color: #FFFFFF
          border: 1px solid $color_border
          height: 180px
          margin: 0
          padding: 0
          overflow: hidden
          overflow-y: scroll
          li
            background-color: $color_background
            border-bottom: 1px solid $color_border
            height: 30px
            padding: 0 10px

            // Sort Related

            .dragger
              cursor: move
              margin: 8px 5px 0 0
              padding: 0
            &.Cell
              border: 1px dashed $color_pink
              height: 30px
              width: 100%

            // Details

            .file_name
              font-size: 12px
              margin-top: 6px
            .fa-music, .fa-paperclip
              &:before
                color: $color_blue
                font-size: 12px
                padding-right: 3px
                position: relative
                top: 7px
                margin-left: 3px
            .fa-paperclip
              &:before
                font-size: 15px
            &:first-child
              padding-top: 0

            // Delete X icon

            a.delete_button
              float: right
              margin: 8px 0 0 10px
              text-decoration: none
              &:hover
                text-decoration: none
                &:before
                  color: $color_text_dark
        p
          color: $color_pink
          font-size: 12px
          margin: 0
          padding: 20px 0 0
          text-align: center

      // Listed Video 

      .added_video
        ul
          overflow-y: hidden !important
          li
            background-color: #FFFFFF
            border-bottom: none
            height: auto
            padding: 0
            position: relative
            img
              margin-top: -30px
              width: 437px
            a.delete_button
              @include border-radius (50%)
              background-color: $color_background
              padding: 4px 5px
              position: absolute
              top: -3px
              right: 5px

      // Listed Photo

      .added_photo
        ul
          padding: 5px
          white-space: nowrap
          li
            background-color: #FFFFFF
            border-bottom: none
            height: 100px
            float: left
            margin: 0 5px 5px 0
            overflow: hidden
            padding: 0 !important
            position: relative
            &:last-child
              margin-right: 0
            img
              border: 1px solid $color_border 
              height: 98px
            .delete_photo
              background-color: $color_pink
              @include border-radius(0 0 0 $border_radius)
              color: #FFFFFF
              font-size: 11px
              padding: 5px 10px
              position: absolute
              top: 1px
              right: 1px
              text-decoration: none
              &:hover
                background-color: $color_blue

      // Select Files Container

      .select_file_container
        .multi
          @include border-radius (5px)
          bottom: 0
          color: #FFFFFF
          margin: 0 auto
          padding: 6px 0
          position: absolute
          text-align: center
          width: 100%
        .hide_btn
          opacity: 0
          cursor: pointer
          position: absolute
          bottom: 0
          left: 0
          height: 34px
          width: 439px

    // Upload Details

    .upload_details
      .form-control
        color: $color_text_dark !important
        &.bg-color
          background-color: $color_background
        font-size: 13px
        margin-bottom: 15px
        &:focus
          outline: none
      textarea
        overflow: auto
      .error
        padding: 5px 0
      .notify
        margin-bottom: 10px
        label
          color: $color_text_light
          font-size: 12px
          font-weight: 400 !important
        .no_width
          width: 40px
        .yes_width
          margin-left: 10px
          width: 45px
      .btn.blue
        @include border-radius (5px)
      .cancel_post
        color: #959595
        cursor: pointer
        font-size: 12px
        margin-top: 9px
        margin-left: 15px
        &:hover
          text-decoration: underline

// Subscriber Display

#subscriber_display
  margin-top: $box_margin

  // Sidebar

  .sidebar

    // Profile Action

    .share_url
      padding: 15px
      text-align: left
      position: relative
      width: 100%
      .fa
        position: absolute
        top: 15px
        left: 15px
        &:before
          font-size: 50px
      .heading, span
        line-height: 100%
        padding-left: 60px
      .heading
        font-size: 22px
        font-weight: 600
        padding-top: 2px
      span
        font-size: 13px

    // Search Profile Content

    .search
      margin-top: $box_margin
      .input-group-addon
        @include black-area
        @include border-radius($border_radius 0 0 $border_radius)
        padding: 15px
        .fa
          color: #FFFFFF
      input
        @include border-radius(0 $border_radius $border_radius 0)
        height: 47px !important

    // Cat Cloud & Contact Info

    .archive_cloud, .contact
      margin-top: 30px
      padding: 15px
      position: relative
      span
        color: $color_pink
        display: block
        font-size: 22px
        font-weight: 600
        line-height: 100%
        padding-bottom: 10px

    // Category Cloud

    .archive_cloud
      ul
        margin: 0
        li
          display: inline-block
          list-style-type: none
          padding-right: 15px
          a
            color: $color_text_dark

    // Contact Info

    .contact
      padding-bottom: 0
      margin-bottom: 30px
      span
        padding-bottom: 20px
      .edit_contact
        cursor: pointer
        position: absolute
        top: 15px
        right: 15px
        &:before
          color: $color_gear
          font-size: 20px
        &:hover
          &:before
            color: $color_gear_hover
      ul
        margin: 0 0 15px 0
        columns: 2
        -webkit-columns: 2
        -moz-columns: 2
        li
          font-size: 13px
          line-height: 100%
          padding-bottom: 15px
          a
            color: $color_text_dark
            font-weight: 400
            text-decoration: none
            &.fa
              &:before
                color: $color_text_dark
                font-size: 16px
                padding-right: 10px
                position: relative
                top: 1px
            &:hover
              &.fa
                &:before
                  color: $color_blue

  // Recent Posts

  .recent_posts

    // Search Posts

    .show_results
      @include border-radius($border_radius)
      border: 1px solid #e6d996
      color: #b7a549
      padding: 15px

    // No Posts

    .no_post_yet
      color: #e1e1e1
      font-size: 24px
      text-align: center
      .fa-stack
        margin: 0 auto
        .fa-exclamation
          &:before
            color: $color_background
      span
        display: block
        margin-top: 15px

    // Deleted

    .deleted
      margin-bottom: 30px
      font-weight: bold
      text-align: center

    // Single Post

    .post
      margin-bottom: $box_margin
      padding-top: 15px
      position: relative
      z-index: 1
      .edit_container
        @include border-radius(5px)
        background-color: #FFFFFF
        border: 1px solid $color_border
        cursor: default !important
        font-size: 11px !important
        padding: 0
        position: absolute
        overflow: hidden
        top: -5px
        right: -5px
        width: 70px
        z-index: 1
        ul
          margin: 0
          padding: 0
          a
            color: $color_text_light
            text-decoration: none
            &:hover
              color: #FFFFFF
            li
              background-color: #FFFFFF
              border-bottom: 1px solid $color_border
              padding: 5px 10px
              text-align: left
              &.last
                border-bottom: none
                background-color: $color-border
                &:hover
                  background-color: $color_pink
              &:hover
                background-color: $color_blue
      .edit_post
        cursor: pointer
        margin-right: 15px
        position: relative
        &.fa
          &:before
            color: $color_gear
        &:hover
          &.fa
            &:before
              color: $color_gear_hover
      .post_title
        color: $color_blue
        font-size: 16px
        padding: 0 15px 5px 15px
        width: 590px
        word-wrap: break-word
      .date
        color: #c2c2c2
        font-size: 12px
        padding: 0 15px
      span.file_name
        font-size: 12px
        font-weight: 600
        padding: 10px 15px 5px
        width: 445px
      a.file_download 
        color: $color_blue
        cursor: pointer
        display: inline-block
        font-size: 12px
        margin: 10px 15px 0 0
        text-decoration: none
        &:hover
          text-decoration: underline
      .audio_player, .video_player, .photo_display, .doc_view
        background-color: $color_background
        border: 1px solid $color_border
        display: block
        margin: 15px 15px 0 15px
      .audio_player
        background-color: #FFFFFF
        margin: 0 15px
        height: 30px
        border: none
      .video_player
        height: 332px
        width: 587px
        img.poster
          width: inherit
      .photo_display
        width: 585px
        img
          width: 583px
      ul.photo_view
        display: block
        margin-left: 15px
        margin-top: 15px
        list-style-type: none
        li
          display: inline-block
          background-color: $color_background
          border: 1px solid $color_border
          padding: 0
          margin: 0
          width: 585px
          img
            height: 100%
            width: 585px
          &:nth-of-type(1n+2)
            display: none

      // Doc View

      .doc_list
        li
          .doc_view
            @include border-radius ($border_radius)
            color: $color_text_dark
            overflow: hidden
            .preview
              background: #FFFFFF
              border-right: 1px solid $color_border
              height: 100px
              overflow: hidden
              position: relative
              width: 200px
              .fa-search
                position: absolute
                display: none
                top: 25px
                left: 75px
                &:before
                  color: $color_text_dark
                  font-size: 50px
            .doc_details
              span
                color: $color_blue
                display: block
                font-size: 20px
                margin: 20px 0 5px 15px
              .doc_title
                font-size: 14px
                margin-left: 15px
            &:hover
              text-decoration: none
              background: $color_blue
              color: #FFFFFF
              .preview
                background: #FFFFFF
                img
                  opacity: 0.5
                .fa-search
                  display: block
              .doc_details
                span, .doc_title
                  color: #FFFFFF

      // Message

      .message
        font-size: 13px
        line-height: 20px
        padding: 15px
        word-wrap: break-word

      // Action Bar

      .action_bar
        @include white-area
        border-top: 1px solid $color_border
        display: block
        height: 38px
        padding: 10px 15px
        position: relative
        .fa
          text-decoration: none
          &:before
            color: $color_text_light
            position: relative
            top: 1px
            text-decoration: none !important
          &:hover
            color: $color_text_dark
            text-decoration: none
            &.fa
              &:before
                color: $color_blue
        .liked_post
          &.fa
            &:before
              color: $color_blue
        .users_liked
          color: $color_text_light
          font-size: 12px
          padding-left: 5px

    // Discussion Dropdown

    .comment_container
      background-color: $color_background
      border-top: 1px solid $color_border
      padding-top: 15px
      position: relative
      .load_more_comments
        width: 100%
        display: block
        text-align: center
        background: $color_gray_back
        color: #428bca
        margin-top: -15px
        margin-bottom: 20px
        border-bottom: 1px solid white
        padding: 10px 0
        font-size: 11px
        &:hover
          background: rgb(243, 243, 243)
          color: #428bca
          text-decoration: none
      .deleted
        margin-top: 0
        padding: 15px
      .photo
        background: asset-url('//connectpal-assets.s3.amazonaws.com/images/profile_comment_default.png') no-repeat
        background-size: 100%
        background-color: #FFFFFF
        border: 1px solid $color_border
        height: 52px
        width: 52px
        img 
          border: none
      .comment_row, .nested_row
        padding: 0 15px 15px 15px
        position: relative
        &.edit_row
          textarea
            border: 1px solid $color_border
            font-size: 13px
            min-height: 52px
            padding: 5px 10px
            position: relative
            width: 100%
        .content, .nested_content
          font-size: 13px
          line-height: 20px
          position: relative
          width: 520px
          .comment_reply
            border: 1px solid $color_border
            font-size: 13px
            min-height: 52px
            margin-top: 5px
            padding: 5px 10px
            position: relative
            width: 520px
          .delete
            cursor: pointer
            position: absolute
            top: 0
            right: 0
            z-index: 0
            &.fa
              &:before
                color: $color_text_light
              &:hover
                &:before
                  color: $color_pink
          .edit_container
            @include border-radius(5px)
            background-color: #FFFFFF
            border: 1px solid $color_border
            cursor: default !important
            font-size: 11px !important
            padding: 0
            position: absolute
            overflow: hidden
            top: -5px
            right: -5px
            width: 62px
            z-index: 1
            ul
              margin: 0
              padding: 0
              a
                color: $color_text_light
                text-decoration: none
                &:hover
                  color: #FFFFFF
                li
                  background-color: #FFFFFF
                  border: none
                  border-top: 1px solid $color_border
                  padding: 5px 10px
                  text-align: center
                  &.first
                    border: none
                    border-top: none
                    background-color: $color-border
                    &:hover
                      background-color: $color_pink
                  &:hover
                    background-color: $color_blue
          .profile_name
            color: $color_blue
            font-weight: 600
            margin-top: -4px
            a
              text-decoration: none
              &:hover
                text-decoration: underline
          .post_date
            color: #CCCCCC
            font-size: 11px
            line-height: 100%
            margin-top: 5px
          .reply_comment
            font-size: 11px
            a
              color: $color_text_light
        &:hover
          .delete
            display: block

      // Nested Comments

      .nested_row
        padding-left: 80px
        .nested_content
          width: 454px

      // Reply Container

      .reply_container
        padding: 0 15px 15px 15px
        @media screen and (min-width: 992px)
          .reply_input, .Highlighter
            width: 520px !important
        
        .reply_input
          border: 1px solid $color_border
          font-size: 13px
          min-height: 52px
          padding: 5px 10px
          position: relative
        .Highlighter
          background: transparent
          color: transparent
          right: 0
          position: absolute
          border: 1px solid #d7d7d7
          font-size: 13px
          min-height: 52px
          padding: 5px 10px
          b
            box-shadow: 0 0 0 1px #a5c6ea inset
            font-weight: normal
            color: transparent
            background: #d9eaff
            border-radius: 3px
        .comment_section
          float: right
          background: white
          position: relative
        .transparent
          background: transparent
        .mentioner
          margin-top: 0
          width: 520px
          background: white
          float: right
          ul
            margin: 0
            li.list-group-item
              @include border-radius (0)
              background-color: $color_gray_back
              border-top: 1px solid #FFFFFF
              border-left: 1px solid $color_border
              border-bottom: 1px solid $color_border
              border-right: 1px solid $color_border
              padding: 5px
              &:last-child
                border-radius: 0 0 5px 5px
              &:first-child
                border-top: none
              img
                background-color: #FFFFFF
              .mention_name
                font-size: 11px
                margin: 7px 0 0 5px

// Visitor View

#visitor
  color: $color_text_light
  margin-top: $box_margin
  padding: 15px
  text-align: center
  .title
    color: $color_pink
    font-size: 30px
    font-weight: 600
  .tagline
    display: block
    font-size: 14px
    margin-bottom: 15px
  .sub_heading
    color: $color_text_dark
    display: block
    font-size: 16px
    font-weight: 600
    margin-bottom: 5px
  ul
    margin: 15px 0
    li
      display: block
      font-size: 13px
      font-weight: 400
      margin-top: 10px
      &:first-child
        margin-top: 0
      &.fa
        &:before
          color: $color_green
          padding-right: 5px
  .subscribe
    font-size: 40px
    font-weight: 400
    margin: 15px 0
    padding: 5px 30px
    text-decoration: none
  .already_user
    font-size: 13px
    font-weight: 300
    a
      color: $color_text_light
      &:hover
        color: $color_text_dark

// Tablet

@media screen and (max-width: 991px)
  #header
    .photo_cover
      height: 208px
    .photo_profile
      top: 13px
    .benefits_container
      ul
        font-size: 12px
        -webkit-text-size-adjust: none
        li
          font-size: 12px
          -webkit-text-size-adjust: none
    .details_container
      .subscribe_cont
        font-size: 30px
        .cost_visitor, .cost_owner
          .amount
            height: 47px
          .fa
            height: 47px
            width: 40px
            padding-top: 9px
            &:before
              font-size: 20px
        .cost_owner
          .fa-gear
            width: 30px
            &:before
              padding-right: 0
        .subscribe, .subscribed
          height: 47px !important
          font-size: 24px !important
          padding-top: 5px !important
          width: 203px !important
  #create_post_nav
    li
      font-size: 14px
      padding: 15px 19px
  #create_post
    #post
      .error
        padding-bottom: 5px
    #uploading
      .file_status
        width: 718px
        margin: 20px 0 0 0
      .upload_details
        .detail_field
          margin-bottom: 15px
  #subscriber_display
    .sidebar
      .share_url
        .heading
          font-size: 16px
          padding-left: 50px
        span
          font-size: 11px
          margin-left: -10px
        .fa-share-square-o
          &:before
            font-size: 40px
      .archive_cloud
        display: none
      .contact
        ul
          columns: 1
          -webkit-columns: 1
          -moz-columns: 1
          li
            display: block
            margin-right: 15px
    .recent_posts
      .comment_container
        .comment_row
          .content
            width: 371px
            .comment_reply
              width: 371px
            .comment_text
              font-size: 12px
              line-height: 18px
        .nested_row
          .nested_content
            width: 306px
            .comment_text
              font-size: 12px
              line-height: 18px
        .reply_container
          .reply_input
            width: 371px !important
          .Highlighter
            width: 371px !important
          .mentioner
            width: 371px !important
      .post
        .post_title
          width: 435px
        .file_name
          width: 300px !important
        .video_player
          margin: 0 auto
          margin-top: 10px
          height: 243px
          width: 440px
          .jwplayer
            height: 243px !important
            width: 438px !important
        .audio_player
          .jwplayer
            width: 438px !important
        ul.photo_view
          li
            width: 440px !important
            img
              width: 438px !important
  #visitor
    margin-bottom: 20px
    .title
      font-size: 24px
    .tagline
      font-size: 13px
    .sub_heading
      font-size: 14px
    ul
      li
        font-size: 12px
    .already_user
      font-size: 12px

// Mobile

// @media screen and (max-width: 768px)
  .recent_posts
    width: 100% !important

// Edit Post Popup & Compose Message Popup

.edit_post_popup, .compose_message_popup
  padding: 10px 15px 15px 15px
  width: 400px
  label 
    color: $color_text_dark
    font-size: 13px
  .edit_field
    font-size: 13px
  textarea.edit_field
    height: 100px

// Compose Message Popup

.compose_message_popup
  width: 600px
  label
    padding-bottom: 5px
  textarea
    height: 100px !important
    font-size: 12px !important
  
// Random

.comment_text
  b
    border: 1px solid #a5c6ea
    background: #d9eaff
    border-radius: 3px
    padding: 0 4px
