/* Steps Container */

.steps_container
  .row
    margin: 0
  .box
    padding: 15px 0
    text-align: center
    label
      color: $color_text_dark
    .btn
      margin: 0 auto

    /* Sample Profile */

    .sample_profile
      margin: 15px 0
      width: 900px

  /* Step 2 */

  &.step_two
    .box
      padding-bottom: 0
    .error
      padding-top: 10px

    /* Profile Name */

    .profile_name
      text-align: left
      .example
        color: $color_text_light
        font-size: 12px
        padding-top: 10px

    /* Subscription Cost */

    .subscription_cost
      text-align: left

    /* Subscription Cost */

    .continue_step_three
      input.btn
        font-size: 16px !important
        padding: 10px 30px
        margin-bottom: 15px !important

    /* FAQs */

    .faq
      margin-top: 30px
      padding-bottom: 15px
      text-align: center
      .title
        display: block
        color: $color_blue
        font-size: 24px
        margin-bottom: 5px
      a
        color: $color_text_dark
        display: block
        padding-bottom: 5px
      .well
        color: $color_text_light
        margin-bottom: 15px
        &.last
          margin-bottom: 0
