// Registration Areas
.registration_steps
  background-color: #FFFFFF
  border-bottom: 1px solid $color_border
  margin-bottom: 30px
  padding: 30px
  .reg_head
    text-align: center
    margin-bottom: 30px
    .reg_title
      color: $color_text_dark
      font-size: 30px
  .steps_row
    cursor: default
    color: #e1e1e1
    .bar
      background-color: #e1e1e1
      height: 5px
      margin-bottom: 10px
    .number
      background-color: #e1e1e1
      color: #FFFFFF
      font-weight: 600
      line-height: 100%
      height: 26px
      width: 26px
      margin-right: 10px
      position: relative
      span
        position: absolute
        top: 6px
        &.one
          left: 8px
        &.two
          left: 9px
        &.three
          left: 9px
    .number_title
      padding-top: 3px
    .done
      color: $color_green
      .bar
        background-color: $color_green
      .number
        background-color: $color_green
    // Active
    .active
      color: $color_pink
      .bar
        background-color: $color_pink
      .number
        background-color: $color_pink

.steps_container
  font-size: 13px
  line-height: 20px
  margin-bottom: 30px
  .row
    margin: 0
  .box
    padding: 15px
    text-align: center
    label
      color: $color_text_dark
    .btn
      margin: 0 auto
    i.fa.fa-caret-square-o-up
      &:before
        color: $color_pink
  .step_one
    overflow: visible
    .note
      &.n4
        top: -65px !important
      .arrow
        &.n4
          top: 290px !important
  &.step_two
    h1
      color: $color_text_dark
      margin: 0
      padding: 15px 0
    .row_label
      color: $color_blue
      font-size: 18px
      font-weight: 600
      margin-top: 10px
      span
        color: $color_text_dark
        display: block
        font-size: 12px
        line-height: 16px
        font-weight: 400
        padding: 5px 0 10px
    .profile-type
      .profile-type-search
        height: 35px
        margin-bottom: 15px
        input.search
          width: 300px
      .profile-type-preset
        max-height: 104px
        margin-bottom: 15px
      .profile-type-added
        .profile-type-info
          margin: 15px 0 0
    .box
      padding: 0
      text-align: left
    .error
      padding-top: 10px
    .breakdown
      color: $color_pink
      padding-top: 7px
      margin-right: 45px
    .bg-warning
      padding: 5px
      margin-top: 5px
    .profile_name
      margin: 15px 0
    @media screen and (min-width: 992px)
      .usd
        text-align: right
        width: 80px
        padding-right: 20px
    @media screen and (max-width: 991px)
      .usd
        width: 60px
        padding-right: 20px
      .breakdown
        font-size: 11px
        text-align: right
        margin-right: 0
    .check
      @include blue-area
      margin: 15px 0
      padding: 5px
      text-shadow: none
      width: 100%
      .inside_cont
        background: asset-url('greyzz_@2X.png') repeat
        border: 1px solid #277aa3
        display: block
        padding: 20px 0
        label
          text-transform: uppercase
          font-size: 16px
          padding-bottom: 5px
        .pay_to_name
          margin-bottom: 30px
        .payout_numbers
          label
            display: inline-block
            padding: 7px 10px 0 0
    .finish_registration
      text-align: center
      input.btn
        font-size: 16px !important
        padding: 10px 30px
        margin-bottom: 15px !important
        width: 60%
