@mixin border-radius($border_radius)
  -webkit-border-radius: $border_radius
  -moz-border-radius: $border_radius
  -ms-border-radius: $border_radius
  -o-border-radius: $border_radius
  border-radius: $border_radius

@mixin box-shadow($shadow)
  box-shadow: $shadow
  -webkit-box-shadow: $shadow