html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General */
body {
  background: #f7f7f7;
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px; }

a {
  border: none; }

#content {
  width: 970px;
  margin: 0 auto;
  margin-top: 62px; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

.hidden {
  display: none; }

.container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: white;
  border: 1px solid #d7d7d7;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 970px; }

.box_cont {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: white;
  border: 1px solid #d7d7d7;
  display: block;
  overflow: hidden;
  position: relative; }

.btn {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-align: center; }
  .btn.pink {
    background-color: #ea2f49;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ea4e65), to(#ea2f49));
    background-image: -webkit-linear-gradient(top, #ea4e65, #ea2f49);
    background-image: -moz-linear-gradient(top, #ea4e65, #ea2f49);
    background-image: -ms-linear-gradient(top, #ea4e65, #ea2f49);
    background-image: -o-linear-gradient(top, #ea4e65, #ea2f49);
    background-image: linear-gradient(top, #ea4e65, #ea2f49);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ea4e65', EndColorStr='#ea2f49');
    box-shadow: inset 0 1px 0 0 #ef7b8c;
    -webkit-box-shadow: inset 0 1px 0 0 #ef7b8c;
    border: 1px solid #cd233b;
    text-shadow: -1px -1px 0 #c3384c; }
  .btn.blue {
    background-color: #359acd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7dd3f3), to(#359acd));
    background-image: -webkit-linear-gradient(top, #7dd3f3, #359acd);
    background-image: -moz-linear-gradient(top, #7dd3f3, #359acd);
    background-image: -ms-linear-gradient(top, #7dd3f3, #359acd);
    background-image: -o-linear-gradient(top, #7dd3f3, #359acd);
    background-image: linear-gradient(top, #7dd3f3, #359acd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7dd3f3', EndColorStr='#359acd');
    box-shadow: inset 0 1px 0 0 #c5ecff;
    -webkit-box-shadow: inset 0 1px 0 0 #c5ecff;
    border: 1px solid #277aa3;
    text-shadow: -1px -1px 0 #53a1c8; }
  .btn.black {
    background-color: #2d2d2d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3e3e3e), to(#2d2d2d));
    background-image: -webkit-linear-gradient(top, #3e3e3e, #2d2d2d);
    background-image: -moz-linear-gradient(top, #3e3e3e, #2d2d2d);
    background-image: -ms-linear-gradient(top, #3e3e3e, #2d2d2d);
    background-image: -o-linear-gradient(top, #3e3e3e, #2d2d2d);
    background-image: linear-gradient(top, #3e3e3e, #2d2d2d);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3e3e3e', EndColorStr='#2d2d2d');
    box-shadow: inset 0 1px 0 0 #6f6f6f;
    -webkit-box-shadow: inset 0 1px 0 0 #6f6f6f;
    border: 1px solid #464646;
    text-shadow: -1px -1px 0 #1c1c1c; }
  .btn:hover.pink {
    background-color: #ea4e65;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ea2f49), to(#ea4e65));
    background-image: -webkit-linear-gradient(top, #ea2f49, #ea4e65);
    background-image: -moz-linear-gradient(top, #ea2f49, #ea4e65);
    background-image: -ms-linear-gradient(top, #ea2f49, #ea4e65);
    background-image: -o-linear-gradient(top, #ea2f49, #ea4e65);
    background-image: linear-gradient(top, #ea2f49, #ea4e65);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ea2f49', EndColorStr='#ea4e65'); }
  .btn:hover.blue {
    background-color: #7dd3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#359acd), to(#7dd3f3));
    background-image: -webkit-linear-gradient(top, #359acd, #7dd3f3);
    background-image: -moz-linear-gradient(top, #359acd, #7dd3f3);
    background-image: -ms-linear-gradient(top, #359acd, #7dd3f3);
    background-image: -o-linear-gradient(top, #359acd, #7dd3f3);
    background-image: linear-gradient(top, #359acd, #7dd3f3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#359acd', EndColorStr='#7dd3f3'); }
  .btn:hover.black {
    background-color: #3e3e3e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#3e3e3e));
    background-image: -webkit-linear-gradient(top, #2d2d2d, #3e3e3e);
    background-image: -moz-linear-gradient(top, #2d2d2d, #3e3e3e);
    background-image: -ms-linear-gradient(top, #2d2d2d, #3e3e3e);
    background-image: -o-linear-gradient(top, #2d2d2d, #3e3e3e);
    background-image: linear-gradient(top, #2d2d2d, #3e3e3e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2d2d2d', EndColorStr='#3e3e3e'); }

/* Form Items */
button {
  cursor: pointer; }

textarea {
  color: #898989;
  border: none;
  font-size: 14px;
  line-height: 18px;
  resize: none; }
  textarea:focus {
    outline: none; }

input[type="submit"] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #359acd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7dd3f3), to(#359acd));
  background-image: -webkit-linear-gradient(top, #7dd3f3, #359acd);
  background-image: -moz-linear-gradient(top, #7dd3f3, #359acd);
  background-image: -ms-linear-gradient(top, #7dd3f3, #359acd);
  background-image: -o-linear-gradient(top, #7dd3f3, #359acd);
  background-image: linear-gradient(top, #7dd3f3, #359acd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7dd3f3', EndColorStr='#359acd');
  box-shadow: inset 0 1px 0 0 #c5ecff;
  -webkit-box-shadow: inset 0 1px 0 0 #c5ecff;
  border: 1px solid #277aa3;
  text-shadow: -1px -1px 0 #53a1c8;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 10px; }
  input[type="submit"]:hover {
    background-color: #7dd3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#359acd), to(#7dd3f3));
    background-image: -webkit-linear-gradient(top, #359acd, #7dd3f3);
    background-image: -moz-linear-gradient(top, #359acd, #7dd3f3);
    background-image: -ms-linear-gradient(top, #359acd, #7dd3f3);
    background-image: -o-linear-gradient(top, #359acd, #7dd3f3);
    background-image: linear-gradient(top, #359acd, #7dd3f3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#359acd', EndColorStr='#7dd3f3'); }

/* Owner View Icon Specific */
.glyphicons.cogwheel {
  padding: 0; }
  .glyphicons.cogwheel:before {
    padding: 0;
    color: #d7d7d7; }
  .glyphicons.cogwheel:hover:before {
    color: #464646; }

/* Navigation */
nav {
  background-color: #359acd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7dd3f3), to(#359acd));
  background-image: -webkit-linear-gradient(top, #7dd3f3, #359acd);
  background-image: -moz-linear-gradient(top, #7dd3f3, #359acd);
  background-image: -ms-linear-gradient(top, #7dd3f3, #359acd);
  background-image: -o-linear-gradient(top, #7dd3f3, #359acd);
  background-image: linear-gradient(top, #7dd3f3, #359acd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7dd3f3', EndColorStr='#359acd');
  height: 45px;
  border-top: 1px solid #c5ecff;
  border-bottom: 1px solid #277aa3;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  nav .wrapper {
    width: 950px;
    margin: 0 auto; }
    nav .wrapper .logo {
      display: block;
      float: left;
      height: 31px;
      margin-top: 6px;
      width: 191px; }
      nav .wrapper .logo img {
        height: 31px;
        width: 191px; }
    nav .wrapper .buttons {
      float: right; }
      nav .wrapper .buttons a {
        text-decoration: none; }
      nav .wrapper .buttons .btn {
        float: right;
        height: 22px;
        margin: 5px 0 0 10px;
        padding: 8px 10px 0; }

/* Profile Header */
#header {
  padding-bottom: 10px; }
  #header .cover_photo {
    background: url(//d37ecui9yfxlx3.cloudfront.net/assets/cover-default.png) no-repeat;
    border-bottom: 1px solid #d7d7d7;
    display: block;
    height: 280px;
    position: relative; }
  #header .profile_photo {
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
    position: absolute;
    top: 90px;
    left: 15px;
    height: 250px;
    width: 250px; }
  #header .cover_photo span, #header .profile_photo span {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    padding: 13px 15px; }
  #header .cover_photo:hover span, #header .profile_photo:hover span {
    display: block; }
  #header .cover_photo span {
    right: 15px; }
  #header .profile_photo span {
    right: 46px; }
  #header .details_container {
    position: relative; }
    #header .details_container .profile_name {
      margin: 90px 0 0 15px;
      font-weight: 600;
      font-size: 36px; }
      #header .details_container .profile_name .glyphicons.cogwheel {
        padding-left: 38px; }
        #header .details_container .profile_name .glyphicons.cogwheel:before {
          padding-top: 7px; }
    #header .details_container .subscriber_benefits {
      display: block;
      margin-top: 15px;
      padding: 45px 15px 0;
      position: relative; }
      #header .details_container .subscriber_benefits .label {
        background-color: #2d2d2d;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#3e3e3e), to(#2d2d2d));
        background-image: -webkit-linear-gradient(top, #3e3e3e, #2d2d2d);
        background-image: -moz-linear-gradient(top, #3e3e3e, #2d2d2d);
        background-image: -ms-linear-gradient(top, #3e3e3e, #2d2d2d);
        background-image: -o-linear-gradient(top, #3e3e3e, #2d2d2d);
        background-image: linear-gradient(top, #3e3e3e, #2d2d2d);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3e3e3e', EndColorStr='#2d2d2d');
        box-shadow: inset 0 1px 0 0 #6f6f6f;
        -webkit-box-shadow: inset 0 1px 0 0 #6f6f6f;
        border: 1px solid #464646;
        text-shadow: -1px -1px 0 #1c1c1c;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
        color: white;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 15px;
        position: absolute;
        top: 0;
        left: -1px; }
      #header .details_container .subscriber_benefits .benefit_list {
        display: block; }
        #header .details_container .subscriber_benefits .benefit_list ul {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          min-height: 25px;
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2; }
          #header .details_container .subscriber_benefits .benefit_list ul li {
            color: #464646;
            padding-bottom: 5px; }
            #header .details_container .subscriber_benefits .benefit_list ul li.glyphicons {
              padding: 4px 0 0 30px; }
              #header .details_container .subscriber_benefits .benefit_list ul li.glyphicons:before {
                color: #8dc63f; }
    #header .details_container .subscribe_container {
      position: absolute;
      right: 15px;
      top: -75px;
      text-align: center;
      font-size: 36px;
      font-weight: 600; }
      #header .details_container .subscribe_container a {
        text-decoration: none; }
      #header .details_container .subscribe_container .subscribe_cost {
        display: block;
        height: 72px;
        width: 265px; }
        #header .details_container .subscribe_container .subscribe_cost .sign {
          background-color: #ea2f49;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#ea4e65), to(#ea2f49));
          background-image: -webkit-linear-gradient(top, #ea4e65, #ea2f49);
          background-image: -moz-linear-gradient(top, #ea4e65, #ea2f49);
          background-image: -ms-linear-gradient(top, #ea4e65, #ea2f49);
          background-image: -o-linear-gradient(top, #ea4e65, #ea2f49);
          background-image: linear-gradient(top, #ea4e65, #ea2f49);
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ea4e65', EndColorStr='#ea2f49');
          box-shadow: inset 0 1px 0 0 #ef7b8c;
          -webkit-box-shadow: inset 0 1px 0 0 #ef7b8c;
          border: 1px solid #cd233b;
          text-shadow: -1px -1px 0 #c3384c;
          -webkit-border-radius: 10px 0 0 10px;
          -moz-border-radius: 10px 0 0 10px;
          -ms-border-radius: 10px 0 0 10px;
          -o-border-radius: 10px 0 0 10px;
          border-radius: 10px 0 0 10px;
          color: white;
          float: left;
          height: 55px;
          padding-top: 15px;
          width: 65px; }
        #header .details_container .subscribe_container .subscribe_cost .amount {
          -webkit-border-radius: 0 10px 10px 0;
          -moz-border-radius: 0 10px 10px 0;
          -ms-border-radius: 0 10px 10px 0;
          -o-border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
          background-color: #f7f7f7;
          border-top: 1px solid #d7d7d7;
          border-right: 1px solid #d7d7d7;
          border-bottom: 1px solid #d7d7d7;
          color: #ea2e49;
          float: right;
          height: 55px;
          padding-top: 15px;
          width: 197px; }
      #header .details_container .subscribe_container .subscribe {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        display: none;
        color: white;
        height: 70px;
        width: 263px;
        height: 55px;
        padding-top: 15px;
        background-color: #359acd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#7dd3f3), to(#359acd));
        background-image: -webkit-linear-gradient(top, #7dd3f3, #359acd);
        background-image: -moz-linear-gradient(top, #7dd3f3, #359acd);
        background-image: -ms-linear-gradient(top, #7dd3f3, #359acd);
        background-image: -o-linear-gradient(top, #7dd3f3, #359acd);
        background-image: linear-gradient(top, #7dd3f3, #359acd);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7dd3f3', EndColorStr='#359acd');
        box-shadow: inset 0 1px 0 0 #c5ecff;
        -webkit-box-shadow: inset 0 1px 0 0 #c5ecff;
        border: 1px solid #277aa3;
        text-shadow: -1px -1px 0 #53a1c8; }
      #header .details_container .subscribe_container:hover .subscribe_cost {
        display: none; }
      #header .details_container .subscribe_container:hover .subscribe {
        display: block; }

/* Profile Create Post */
#create_post {
  margin-top: 15px; }
  #create_post .buttons {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, white, #f7f7f7);
    background-image: -moz-linear-gradient(top, white, #f7f7f7);
    background-image: -ms-linear-gradient(top, white, #f7f7f7);
    background-image: -o-linear-gradient(top, white, #f7f7f7);
    background-image: linear-gradient(top, white, #f7f7f7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#f7f7f7');
    border-bottom: 1px solid #d7d7d7;
    padding: 0 15px; }
    #create_post .buttons li {
      display: inline-block;
      font-size: 22px;
      font-weight: 400;
      padding: 10px 30px 15px 0;
      list-style-type: none;
      line-height: 100%; }
      #create_post .buttons li a {
        color: #464646;
        text-decoration: none;
        text-shadow: -1px -1px 0 white; }
        #create_post .buttons li a:hover.glyphicons:before {
          color: #3b9fd1; }
        #create_post .buttons li a.glyphicons {
          padding-left: 30px; }
          #create_post .buttons li a.glyphicons:before {
            color: #464646; }
        #create_post .buttons li a.active:before {
          color: #3b9fd1; }
  #create_post #post {
    padding: 15px;
    position: relative; }
    #create_post #post textarea {
      width: 835px; }
    #create_post #post input[type="submit"] {
      position: absolute;
      right: 15px;
      top: 15px; }

/* Subscriber View */
#subscriber_display {
  margin-top: 15px;
  /* Sidebar */
  /* Recent Posts */ }
  #subscriber_display .sidebar {
    float: left;
    width: 300px; }
    #subscriber_display .sidebar .share_box {
      background-color: #359acd;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#7dd3f3), to(#359acd));
      background-image: -webkit-linear-gradient(top, #7dd3f3, #359acd);
      background-image: -moz-linear-gradient(top, #7dd3f3, #359acd);
      background-image: -ms-linear-gradient(top, #7dd3f3, #359acd);
      background-image: -o-linear-gradient(top, #7dd3f3, #359acd);
      background-image: linear-gradient(top, #7dd3f3, #359acd);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7dd3f3', EndColorStr='#359acd');
      box-shadow: inset 0 1px 0 0 #c5ecff;
      -webkit-box-shadow: inset 0 1px 0 0 #c5ecff;
      border: 1px solid #277aa3;
      text-shadow: -1px -1px 0 #53a1c8;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      color: white;
      font-size: 24px;
      font-weight: 600;
      padding: 15px;
      text-align: center; }
    #subscriber_display .sidebar .contact span {
      color: #464646;
      display: block;
      font-size: 24px;
      padding: 15px; }
    #subscriber_display .sidebar .contact .box_cont {
      padding: 15px 15px 0 15px; }
      #subscriber_display .sidebar .contact .box_cont ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        #subscriber_display .sidebar .contact .box_cont ul a li {
          color: #898989;
          font-size: 14px;
          padding-bottom: 15px; }
        #subscriber_display .sidebar .contact .box_cont ul a .glyphicons {
          padding-left: 20px; }
          #subscriber_display .sidebar .contact .box_cont ul a .glyphicons:before {
            color: #e8e8e8;
            font-size: 12px !important; }
        #subscriber_display .sidebar .contact .box_cont ul a:hover li {
          text-decoration: underline; }
        #subscriber_display .sidebar .contact .box_cont ul a:hover .glyphicons:before {
          color: #3b9fd1; }
  #subscriber_display .recent_posts {
    float: right;
    position: relative;
    width: 630px;
    /* Post */
    /* Recent Posts */ }
    #subscriber_display .recent_posts .post {
      margin-bottom: 15px;
      position: relative;
      z-index: 1; }
      #subscriber_display .recent_posts .post .date {
        color: #c2c2c2;
        font-size: 12px;
        padding: 15px 15px 0 15px; }
      #subscriber_display .recent_posts .post .message {
        font-size: 14px;
        padding: 30px 15px; }
      #subscriber_display .recent_posts .post .edit_post {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 5px; }
        #subscriber_display .recent_posts .post .edit_post:hover.glyphicons:before {
          color: #3b9fd1; }
        #subscriber_display .recent_posts .post .edit_post.glyphicons {
          padding: 0; }
          #subscriber_display .recent_posts .post .edit_post.glyphicons:before {
            color: #d7d7d7; }
      #subscriber_display .recent_posts .post .foot {
        background-color: #f7f7f7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
        background-image: -webkit-linear-gradient(top, white, #f7f7f7);
        background-image: -moz-linear-gradient(top, white, #f7f7f7);
        background-image: -ms-linear-gradient(top, white, #f7f7f7);
        background-image: -o-linear-gradient(top, white, #f7f7f7);
        background-image: linear-gradient(top, white, #f7f7f7);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#f7f7f7');
        text-shadow: -1px -1px 0 white;
        border-top: 1px solid #d7d7d7;
        padding: 15px;
        position: relative; }
        #subscriber_display .recent_posts .post .foot a {
          color: #959595;
          float: right; }
          #subscriber_display .recent_posts .post .foot a:hover.glyphicons:before {
            color: #3b9fd1; }
          #subscriber_display .recent_posts .post .foot a.glyphicons {
            padding-left: 35px; }
            #subscriber_display .recent_posts .post .foot a.glyphicons:before {
              color: #959595;
              top: -5px; }
    #subscriber_display .recent_posts .comment_container {
      background: white;
      border-left: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7;
      border-right: 1px solid #d7d7d7;
      margin: -16px 15px 15px 15px;
      position: relative;
      z-index: 0; }
      #subscriber_display .recent_posts .comment_container .comment {
        border-top: 1px solid #d7d7d7;
        margin: 0 auto;
        padding: 15px 0;
        position: relative;
        width: 568px; }
        #subscriber_display .recent_posts .comment_container .comment:first-child {
          border-top: none; }
        #subscriber_display .recent_posts .comment_container .comment .user {
          color: #464646;
          font-size: 14px;
          margin-bottom: 5px;
          font-weight: 600; }
        #subscriber_display .recent_posts .comment_container .comment .date {
          color: #c2c2c2;
          position: absolute;
          font-size: 12px;
          top: 15px;
          right: 15px; }
        #subscriber_display .recent_posts .comment_container .comment .message {
          color: #898989;
          font-size: 13px;
          line-height: 20px; }
      #subscriber_display .recent_posts .comment_container textarea {
        background-color: #f7f7f7;
        border: none;
        border-bottom: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
        color: #898989;
        display: block;
        font-size: 14px;
        line-height: 24px;
        resize: none;
        padding: 15px;
        width: 568px;
        min-height: 50px; }
        #subscriber_display .recent_posts .comment_container textarea:focus {
          outline: none; }
      #subscriber_display .recent_posts .comment_container .foot {
        display: block;
        padding: 15px; }
        #subscriber_display .recent_posts .comment_container .foot .error {
          float: left; }
        #subscriber_display .recent_posts .comment_container .foot .hide {
          color: #959595;
          cursor: pointer;
          float: right;
          margin-top: 14px;
          margin-right: 15px; }
          #subscriber_display .recent_posts .comment_container .foot .hide:hover {
            text-decoration: underline; }
        #subscriber_display .recent_posts .comment_container .foot input[type="submit"] {
          float: right; }

/* Old Styles */
.js-highlight {
  border: 2px solid red;
  display: visible; }

#overlay {
  z-index: 11000;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: black;
  position: fixed;
  opacity: 0.6; }

.popup {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: 11001;
  display: none;
  position: fixed;
  background: white;
  min-width: 200px;
  min-height: 50px;
  top: 50%;
  left: 50%;
  border: 5px solid black;
  padding: 5px; }
  .popup .close_button {
    top: 3px;
    right: 3px;
    font-size: 10pt;
    cursor: pointer;
    color: red;
    position: absolute; }

.error {
  color: red;
  font-size: 10px;
  display: none; }

label {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  color: gray; }

.left_column {
  width: 200px;
  float: left;
  padding-right: 10px; }

.right_column {
  float: left;
  padding: 5px; }

.up {
  height: 10px;
  width: 100%;
  clear: both; }

.below {
  font-size: 12px;
  padding-top: 10px; }

ul.dashboard_menu {
  border-radius: 10px;
  background: #faffc9;
  width: 200px; }
  ul.dashboard_menu li {
    clear: both;
    padding: 5px; }
    ul.dashboard_menu li a {
      color: black;
      text-align: center;
      padding-top: 10px;
      border-radius: 10px;
      height: 40px;
      width: 100%;
      display: block; }
      ul.dashboard_menu li a.active {
        color: white;
        background: crimson; }

.pending {
  opacity: 0.3; }
