h2 Public Profiles
p Find profiles and make them public or private

form.Form action=admin_profiles_path method='get' data-target='users'
  input.Autocomplete.form-control type="text" name='q' placeholder="Search profiles by name"

div data-identifier='users'
