.adult_content.alert.alert-warning
  strong Attention:
  '  This profile contains <b>18+</b> mature content, you must be 18 years of age or older to subscribe to this profile. By subscribing to this profile, you acknowledge that you are 18 years of age or older.
