= render partial: 'dialogue', collection: @dialogues
- unless current_user.dialogues.last_page?
  div data-identifier='dialogues-list'
    li.AjaxLink href=account_info_dialogues_path(page: current_user.dialogues.next_page) data-target='dialogues-list' Load More Dialogues
