s3: &s3
  robot: '/s3/store'
  key: 'AKIAJ5KUIYFXQB5KUD5A'
  secret: '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'

audio_filter: &audio_filter
  files:
    robot: '/file/filter'
    condition_type: 'and'
    accepts:
      - ["${file.mime}", "regex", "audio"]
      - ["${file.ext}", "regex", '^(aac|m4a|mp3|ogg|oga)$']
    error_on_decline: true

document_filter: &document_filter
  files:
    robot: '/file/filter'
    accepts:
      - ["${file.name}", "regex", '^.+\.(doc|docx|rtf|txt|odt|csv|pps|ppt|pptx|indd|pdf|xlr|xls|xlsx)$']
    error_on_decline: true

image_filter: &image_filter
  files:
    robot: '/file/filter'
    accepts:
      - ["${file.mime}", "regex", "image"]
    error_on_decline: true

video_filter: &video_filter
  files:
    robot: '/file/filter'
    condition_type: 'and'
    accepts:
      - ["${file.mime}", "regex", "video"]
      - ["${file.ext}", "regex", '^(mp4|m4v|f4v|mov|flv)$']
    error_on_decline: true

video_or_audio_filter: &video_or_audio_filter
  files:
    robot: '/file/filter'
    condition_type: 'or'
    accepts:
      - ["${file.mime}", "regex", "video"]
      - ["${file.mime}", "regex", "audio"]
      - ["${file.ext}", "regex", '^(mp4|m4v|f4v|mov|flv|aac|m4a|mp3|ogg|oga)$']
    error_on_decline: true

development:
  profile_image: &profile_image
    <<: *s3
    bucket: 'buddy-assets'

  # the jquery_sdk version you want to use, read up on it here:
  # https://transloadit.com/blog/2013/02/transloadit-javascript-plugin-and-jquery-1-9
  # defaults to latest
  # use "v1.0.0" if you need IE6 support (using jQuery < 1.9)
  jquery_sdk_version: 'latest'
  auth:
    key     : 'bd5bea60c06e11e3bf3d4b00c82e3cf7'
    secret  : '80d8d557d23c2e6798dc55c6bedfdebaf281fec5' # this is optional, but highly recommended, https://transloadit.com/docs/authentication
    duration: 320000 # 30 minute validity period for signed upload forms

  templates:
    # template identified by template_id
    s3_store: 'S3_STORE_TEMPLATE_ID'

    # template defined inline
    profile_picture:
      steps:
        <<: *image_filter
        thumb_180x180:
          robot: '/image/resize'
          width: 180
          height: 180
          resize_strategy: 'fillcrop'
        thumb_50x50:
          robot: '/image/resize'
          width: 50
          height: 50
          resize_strategy: 'fillcrop'
          use: thumb_180x180
        store:
          <<: *profile_image
          use:
            - 'thumb_180x180'
            - 'thumb_50x50'
            - ':original'
          path: 'uploads/profile_pictures/${fields.slug}/${assembly.id}____${file.meta.width}x${file.meta.height}____${file.url_name}'

    cover_picture:
      steps:
        <<: *image_filter
        resized:
          robot: '/image/resize'
          width: 970
          resize_strategy: 'fit'
        store:
          <<: *profile_image
          use:
            - resized
            - ":original"
          path: 'uploads/profile_covers/${fields.slug}/${assembly.id}____${file.meta.width}x${file.meta.height}____${file.url_name}'

    welcome_media:
      steps:
        <<: *video_or_audio_filter
        thumbs:
          use: ":original"
          robot: "/video/thumbs"
          offsets: ['43%']
        s3_thumb:
          <<: *s3
          use: 'thumbs'
          bucket: 'buddy-assets'
          path: 'uploads/thumbs/${fields.slug}/${assembly.id}____${file.url_name}'
        encode:
          robot: "/video/encode"
          use: ":original"
          ffmpeg_stack: "v2.0.0"
          preset: "ipad"
          width: null
          height: null
          ffmpeg:
            b: "700k"
            vf: "scale='min(iw,1280)':-1"
        store:
          <<: *s3
          use:
            - 'encode'
            - ':original'
          url_prefix: 'https://s1y5uslj4plb.cloudfront.net/'
          bucket: 'buddy-video-assets'
          path: '${assembly.id}__${file.id}____${file.url_name}'

    post_video:
      steps:
        <<: *video_filter
        thumbs:
          use: ":original"
          robot: "/video/thumbs"
          offsets: ['43%']
        s3_thumb:
          <<: *s3
          use: 'thumbs'
          bucket: 'buddy-assets'
          path: 'uploads/thumbs/${fields.slug}/${assembly.id}____${file.url_name}'
        encode:
          robot: "/video/encode"
          use: ":original"
          ffmpeg_stack: "v2.0.0"
          preset: "ipad"
          width: null
          height: null
          ffmpeg:
            b: "700k"
            vf: "scale='min(iw,1280)':-1"
        store:
          <<: *s3
          use:
            - 'encode'
            - ':original'
          url_prefix: 'https://s1y5uslj4plb.cloudfront.net/'
          bucket: 'buddy-video-assets'
          path: '${assembly.id}__${file.id}____${file.url_name}'

    post_audio:
      steps:
        <<: *audio_filter
        store:
          <<: *s3
          use: ':original'
          bucket: 'buddy-video-assets'
          path: '${assembly.id}____${file.url_name}'
          url_prefix: 'https://s1y5uslj4plb.cloudfront.net/'
          headers:
            'Content-Type': "${file.mime}"
            'Content-Disposition': "attachment; filename=${file.url_name}"

    post_photo:
      steps:
        <<: *image_filter
        preview:
          robot: '/image/resize'
          use: ':original'
          width: 100
          height: 100
          resize_strategy: 'fillcrop'
        store:
          <<: *s3
          use:
            - ':original'
            - 'preview'
          bucket: 'buddy-assets'
          path: 'uploads/post_photos/${fields.slug}/${assembly.id}____${file.meta.width}x${file.meta.height}____${file.url_name}'

    post_document:
      steps:
        <<: *document_filter
        preview:
          robot: "/document/thumbs"
          page: 1
          width: 200
          resize_strategy: "fit"
        store:
          <<: *s3
          use:
            - ':original'
            - 'preview'
          bucket: 'buddy-private-assets'
          path: 'uploads/post_documents/${fields.slug}/${assembly.id}__${file.url_name}'

staging:
  attachment: &attachment
    <<: *s3
    use: ':original'
    bucket: 'buddy-assets'

  media: &media
    <<: *s3
    bucket: 'buddy-video-assets'
    url_prefix: 'https://s1y5uslj4plb.cloudfront.net/'
    path: '${assembly.id}__${file.id}____${file.url_name}'

  user_picture: &user_picture
    <<: *s3
    use:
      - 'resize'
      - ':original'
    bucket: 'buddy-assets'

  # the jquery_sdk version you want to use, read up on it here:
  # https://transloadit.com/blog/2013/02/transloadit-javascript-plugin-and-jquery-1-9
  # defaults to latest
  # use "v1.0.0" if you need IE6 support (using jQuery < 1.9)
  jquery_sdk_version: 'latest'
  auth:
    key     : 'bd5bea60c06e11e3bf3d4b00c82e3cf7'
    secret  : '80d8d557d23c2e6798dc55c6bedfdebaf281fec5' # this is optional, but highly recommended, https://transloadit.com/docs/authentication
    duration: 320000 # 30 minute validity period for signed upload forms

  templates:
    # template identified by template_id
    s3_store: 'S3_STORE_TEMPLATE_ID'

    # template defined inline
    profile_picture:
      steps:
        <<: *image_filter
        thumb_180x180:
          robot: '/image/resize'
          width: 180
          height: 180
          resize_strategy: 'fillcrop'
        thumb_50x50:
          robot: '/image/resize'
          width: 50
          height: 50
          resize_strategy: 'fillcrop'
          use: thumb_180x180
        store:
          <<: *user_picture
          use:
            - 'thumb_180x180'
            - 'thumb_50x50'
            - ':original'
          path: 'profile_pictures/${fields.slug}/${assembly.id}____${file.meta.width}x${file.meta.height}____${file.url_name}'

    cover_picture:
      steps:
        <<: *image_filter
        resized:
          robot: '/image/resize'
          width: 970
          resize_strategy: 'fit'
        store:
          <<: *user_picture
          use:
            - resized
            - ":original"
          path: 'profile_covers/${fields.slug}/${assembly.id}____${file.meta.width}x${file.meta.height}____${file.url_name}'

    welcome_media:
      steps:
        <<: *video_or_audio_filter
        thumbs:
          use: ":original"
          robot: "/video/thumbs"
          offsets: ['43%']
        s3_thumb:
          <<: *s3
          use: 'thumbs'
          bucket: 'buddy-video-assets'
          path: 'video_previews/${fields.slug}/${assembly.id}____${file.url_name}'
        encode:
          robot: "/video/encode"
          use: ":original"
          ffmpeg_stack: "v2.0.0"
          preset: "ipad"
          width: null
          height: null
          ffmpeg:
            b: "700k"
            vf: "scale='min(iw,1280)':-1"
        store:
          <<: *media
          use:
            - 'encode'
            - ':original'

    post_video:
      steps:
        <<: *video_filter
        thumbs:
          use: ":original"
          robot: "/video/thumbs"
          offsets: ['43%']
        s3_thumb:
          <<: *s3
          use: 'thumbs'
          bucket: 'buddy-video-assets'
          path: 'video_previews/${fields.slug}/${assembly.id}____${file.url_name}'
        encode:
          robot: "/video/encode"
          use: ":original"
          ffmpeg_stack: "v2.0.0"
          preset: "ipad"
          width: null
          height: null
          ffmpeg:
            b: "700k"
            vf: "scale='min(iw,1280)':-1"
        store:
          <<: *media
          use:
            - 'encode'
            - ':original'

    post_audio:
      steps:
        <<: *audio_filter
        store:
          <<: *media
          use: ':original'
          headers:
            'Content-Type': "${file.mime}"
            'Content-Disposition': "attachment; filename=${file.url_name}"
          use: ':original'

    post_photo:
      steps:
        <<: *image_filter
        preview:
          robot: '/image/resize'
          use: ':original'
          width: 100
          height: 100
          resize_strategy: 'fillcrop'
        store:
          <<: *attachment
          use:
            - ':original'
            - 'preview'
          path: 'photos/${fields.slug}/${assembly.id}__${file.meta.width}x${file.meta.height}____${file.url_name}'

    post_document:
      steps:
        <<: *document_filter
        preview:
          robot: "/document/thumbs"
          page: 1
          width: 200
          resize_strategy: "fit"
        store:
          <<: *attachment
          use:
            - ':original'
            - 'preview'
          path: 'documents/${fields.slug}/${assembly.id}__${file.url_name}'


production:
  attachment: &attachment
    <<: *s3
    use: ':original'
    bucket: 'connectpal-uploads'

  media: &media
    <<: *s3
    url_prefix: 'https://s3kch7itxilxuh.cloudfront.net/'
    bucket: 'connectpal-media'
    path: '${assembly.id}__${file.id}____${file.url_name}'

  user_picture: &user_picture
    <<: *s3
    bucket: 'connectpal-uploads'

  # the jquery_sdk version you want to use, read up on it here:
  # https://transloadit.com/blog/2013/02/transloadit-javascript-plugin-and-jquery-1-9
  # defaults to latest
  # use "v1.0.0" if you need IE6 support (using jQuery < 1.9)
  jquery_sdk_version: 'latest'
  auth:
    key     : 'bd5bea60c06e11e3bf3d4b00c82e3cf7'
    secret  : '80d8d557d23c2e6798dc55c6bedfdebaf281fec5' # this is optional, but highly recommended, https://transloadit.com/docs/authentication
    duration: 320000 # 30 minute validity period for signed upload forms

  templates:
    # template identified by template_id
    s3_store: 'S3_STORE_TEMPLATE_ID'

    # template defined inline
    profile_picture:
      steps:
        <<: *image_filter
        thumb_180x180:
          robot: '/image/resize'
          width: 180
          height: 180
          resize_strategy: 'fillcrop'
        thumb_50x50:
          robot: '/image/resize'
          width: 50
          height: 50
          resize_strategy: 'fillcrop'
          use: thumb_180x180
        store:
          <<: *user_picture
          use:
            - 'thumb_180x180'
            - 'thumb_50x50'
            - ':original'
          path: 'profile_pictures/${fields.slug}/${assembly.id}____${file.meta.width}x${file.meta.height}____${file.url_name}'

    cover_picture:
      steps:
        <<: *image_filter
        resized:
          robot: '/image/resize'
          width: 970
          resize_strategy: 'fit'
        store:
          <<: *user_picture
          use:
            - resized
            - ":original"
          path: 'profile_covers/${fields.slug}/${assembly.id}____${file.meta.width}x${file.meta.height}____${file.url_name}'

    welcome_media:
      steps:
        <<: *video_or_audio_filter
        thumbs:
          use: ":original"
          robot: "/video/thumbs"
          offsets: ['43%']
        s3_thumb:
          <<: *s3
          use: 'thumbs'
          bucket: 'connectpal-uploads'
          path: 'video_previews/${fields.slug}/${assembly.id}____${file.url_name}'
        encode:
          robot: "/video/encode"
          use: ":original"
          ffmpeg_stack: "v2.0.0"
          preset: "ipad"
          width: null
          height: null
          ffmpeg:
            b: "700k"
            vf: "scale='min(iw,1280)':-1"
        store:
          <<: *media
          use:
            - 'encode'
            - ':original'

    post_video:
      steps:
        <<: *video_filter
        thumbs:
          use: ":original"
          robot: "/video/thumbs"
          offsets: ['43%']
        s3_thumb:
          <<: *s3
          use: 'thumbs'
          bucket: 'connectpal-uploads'
          path: 'video_previews/${fields.slug}/${assembly.id}____${file.url_name}'
        encode:
          robot: "/video/encode"
          use: ":original"
          ffmpeg_stack: "v2.0.0"
          preset: "ipad"
          width: null
          height: null
          ffmpeg:
            b: "700k"
            vf: "scale='min(iw,1280)':-1"
        store:
          <<: *media
          use:
            - 'encode'
            - ':original'

    post_audio:
      steps:
        <<: *audio_filter
        store:
          <<: *media
          use: ':original'
          headers:
            'Content-Type': "${file.mime}"
            'Content-Disposition': "attachment; filename=${file.url_name}"

    post_photo:
      steps:
        <<: *image_filter
        preview:
          robot: '/image/resize'
          use: ':original'
          width: 100
          height: 100
          resize_strategy: 'fillcrop'
        store:
          <<: *attachment
          use:
            - ':original'
            - 'preview'
          path: 'photos/${fields.slug}/${assembly.id}__${file.meta.width}x${file.meta.height}____${file.url_name}'

    post_document:
      steps:
        <<: *document_filter
        preview:
          robot: "/document/thumbs"
          page: 1
          width: 200
          resize_strategy: "fit"
        store:
          <<: *attachment
          use:
            - ':original'
            - 'preview'
          path: 'documents/${fields.slug}/${assembly.id}__${file.url_name}'
