- logo_image = (@user || @current_user).profile_picture_url || 'http://connectpal-assets.s3.amazonaws.com/images/logo.png'

doctype XML
rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
  channel
    title #{(@user || @current_user).name.possessive} ConnectPal Channel.
    - href = @user ? "https://www.connectpal.com/feed/itunes?user_id=#{@user.id}" : 'https://www.connectpal.com/feed/itunes'
    atom:link href=href rel='self' type='application/rss+xml'
    link https://www.connectpal.com
    description Your personal Podcast Station
    - if @posts.any?
      lastBuildDate= @posts.first.created_at.to_s(:rfc822)
    language en-US
    sy:updatePeriod hourly
    sy:updateFrequency 1

    copyright © #{Time.zone.now.year} ConnectPal

    itunes:summary Exclusive fresh media content.
    itunes:author ConnectPal
    itunes:explicit no
    itunes:image href='#{logo_image}'
    itunes:owner
      itunes:name Andy Dean Media
      itunes:email support@connectpal.com

    itunes:subtitle ConnectPal, the Best Podcast on the net.
    image
      title ConnectPal Podcasts
      url #{logo_image}
      link https://www.connectpal.com
    itunes:category text="Education"

    - @posts.each do |post|
      - if post.uploads.audios.any?
        - post.uploads.audios.order('uploads.created_at DESC').each do |upload|
          item
            title= post.title || upload.filename
            link= profile_url(post.user, source: 'rss_link', upload_id: upload.id, post_id: post.id).gsub('https', 'http')
            comments= profile_url(post.user, source: 'rss_comments', upload_id: upload.id, post_id: post.id).gsub('https', 'http')
            pubDate= upload.created_at.to_s(:rfc822)
            guid= profile_url(post.user, source: 'rss_guid', upload_id: upload.id, post_id: post.id).gsub('https', 'http')
            description= post.message
            itunes:subtitle= upload.filename
            itunes:summary= post.message
            itunes:author= post.user.name
            itunes:explicit no
            itunes:duration= upload.duration.to_i
            itunes:image href=post.user.profile_picture_url.gsub('https', 'http') /
            enclosure length="#{(upload.transloadit_data['results'][':original'])[0]['size']}" type="#{upload.mime_type}" url="#{upload.original_url.gsub('https', 'http')}" /
      - else
        - unless params[:itunes]
          item
            title= post.title || 'New Post'
            link= profile_url(post.user, source: 'rss_link', post_id: post.id).gsub('https', 'http')
            comments= profile_url(post.user, source: 'rss_comments')
            pubDate= post.created_at.to_s(:rfc822)
            guid= profile_url(post.user, source: 'rss_guid', post_id: post.id)
            description= post.message
