doctype XML
rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom"
  channel
    title= @post.title
    link= profile_url(@post.user)
    language en-us
    copyright © #{Time.zone.now.year} #{@post.user.full_name || @post.user.profile_name}
    itunes:subtitle= @post.user.profile_name
    itunes:author= @post.user.name
    itunes:summary= @post.message
    description= @post.message
    itunes:owner
      itunes:name= @post.user.name
      itunes:email= @post.user.email
    itunes:explicit no
    itunes:image href=@post.user.profile_picture_url.gsub('https', 'http') /
    itunes:category text="News & Politics"
    - @uploads.each_with_index do |upload|
      item
        title= upload.filename
        itunes:author= @post.user.name
        itunes:subtitle= @post.message
        itunes:summary= @post.message
        itunes:image href=@post.user.profile_picture_url.gsub('https', 'http') /
        enclosure length="#{upload.transloadit_data[:results][':original'][0]['size']}" type="#{upload.mime_type}" url="#{upload.original_url.gsub('https', 'http')}" /
        link= upload.original_url.gsub('https', 'http')
        guid= upload.original_url.gsub('https', 'http')
        pubDate= @post.created_at.rfc2822
        itunes:duration= upload.duration.to_i
