@import "mixins/**/*"
@import "pages/**/*"

body
  background: #f6f3fa
  font-family: 'Cuprum', sans-serif
  color: #1b1b1b

#wrapper
  background: white
  width: 700px
  margin: 0 auto
  border-radius: 0 0 10px 10px

#heap
  padding: 10px
  background: #faffc9
  height: 60px
  border-bottom: 2px solid crimson
  font-size: 10pt

  #logo
    float: left
    background: url(https://0.gravatar.com/avatar/29dc86e657027c9b0cca3d4f545e9815?d=https%3A%2F%2Fidenticons.github.com%2F1ef91956232b94358cb707822354bef2.png&r=x&s=60)
    height: 60px
    width: 60px

  #login_area
    width: 200px
    float: right
    text-align: right

    a
      display: block
      clear: both

#content
  padding: 10px
  min-height: 800px

.email
  color: gray

.js-highlight
  border: 2px solid red
  display: visible

#overlay
  z-index: 10000
  display: none
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: black
  position: fixed
  opacity: 0.6

.popup
  z-index: 10001
  display: none
  position: fixed
  background: white
  min-width: 200px
  min-height: 50px
  top: 50%
  left: 50%
  border-radius: 10px
  border: 5px solid black
  padding: 5px

  .close_button
    top: 3px
    right: 3px
    font-size: 10pt
    cursor: pointer
    color: red
    position: absolute

.error
  color: red
  font-size: 10px
  display: none

label
  display: inline-block
  width: 100px
  font-size: 12px
  color: gray

.left_column
  width: 200px
  float: left
  padding-right: 10px

.right_column
  float: left
  padding: 5px

.up
  height: 10px
  width: 100%
  clear: both

.below
  font-size: 12px
  padding-top: 10px

.Posts
  width: 500px
  padding: 10px
  margin-top: 10px
  background: #f6f3fa

  .post
    background: #faffc9
    border-top: 1px solid crimson
    padding: 10px
    margin-top: 5px

    .date
      font-weight: bold
      color: gray
      font-size: 10px

    .message
      font-size: 14px
      padding-top: 5px


ul.dashboard_menu
  border-radius: 5px
  background: #faffc9
  width: 200px

  li
    clear: both
    padding: 5px

    a
      color: black
      text-align: center
      padding-top: 10px
      border-radius: 5px
      height: 40px
      width: 100%
      display: block
      &.active
        color: white
        background: crimson

.pending
  opacity: 0.3