$deepest_depth: 1000 // Z-Index start for elements displaying on top of others
$center_width: 970px
$border_radius: 10px
$fill_color: #f7f7f7
$blue_color: #3b9fd1
$green_color: #8dc63f
$text_color: #464646
$gear_color: #d7d7d7
$gear_hover: #464646

@import "mixins/**/*"
@import "pages/**/*"

/* General */

body 
  background: $fill_color
  color: #464646
  font-family: 'Open Sans', Arial, sans-serif
  font-size: 13px
a 
  border: none

#content
  width: $center_width
  margin: 0 auto
  margin-top: 62px

.cf
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both
  *zoom: 1  

.hidden
  display: none

.container 
  @include border-radius($border_radius)
  background: #ffffff 
  border: 1px solid #d7d7d7
  display: block
  margin: 0 auto
  overflow: hidden
  position: relative
  width: $center_width

.box_cont 
  @include border-radius($border_radius)
  background: #ffffff 
  border: 1px solid #d7d7d7
  display: block
  overflow: hidden
  position: relative

.btn
  @include border-radius($border_radius)
  color: #FFFFFF
  text-align: center
  &.pink
    @include pink-area
  &.blue
    @include blue-area
  &.black
    @include black-area
  &:hover
    &.pink
      @include linear-gradient(#ea2f49, #ea4e65)
    &.blue
      @include linear-gradient(#359acd, #7dd3f3)
    &.black
      @include linear-gradient(#2d2d2d, #3e3e3e)

/* Form Items */

button  
  cursor: pointer

textarea
  color: #898989 
  border: none
  font-size: 14px
  line-height: 18px
  resize: none
  &:focus 
    outline: none

input[type="submit"]
  @include border-radius($border_radius)
  @include blue-area
  color: #FFFFFF
  cursor: pointer
  font-size: 16px
  padding: 8px 10px
  &:hover 
    @include linear-gradient(#359acd, #7dd3f3)

/* Owner View Icon Specific */

.glyphicons.cogwheel
  padding: 0
  &:before
    padding: 0
    color: $gear_color
  &:hover
    &:before
      color: $gear_hover  

/* Navigation */

nav 
  @include linear-gradient(#7dd3f3, #359acd)
  height: 45px
  border-top: 1px solid #c5ecff
  border-bottom: 1px solid #277aa3
  display: block
  position: fixed
  top: 0
  width: 100%
  z-index: $deepest_depth
  .wrapper
    width: $center_width - 2*$border_radius
    margin: 0 auto
    .logo
      display: block
      float: left
      height: 31px
      margin-top: 6px
      width: 191px
      img 
        height: 31px
        width: 191px
    .buttons 
      float: right
      a 
        text-decoration: none
      .btn 
        float: right
        height: 22px
        margin: 5px 0 0 10px
        padding: 8px 10px 0

/* Profile Header */

#header
  padding-bottom: 10px
  .cover_photo
    background: asset-url('http://buddy-assets.s3.amazonaws.com/images/cover-default.png') no-repeat
    border-bottom: 1px solid #d7d7d7
    display: block
    height: 280px
    position: relative
  .profile_photo
    background-color: $fill_color
    border: 1px solid #d7d7d7
    position: absolute
    top: 90px
    left: 15px
    height: 250px
    width: 250px
  .cover_photo, .profile_photo
    span
      display: none
      cursor: pointer
      position: absolute
      bottom: 15px
      padding: 13px 15px
    &:hover 
      span
        display: block  
  .cover_photo
    span 
      right: 15px
  .profile_photo
    span 
      right: 46px
  .details_container 
    position: relative
    .profile_name 
      margin: 90px 0 0 15px
      font-weight: 600
      font-size: 36px
      .glyphicons.cogwheel
        padding-left: 38px
        &:before
          padding-top: 7px
    .subscriber_benefits
      display: block
      margin-top: 15px
      padding: 45px 15px 0
      position: relative
      .label
        @include black-area
        @include border-radius(0 5px 5px 0)
        color: #FFFFFF
        font-size: 14px
        font-weight: 400
        padding: 10px 15px
        position: absolute
        top: 0
        left: -1px  
      .benefit_list
        display: block
        ul
          font-size: 14px
          font-weight: 400
          line-height: 20px
          min-height: 25px
          columns: 2
          -webkit-columns: 2
          -moz-columns: 2
          li
            color: $text_color
            padding-bottom: 5px
            &.glyphicons
              padding: 4px 0 0 30px
              &:before
                color: $green_color 
    .subscribe_container
      position: absolute
      right: 15px
      top: -75px
      text-align: center
      font-size: 36px
      font-weight: 600
      a 
        text-decoration: none
      .subscribe_cost
        display: block
        height: 72px
        width: 265px 
        .sign
          @include pink-area
          @include border-radius($border_radius 0 0 10px)
          color: #FFFFFF
          float: left
          height: 55px
          padding-top: 15px
          width: 65px
        .amount
          @include border-radius(0 $border_radius $border_radius 0)
          background-color: $fill_color
          border-top: 1px solid #d7d7d7
          border-right: 1px solid #d7d7d7
          border-bottom: 1px solid #d7d7d7
          color: #ea2e49
          float: right
          height: 55px
          padding-top: 15px
          width: 197px
      .subscribe
        @include border-radius($border_radius)
        display: none
        color: #FFFFFF
        height: 70px
        width: 263px 
        height: 55px
        padding-top: 15px
        @include blue-area
      &:hover
        .subscribe_cost 
          display: none
        .subscribe
          display: block

/* Profile Create Post */

#create_post
  margin-top: 15px
  .buttons
    @include linear-gradient(#FFFFFF, #F7F7F7)
    border-bottom: 1px solid #d7d7d7
    padding: 0 15px    
    li
      display: inline-block
      font-size: 22px
      font-weight: 400
      padding: 10px 30px 15px 0
      list-style-type: none
      line-height: 100%
      a
        color: #464646
        text-decoration: none
        text-shadow: -1px -1px 0 #FFFFFF
        &:hover
          &.glyphicons
            &:before
              color: $blue_color  
        &.glyphicons
          padding-left: 30px
          &:before
            color: $text_color
        &.active 
          &:before
            color: $blue_color  
  #post 
    padding: 15px
    position: relative
    textarea
      width: 835px
    input[type="submit"]
      position: absolute
      right: 15px
      top: 15px

/* Subscriber View */

#subscriber_display
  margin-top: 15px

  /* Sidebar */

  .sidebar
    float: left
    width: 300px
    .share_box
      @include blue-area
      @include border-radius($border_radius)
      color: #FFFFFF
      font-size: 24px
      font-weight: 600
      padding: 15px
      text-align: center

  /* Recent Posts */ 

  .recent_posts
    float: right
    position: relative
    width: 630px

    /* Post */

    .post
      margin-bottom: 15px
      position: relative
      z-index: 1
      .date
        color: #c2c2c2
        font-size: 12px
        padding: 15px 15px 0 15px
      .message
        font-size: 14px
        padding: 30px 15px
      .edit_post 
        cursor: pointer
        position: absolute
        right: 30px
        top: 5px
        &:hover
          &.glyphicons
            &:before
              color: $blue_color  
        &.glyphicons
          padding: 0
          &:before
            color: $gear_color
      .foot
        @include white-area
        border-top: 1px solid #d7d7d7
        padding: 15px
        position: relative
        a 
          color: #959595
          float: right
          &:hover
            &.glyphicons
              &:before
                color: $blue_color  
          &.glyphicons
            padding-left: 35px
            &:before
              color: #959595
              top: -5px

    /* Recent Posts */ 

    .comment_container
      background: #FFFFFF
      border-left: 1px solid #d7d7d7
      border-bottom: 1px solid #d7d7d7
      border-right: 1px solid #d7d7d7
      margin: -16px 15px 15px 15px
      position: relative
      z-index: 0
      .comment 
        border-top: 1px solid #d7d7d7
        margin: 0 auto
        padding: 15px 0
        position: relative
        width: 568px
        &:first-child
          border-top: none
        .user
          color: #464646
          font-size: 14px
          margin-bottom: 5px
          font-weight: 600
        .date
          color: #c2c2c2
          position: absolute
          font-size: 12px
          top: 15px
          right: 15px
        .message
          color: #898989
          font-size: 13px
          line-height: 20px
      textarea
        background-color: #F7F7F7
        border: none
        border-bottom: 1px solid #d7d7d7
        border-top: 1px solid #d7d7d7
        color: #898989
        display: block
        font-size: 14px
        line-height: 24px
        resize: none
        padding: 15px
        width: 568px
        min-height: 50px
        &:focus 
          outline: none
      .foot  
        display: block
        padding: 15px
        .error
          float: left
        .hide    
          color: #959595
          cursor: pointer
          float: right
          margin-top: 14px
          margin-right: 15px
          &:hover 
            text-decoration: underline
        input[type="submit"]
          float: right






/* Old Styles */

.js-highlight
  border: 2px solid red
  display: visible

#overlay
  z-index: $deepest_depth + 10000
  display: none
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: black
  position: fixed
  opacity: 0.6

.popup
  @include border-radius($border_radius)
  z-index: $deepest_depth + 10001
  display: none
  position: fixed
  background: white
  min-width: 200px
  min-height: 50px
  top: 50%
  left: 50%
  border: 5px solid black
  padding: 5px

  .close_button
    top: 3px
    right: 3px
    font-size: 10pt
    cursor: pointer
    color: red
    position: absolute

.error
  color: red
  font-size: 10px
  display: none

label
  display: inline-block
  width: 100px
  font-size: 12px
  color: gray

.left_column
  width: 200px
  float: left
  padding-right: 10px

.right_column
  float: left
  padding: 5px

.up
  height: 10px
  width: 100%
  clear: both

.below
  font-size: 12px
  padding-top: 10px


ul.dashboard_menu
  border-radius: $border_radius
  background: #faffc9
  width: 200px

  li
    clear: both
    padding: 5px

    a
      color: black
      text-align: center
      padding-top: 10px
      border-radius: $border_radius
      height: 40px
      width: 100%
      display: block
      &.active
        color: white
        background: crimson

.pending
  opacity: 0.3