$deepest_depth: 1000 // Z-Index start for elements displaying on top of others
$border_radius: 10px
$color_background: #f7f7f7
$color_gray_back: #f0f0f0
$color_border: #d7d7d7
$color_blue: #3b9fd1
$color_pink: #ea2e49
$color_green: #8dc63f
$color_text_light: #898989
$color_text_dark: #464646
$color_gear: #d7d7d7
$color_gear_hover: #464646
$color_homepage_text: #252525
$box_margin: 30px
$nav_height: 45px

@import "mixins/**/*"
@import "pages/**/*"
@import "bootstrap"

// General

.unread-legend
  background-color: #fffbdd !important
  color: #7f7a56 !important
  text-align: center
  padding: 5px
  margin-bottom: 10px

.unread
  background-color: #fffbdd
  .timestamp
    color: #7f7a56 !important

.message_dialogue:hover
  background-color: #f0fafc
  cursor: pointer

html
  max-height: 1000000px

body
  background-color: $color_background
  color: $color_text_dark
  font-family: 'Open Sans', Arial, sans-serif !important

.dosis
  font-family: 'Dosis', 'Open Sans', Arial !important

a
  color: $color_pink
  text-decoration: underline
  &:hover
    color: $color_text_dark
    text-decoration: none

.hidden-md
  @media screen and (min-width: 991px)
    display: none

.hidden-sm
  @media screen and (min-width: 768px)
    display: none


img
  border: none

p
  font-size: 13px

h1, h2, h3, h4, h5
  line-height: 100%

h1
  font-size: 2em
h2
  font-size: 1.5em
h3
  font-size: 1.17em
h4
  font-size: 0.83em
h5
  font-size: 0.75em

input
  font-size: 13px !important

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input:focus::-webkit-input-placeholder
  color: transparent
input:focus:-moz-placeholder
  color: transparent
input:focus::-moz-placeholder
  color: transparent

.hidden
  display: none

.error
  color: $color_pink
  font-size: 11px
  display: none

.btn
  &:focus
    color: #FFFFFF
    outline: none

#content
  margin-top: $nav_height
  .notice_button
    @include pink-area
    border-radius: 5px
    color: #FFFFFF
    font-size: 20px
    padding: 5px 10px
    text-decoration: none

.container
  max-width: 970px

.box
  @include border-radius($border_radius)
  background: #FFFFFF
  border: 1px solid $color_border
  display: block
  margin: 0 auto
  overflow: hidden
  position: relative
  &.general_page
    margin: 15px 0 60px
    padding-bottom: 5px
    @media screen and (max-width: 767px)
      margin-bottom: 100px
    h1
      margin-top: 15px
    h2
      text-decoration: underline
      margin: 0 0 15px 0
    ol
      font-size: 13px
      list-style: decimal
      margin-left: 15px

    // Search Directory
    .search_heading
      text-decoration: none
      font-weight: bold
      padding-top: 24px
    .search_directory
      list-style: none
      margin-top: 15px
      li
        display: inline-block
        margin-right: 23px
    .profile_directory
      span
        display: inline-block
        margin: 13px 0 0 10px
      li
        margin-bottom: 15px
    .search_top
      font-size: 12px
      display: block
      &:last-child
        padding-bottom: 15px
    .no_profile
      display: block
      font-size: 11px


textarea
  color: #898989
  border: none
  font-size: 13px
  font-weight: 400
  line-height: 18px
  resize: none
  &:focus
    outline: none

// Buttons

.btn
  @include border-radius($border_radius)
  color: #FFFFFF
  text-decoration: none
  &.black
    @include black-area
  &.blue
    @include blue-area
  &.pink
    @include pink-area
  &.green
    @include green-area
  &:hover
    color: #FFFFFF
    &.black
      @include linear-gradient(#2d2d2d, #3e3e3e)
    &.blue
      @include linear-gradient(#359acd, #7dd3f3)
    &.pink
      @include linear-gradient(#ea2f49, #ea4e65)
    &.green
      @include linear-gradient(#8dc63f, #a4e052)

// Font Awesome Styles

.fa
  font-family: 'Open Sans', Arial, sans-serif !important
  font-weight: 600
  &:before
    font-family: 'FontAwesome' !important
    font-weight: 400

// Navigation

nav
  @include blue-area
  height: $nav_height
  text-shadow: none
  -webkit-box-shadow: 0 0 10px 0 #155270
  box-shadow: 0 0 10px 0 #155270
  z-index: 9999 !important
  .brand
    img
      margin-top: 6px
      margin-left: 15px
      height: 31px
      width: 128px
  .navbar-nav
    .dropdown-menu
      display: block
    li
      font-size: 13px
      display: inline-block
      a, .my_sub_parent
        color: #FFFFFF
        margin: 0
        padding: 12px 15px
        text-shadow: -1px -1px 0 #4798c0
        .fa
          &:before
            padding-right: 5px
        &:hover
          background-color: #277aa3
          text-shadow: none
      &.active
        background-color: #277aa3
      .my_sub_parent
        cursor: default !important
        padding: 16px 15px
        &.fa
          &:before
            padding-right: 5px
      &.homepage_search
        .form-control
          border: 1px solid #3b9fd1
          font-size: 11px !important
          margin-top: 8px
          height: 29px
          width: 125px
          margin-right: 15px
        .search_results
          position: absolute
          width: 200px
          .bg-danger
            @include border-radius(0 0 5px 5px)
            padding: 5px 10px
            position: absolute
            top: -7px
            font-size: 11px
            display: block
            left: 0
            max-width: 200px
          .list-group-item-heading
            background: #FFFFFF
            border-left: 1px solid $color_border
            border-right: 1px solid $color_border
            margin: 0
            padding: 0
            padding: 5px
            position: absolute
            top: -7px
            font-size: 11px
            width: 202px
          .list-group
            @include border-radius(0 0 5px 5px)
            border-left: 1px solid $color_border
            border-bottom: 1px solid $color_border
            border-right: 1px solid $color_border
            margin: 18px 0 0 0
            padding: 0
            width: 202px
            .list-group-item
              border: none
              margin: 0
              padding: 0 10px 10px 10px
              a
                color: $color_text_dark
                font-size: 12px !important
                text-shadow: none
                padding: 0
                &:hover
                  padding: 0
                  margin: 0
                  background-color: #FFFFFF !important
              img
                display: none

      // My Subscriptions CSS

      &.my_sub
        position: relative
        .my_sub_cont
          @include border-radius (0 0 5px 5px)
          background: $color_background
          border-left: 1px solid $color_border
          border-bottom: 1px solid $color_border
          border-right: 1px solid $color_border
          border-top: none
          display: none
          position: absolute
          overflow: hidden
          top: $nav_height
          left: 0
          a
            background-color: $color_background
            border-top: 1px solid $color_border
            display: block
            min-height: 60px
            padding: 10px
            width: 255px
            z-index: auto
            &:first-child
              border-top: none
            .picture
              background: asset-url('//connectpal-assets.s3.amazonaws.com/images/profile_comment_default.png') no-repeat
              background-size: 100%
              background-color: #FFFFFF
              border: 1px solid $color_border
              float: left
              height: 42px
              width: 42px
              margin-right: 10px
              img
                height: 40px
                width: 40px
            .details
              float: left
              min-height: 42px
              width: 183px
              text-shadow: none !important
              .name
                color: $color_text_dark
                font-size: 12px
                font-weight: 600
                padding: 0
                padding-top: 3px
                text-decoration: none
              .type
                color: $color_text_light
                font-size: 11px
                padding: 0
                text-decoration: none
            &:hover
              background-color: $color_pink
              .name, .type
                color: #FFFFFF
              .type
                color: #9e1528
          .add_subscription
            cursor: pointer
            .picture
              background: none
              border: none
              i.fa.fa-search
                font-size: 25px
                margin: 10px 0 0 12px
            .details
              .name
                margin-top: 12px
        &:hover
          .my_sub_cont
            a
              background: $color_background
              color: $color_text_dark
              text-shadow: none
              &:hover
                background: $color_pink
                color: #FFFFFF

// Mobile

@media screen and (max-width: 767px)
  nav
    .brand
      img
        margin: 6px auto 0 auto
        display: block
    .navbar-nav
      margin: 0
      li
        font-size: 13px

  // Mobile Nav

  .mobile_nav
    @include white-area
    border-top: 1px solid $color_border
    display: block
    list-style: none
    position: fixed
    bottom: 0
    left: 0
    padding: 0
    text-align: center
    width: 100%
    z-index: 99999
    @media screen and (min-width: 768px)
      display: none
    ul
      margin: 0 auto
      li
        border-right: 1px solid $color_border
        display: inline-block
        font-size: 10px
        padding: 15px 12px
        &:first-child
          border-left: 1px solid $color_border
        a
          color: $color_text_dark
          text-shadow: -1px -1px 0 #FFFFFF
          i.fa, .more_link
            &:before
              color: $color_blue
              margin-bottom: 5px
              padding-right: 5px
          .fa-search
            &:before
              padding-right: 0
        &:hover
          background-color: #FFFFFF
          a
            text-shadow: none
        &.my_sub, &.more_sub
          cursor: pointer
          position: relative
          &:hover
            text-shadow: none
          .my_sub_parent, .more_link_parent
            &:before
              color: $color_blue
              margin-bottom: 5px
              padding-right: 5px
          .my_sub_cont, .more_sub_cont
            display: none
            @include border_radius(10px 10px 0 0)
            border: 1px solid $color_border
            background-color: #FFFFFF
            position: absolute
            bottom: 44px
            left: -1px
            overflow: hidden
            min-width: 230px
            a
              color: $color_text_dark
              text-shadow: -1px -1px 0 #FFFFFF
              &.add_subscription
            li
              display: inline-block
              font-size: 12px
              width: 200px
              margin-top: 10px
              padding: 0
              border: none
              &:first-child
                padding-left: 0
              .picture
                float: left
                img
                  height: 50px
                  width: 50px
              .details
                float: left
                text-align: left
                margin-top: 5px
                padding-left: 15px
                width: 150px
                .name
                  font-size: 12px
                .type
                  color: $color_text_light
                  font-weight: bold
                  font-size: 10px
          .more_sub_cont
            @include border_radius(10px 10px 0 0)
            border: 1px solid $color_border
            background-color: #FFFFFF
            position: absolute
            bottom: 44px
            left: -26px
            overflow: hidden
            min-width: 90px
            li
              padding: 0
              margin: 0
              border-top: 1px solid $color_border
              width: 95px
              &:first-child
                border-top: none
              a
                display: block
                margin: 0
                padding: 10px 10px 10px 0
                font-size: 11px
                text-align: right
                text-decoration: none
        &:hover
          color: $color_blue

// Notifcation Bar

.notification_bar
  background-color: #faf258
  border-bottom: 1px solid #f4cf3e
  color: #b29525
  font-size: 13px
  padding: 15px
  position: relative
  text-align: center
  z-index: 9998
  .cont
    margin: 0 auto
    text-align: center

    // Mobile

    @media screen and (max-width: 767px)
      width: auto

    // Tablet

    @media screen and (min-width: 768px)
      width: auto

    // Desktop

    @media screen and (min-width: 991px)
      width: 970px !important


  .close
    position: absolute
    top: 15px
    right: 15px
    opacity: 1
    &:before
      color: #f4cf3e
    &:hover
      &:before
        color: #b29525

// Custom Profile Type

.profile-type-input
  .search-type
    font-weight: 400
    margin-bottom: 10px
    width: 430px
  .fa
    color: $color_text_light
    cursor: pointer
    font-size: 13px
    margin: 10px 0 0 10px
    &:before
      color: $color_blue
      padding: 2px 5px 0 0
    &.fa-plus
      &:before
        color: $color_green
.profile-type-list
  ul
    @include border-radius ($border_radius)
    background-color: $color_background
    border: 1px solid $color_border
    padding: 10px 10px 0 10px
    span.assigned
      display: inline-block !important
      font-size: 12px !important
      margin: 0 !important
      padding: 0 10px 10px 0 !important
    li
      @include border-radius ($border_radius)
      background-color: $color_blue
      border: 1px solid #277aa3
      color: #FFFFFF !important
      display: inline-block
      font-size: 12px
      margin: 0 10px 10px 0
      padding: 5px 10px
      .title
        display: inline-block
        padding: 0
        font-weight: 400
        line-height: 100%
      .fa-times
        cursor: pointer
        padding: 4px 2px 0 0
      &:first-child
        margin-left: 0
      &:hover
        background-color: $color_pink
        border: 1px solid #cd233b
.profile-type-list-show
  ul
    background: none !important
    border: none
    padding: 0
    li
      background-color: $color_green !important
      border-color: #87bf3b
      cursor: pointer
      &:hover
        background-color: $color_blue !important
        border-color: #277aa3
        color: #FFFFFF
.profile-type-list-owner
  ul
    li
      .fa-times
        padding-top: 2px

// Footer

footer
  background-color: $color_text_dark
  border-top: 1px solid $color_border
  color: $color_text_light
  font-size: 13px
  line-height: 100%
  margin-top: 30px
  padding: 15px 15px 5px 15px
  ul
    float: left
    li
      list-style: none
      display: inline
      padding-left: 15px
      &:first-child
        padding-left: 0
      a
        color: #FFFFFF
        text-decoration: none
        &:hover
          color: #FFFFFF
          text-decoration: underline
  .copyright
    font-size: 11px
@media screen and (max-width: 767px)
  footer
    padding: 10px 0 0 0
    .container
      padding: 0
      ul
        float: none
      .copyright
        font-size: 10px


// Popup Overlay

#overlay
  z-index: $deepest_depth + 10000
  background: black
  display: none
  position: fixed
  bottom: 0
  left: 0
  right: 0
  top: 0
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  filter: alpha(opacity=50)
  -moz-opacity: 0.5
  -khtml-opacity: 0.5
  opacity: 0.5

// Popup

.popup
  @include border-radius($border_radius)
  border: 1px solid #464646
  display: none
  min-height: 50px
  min-width: 200px
  overflow: hidden
  position: fixed
  left: 50%
  top: 50%
  z-index: $deepest_depth + 10001

  &.search_popup
    @media screen and (max-width: 767px)
      width: 100%
      .modal-body
        padding: 0 15px !important
        .btn.pink
          width: 100%
          margin: 0 0 15px 0 !important


  // Mobile

  @media screen and (max-width: 767px)
    @include border-radius(0)

  // Popup Header

  .modal-header
    border: none
    position: relative
    text-align: center
    .close
      position: absolute
      top: 5px
      right: 5px
      z-index: 2
    .modal-title
      color: $color_blue
      font-size: 32px
      line-height: 100%
      &.Question
        color: $color_text_dark !important
        font-size: 14px !important
        padding: 0 15px
    span
      color: $color_text_light
      display: block
      font-size: 13px
      margin-top: 5px

    // Mobile

    @media screen and (max-width: 767px)
      .modal-title
        font-size: 18px
      span
        font-size: 11px

  // Popup Body

  .modal-body
    display: block
    padding: 5px 20px 0
    .email_share
      display: inline-block
      img
        margin: -25px 0 0 3px
    .mobile_message
      display: none
    .form-group
      label
        color: $color_text_dark
        font-size: 12px
        padding-top: 0px
    .form-control
      background-color: $color_background
      border: 1px solid $color_border
      &:focus
        background-color: #FFFFFF
        border: 1px solid $color_blue
    input[type="submit"]
      &:focus
        color: #FFFFFF
        outline: none

    .text-danger
      color: $color_pink
      font-size: 11px
      margin: 0
      padding: 5px 0 0 0
    .margin-left, .margin-right
      width: 165px
      @media screen and (max-width: 767px)
        width: 128px

    .margin-right
      margin-right: 10px
    .margin-left
      margin-left: 10px
    .terms_text
      color: #cccccc
      font-size: 11px
      margin-top: 5px
      width: 180px
      @media screen and (max-width: 767px)
        float: none !important
        width: 100%
      a
        color: #cccccc
        &:hover
          color: $color_text_light
    .btn.blue
      @media screen and (max-width: 767px)
        width: 100% !important
        float: none !important
        margin-top: 10px
    .remember_me
      color: $color_text_light
      font-size: 12px
    .search_user
      margin: 0 15px 15px
      width: 467px
      @media screen and (max-width: 767px)
        width: 100%
        margin: 0 0 15px 0
    .user_list
      .bg-danger
        @include border-radius($border_radius)
        padding: 10px 15px
        margin: 0 15px 15px
        font-size: 12px
      .list-group-item-heading
        font-size: 12px
        padding-bottom: 15px
        margin: 0
      .list-group
        font-size: 13px
        .list-group-item
          border: none
          border-top: 1px solid $color_border
          padding: 10px 0
          position: relative
          img
            border: 1px solid $color_border
            display: inline-block
            margin-right: 15px
          small
            @include pink-area
            @include border-radius(5px)
            color: #FFFFFF
            font-size: 11px
            margin-top: 10px
            padding: 5px
          a
            color: $color_text_dark
            display: inline-block
            padding-top: 15px
            width: 210px
            &:hover
              color: $color_text_light
          &:first-child
            border-top: none
            padding-top: 0
          &:last-child
            padding-bottom: 0

    // Popup Photo Display

    &.photo
      padding: 0 !important
      position: relative !important
      .close
        position: absolute
        top: 5px
        right: 5px
        opacity: 1
        text-shadow: none
        &:before
          color: $color_background
        &:hover
          &:before
            color: $color_pink
      img
        max-width: 500px

      @media screen and (max-width: 767px)
        img
          width: 100%

    // Popup Subscriber Container

    &.subscribe_container
      color: $color_text_dark
      font-size: 16px
      padding: 0 15px 15px
      .order_summary, .account_payment
        background: none
        min-height: 280px
        padding: 15px
        width: 325px
      .btn
        font-size: 18px !important
        padding: 10px 15px

      // Popup Order Summary

      .order_summary
        background-color: none
        padding: 0
        .heading
          border-bottom: 1px solid #e1e1e1
          font-size: 20px
          font-weight: 600
          padding-bottom: 15px
          margin-bottom: 15px
        .subtotal, .transaction_fee
          margin: 15px 0
        .total_cost
          border-top: 1px solid #e1e1e1
          font-size: 20px
          font-weight: bold
          padding-top: 15px
          .cost
            color: $color_blue
        .note
          @include border-radius($border_radius)
          font-size: 12px
          padding: 10px
          margin-top: 28px
        .asterisk
          display: inline-block
          font-size: 12px
          font-weight: normal

      // Popup Account Payment

      .account_payment
        padding: 15px 15px 0 15px
        .form-control
          background-color: #FFFFFF
          border: 1px solid $color_border
          &:focus
            background-color: #FFFFFF
            border: 1px solid $color_blue
        .cc_row
          position: relative
          ul
            list-style: none
            position: absolute
            top: 30px
            right: 0
            li
              display: inline-block
              padding-right: 5px
              img
                height: 22px
                width: 32px
        .exp_date
          position: relative
          .small
            font-size: 12px
            font-weight: 400
            padding: 8px 5px 0 0
        .cvc
          width: 70px
          input
            width: 55px
          .fa
            cursor: pointer
            padding-top: 8px
            position: relative
            &:before
              color: $color_text_light
            &:hover
              &:before
                color: $color_text_dark
              .cvc_example
                display: block
            .cvc_example
              @include border-radius(5px)
              background-color: $color_pink
              border: 1px solid #cd233b
              color: #FFFFFF
              display: none
              padding: 10px
              position: absolute
              top: -90px
              right: 0
              width: 260px
              img
                margin-right: 5px
              span
                display: block
                font-weight: bold
                margin-bottom: 5px
              span
                font-size: 12px
              p
                font-size: 11px
                margin-bottom: 0
                width: 170px

    &.existing_billing
      .order_summary
        margin-right: 0

    // Mobile

    @media screen and (max-width: 767px)
      &.new_subscriber
        form
          float: none !important
        .order_summary, .account_payment
          margin: 0
          width: 100%
          float: none
        .order_summary
          font-size: 11px
          min-height: 100px
          margin-bottom: 10px
          margin-top: -25px
          .heading
            font-size: 16px
            padding: 0 0 5px 0
            margin: 0 0 5px 0
            text-align: center
          .item_row
            font-size: 12px
          .subtotal, .transaction_fee
            font-size: 12px
            margin: 0
            padding: 5px 0
          .total_cost
            font-size: 13px
            padding: 5px 0
          .note
            display: none
        .account_payment
          padding: 0
          label
            font-weight: bold !important
          .form-group
            margin-bottom: 0
            float: left
            width: 46%
            margin: 0 5px
            label
              font-size: 11px
              font-weight: normal
              margin-bottom: 0
          .cc_row
            ul
              display: none
            input
              width: 100% !important
          .exp_date
            margin: 0 0 0 5px
            width: 170px
            .small
              font-size: 11px
            .month
              width: 85px !important
            .year
              width: 75px !important
          .cvc
            width: 70px !important

      &.existing_billing
        .order_summary
          min-height: 150px
          width: 100%
          .heading
            text-align: center
          .item_row
            font-size: 12px
          .subtotal, .transaction_fee
            font-size: 12px
            margin: 0
            padding: 5px 0
          .total_cost
            font-size: 13px
            padding: 5px 0
          .btn.blue
            margin-top: 5px !important
        .note
          display: none

      &.new_billing
        form
          float: none !important
        .order_summary, .account_payment
          margin: 0
          width: 100%
          float: none
        .order_summary
          font-size: 11px
          min-height: 100px !important
          margin-bottom: 10px
          margin-top: -25px
          .heading
            font-size: 16px
            padding: 0 0 5px 0
            margin: 0 0 5px 0
            text-align: center
          .item_row
            font-size: 12px
          .subtotal, .transaction_fee
            font-size: 12px
            margin: 0
            padding: 5px 0
          .total_cost
            font-size: 13px
            padding: 5px 0
          .note
            display: none
        .account_payment
          padding: 0
          label
            font-weight: bold !important
          .form-group
            margin: 0
            label
              font-size: 11px
              font-weight: normal
              margin-bottom: 0
          .cc_row
            ul
              display: none
            input
              width: 100% !important
          .exp_date
            .small
              font-size: 11px
              font-weight: !important
            .month
              width: 92px !important
            .year
              width: 85px !important
          .cvc
            width: 70px !important
        .btn.blue
          margin-top: 10px !important

      .btn.blue
        font-size: 14px !important
        margin-top: 0 !important

    // Tablet

    @media screen and (min-width: 768px)
      .account_payment
        background: $color_background !important
        padding: 15px
      .order_summary
        margin-right: 15px

    // Popup Pricing Table

    .pricing_table
      color: $color_text_light
      table
        color: $color_text_dark
        font-size: 13px
        span
          display: block
      p
        text-align: center

    // Popup Search Results

    .search_user_results
      .list-group-item-heading
        padding: 0 15px !important
        margin-bottom: 10px
      .list-group
        margin-bottom: 0
        .list-group-item
          @include border-radius (0)
          color: $color_text_dark
          border-top: 1px solid $color_border !important
          padding: 10px 15px !important
          width: 498px
          img
            background-color: #FFFFFF
          &:hover
            background-color: $color_pink
            color: #FFFFFF

  // Popup Footer Area

  .modal-footer
    font-size: 12px
    margin-top: 0
    text-align: center
    span
      color: $color_text_light
    a
      color: $color_text_light
      &:hover
        color: $color_text_dark

// Popup Profile Header Edit

.header_edit, .contacts_edit
  overflow: hidden

  // Popup Tab Navigation

  .nav
    @include border_radius (10px 10px 0 0)
    background-color: $color_background
    margin-top: -1px
    li
      margin-right: 5px
      &:first-child
        margin-left: 20px
      a
        color: $color_text_light
        text-decoration: none
        &:hover
          color: $color_text_dark
          background-color: #FFFFFF
      &.active
        a
          @include border_radius (0)
          color: $color_text_dark
          font-weight: 600

  // Popup Header

  .modal-header
    padding: 0
    margin-top: 10px
    .modal-title
      font-size: 24px
      padding-top: 5px
    span
      color: $color_text_light
      display: block
      font-size: 13px
      margin-top: 5px

  // Popup Body

  .modal-body
    padding-top: 15px
    .input-group-addon
      @include black-area
      @include border-radius($border_radius 0 0 $border_radius)
      .fa
        color: #FFFFFF

    .profile_address
      color: #cccccc
      font-size: 11px

// Popup Contacts Edit

.contacts_edit
  .input-group
    margin-bottom: 15px

// Popup Authentication

.authentication_popup
  width: 400px
  .modal-header
    padding: 15px 20px
  .modal-body
    .login_btn
      float: right
    .checkbox
      width: 150px
    .form-group
      margin-bottom: 5px
@media screen and (max-width: 767px)
  .authentication_popup
    width: 100%
    .modal-body
      .checkbox
        display: block
        margin-bottom: 0
        .remember_me
          input
            margin-top: 4px
      .login_btn
        display: block
        float: none
        width: 100%

// Required by JS

#ClickBlocker
  z-index: $deepest_depth + 10002
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: white
  position: fixed
  opacity: 0.6

.js-highlight
  border: 2px solid red
  display: visible

.pending
  opacity: 0.3

li.active
  a
    border-bottom: 2px solid $color_text_dark

input.file
  opacity: 0
  position: absolute
  width: 100%
  top: 0
  left: 0

.PostsContainer.pending
  &:after
    opacity: 0.5
    margin-left: 120px
    top: -100px
    position: relative
    content: asset-url("//connectpal-assets.s3.amazonaws.com/images/preloader.gif")

.top_jumper
  bottom: 0
  color: $color_text_light
  cursor: pointer
  font-size: 13px
  margin: 0 0 15px 0px
  position: fixed
  &:hover
    color: $color_text_dark

.pending_photos
  margin: 5px
  li
    padding: 10px
    width: 80px
    height: 80px

.Notice
  z-index: $deepest_depth + 10100
  position: fixed
  top: 45px
  width: 100%

.notice_counter
  position: absolute
  top: 17px
  right: 40px

.Mention
  cursor: pointer
  border-radius: 0 5px 5px 0
  &:hover
    color: black
    font-weight: bold

.error_pages
  padding: 0px 15px 15px 15px

// Sample Profile Viewport

@media screen and (min-width: 992px)
  .box
    .sample_profile
      margin: 15px 0
      position: relative
      text-align: center
      img
        @include border-radius($border_radius)
        margin: 0 auto
        width: 575px
      .note
        p
          font-size: 12px
      .n1
        margin-top: 30px
      .n2
        margin-top: 140px
      .n3
        margin-top: 140px
      .n4
        margin-top: 0
        a
          color: $color_pink
      .n5
        margin-top: 65px
      .n6
        margin-top: 140px
      .note
        .arrow
          background-image: asset-url("//connectpal-assets.s3.amazonaws.com/images/arrows.png")
          &.n1
            background-position: 0 0
            height: 68px
            width: 81px
            margin: 0 0 0 75px
          &.n2
            background-position: 0 138px
            height: 44px
            width: 57px
            margin: 0 0 10px 99px
          &.n3
            background-position: 0 95px
            height: 95px
            width: 66px
            margin: 0 0 10px 90px
          &.n4
            background-position: 99px 0
            height: 54px
            width: 99px
            margin: 0
          &.n5
            background-position: 99px 138px
            height: 37px
            width: 69px
            margin: 0 0 10px 0
          &.n6
            background-position: 99px 94px
            height: 73px
            width: 81px
            margin: 0

// Tablet

@media screen and (max-width: 991px)
  //nav
    .navbar-nav
      li
        font-size: 11px !important
        a
          padding: 12px 10px !important
        &.my_sub
          .my_sub_parent
            padding: 16px 10px !important
        ul.my_sub_cont
          padding: 0 !important

  //.modal-body
    .mobile_message
      display: block !important
      font-size: 12px
      margin-top: 10px
      padding: 5px 10px
      width: 300px
  .box
    .sample_profile
      margin: 15px 0
      position: relative
      text-align: center
      img
        @include border-radius($border_radius)
        margin: 0 auto
        width: 430px
      .note
        p
          font-size: 11px
      .n1
        margin-top: 0
      .n2
        margin-top: 80px
      .n3
        margin-top: 60px
      .n4
        margin-top: -47px
        a
          color: $color_pink
      .n5
        margin-top: 15px
      .n6
        margin-top: 85px
      .note
        .arrow
          background-image: asset-url("//connectpal-assets.s3.amazonaws.com/images/arrows.png")
          &.n1
            background-position: 0 0
            height: 68px
            width: 81px
            margin: 0 0 0 35px
          &.n2
            background-position: 0 138px
            height: 44px
            width: 57px
            margin: 0 0 10px 60px
          &.n3
            background-position: 0 95px
            height: 95px
            width: 66px
            margin: 0 0 10px 53px
          &.n4
            background-position: 99px 0
            height: 54px
            width: 99px
            margin: 0
          &.n5
            background-position: 99px 138px
            height: 37px
            width: 69px
            margin: 0 0 10px 0
          &.n6
            background-position: 99px 94px
            height: 73px
            width: 81px
            margin: 0