nav {
  display: none !important;
  background-color: #359acd !important;
  background-image: none !important;
  zoom: 1px;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffff', endColorstr = '#e5e6ec', GradientType = 0);*/
}

a {
  border: none !important;
  outline: none !important;
}

img {
  border: none !important;
}

ul.navbar-nav {
  margin-top: 0 !important;
}

.navbar-nav {
  margin-top: 0 !important;
}

nav .navbar-nav li.my_sub .my_sub_cont a {
  height: 60px;
}

#overlay {
  opacity: 0.5 !important;
}

input.file, input.hide_btn {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}

#create_post_nav li {
	font-size: 14px;
  padding: 15px 41px;
}

#create_post #post .notify, #create_post #uploading .upload_details .foot .notify {
  width: 480px;
}

#create_post #post .notify .notify_label, #create_post #uploading .upload_details .foot .notify .notify_label {
  width: 40px;
}

#create_post_nav .ie_last_tab {
	border-right: none;
}

.my_account .content ul li.item_sub .actions .checkbox {
  width: 300px
}

.box .sample_profile .note p {
  font-size: 12px !important;
}

.box .sample_profile img {
  width: 575px !important;
}
