<div style="background:#f3f3f3;margin:0">

    <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;width:100%!important" width="100%">
      <tbody><tr>
        <td align="center" valign="top" style="text-align:center;background:#476a9f">
          <table cellpadding="0" cellspacing="0" style="margin:0 auto;width:502px;text-align:left;width:502px">
            <tbody><tr>
              <td style="text-align:center;padding-top:10px">
                <a style="font-size:9px;color:#dfdfe1;font-family:Helvetica,Arial,sans-serif" href="http://us5.campaign-archive1.com/?u=9444810ba5a097c81bfa0210f&amp;id=9d2fb37938&amp;e=a997b8eb9a" target="_blank">Email not displaying correctly? View it in your browser.</a></td>
            </tr>
            <tr>
              <td>
                <table style="width:100%;padding-top:5px">
                  <tbody><tr>
                    <td style="color:#fff;text-align:center;width:45%;font-size:14px;font-family:Helvetica,Arial,sans-serif"><a href="http://toptal.us5.list-manage2.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=e110b68418&amp;e=a997b8eb9a" style="text-decoration:none;color:#fff" target="_blank">Toptal Engineering Blog</a></td>
                    <td><a href="http://toptal.us5.list-manage1.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=4d774b7424&amp;e=a997b8eb9a" style="text-decoration:none" target="_blank"><img style="border:none" border="0" src="https://ci6.googleusercontent.com/proxy/qCb_OptKXHf4C0vWcPkwvBjYLEjvUy2OXgTUHtoRbaY8EzHVZKZVUGF3ZZncnrLE0byB8MBA9zv4Z9xBEEdVMcv9TzckrskgR-q0UMkN5sO3cNk=s0-d-e1-ft#https://s3.amazonaws.com/toptal-email-assets/blog_logo_2x.png" width="92" height="88" alt="Toptal Engineering Blog"></a></td>
                    <td style="color:#fff;text-align:center;width:45%;font-size:14px;font-family:Helvetica,Arial,sans-serif">July 3, 2014</td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td style="background:#fff;padding:0 50px;border-top-left-radius:5px;border-top-right-radius:5px;border:1px solid #3f5e8c;border-bottom:none"><h1 style="line-height:120%;font-size:24px;font-family:Helvetica,Arial,sans-serif;margin-top:30px"><a href="http://toptal.us5.list-manage2.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=3b7a82d49f&amp;e=a997b8eb9a" style="text-decoration:none;color:#303338" target="_blank">T</a>he Official Toptal Hiring Guides</h1>

<p style="color:#999;font-size:12px;margin:20px 0px 0px 0px;font-family:Helvetica,Arial,sans-serif">We've created targeted questions and answers to help you identify the true masters of each language.</p>
</td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top" style="text-align:center;background:#f3f3f3">
          <table cellpadding="0" cellspacing="0" style="margin:0 auto;width:502px;text-align:left;width:502px">
            <tbody><tr>
              <td style="background:#fff;border:1px solid #e0e0e0;border-top:none;border-bottom:none">

              </td>
            </tr>
            <tr>
              <td style="background:#fff;/* border-bottom-left-radius:5px; *//* border-bottom-right-radius:5px; */border:1px solid #e0e0e0;border-top:none;padding:0 50px">

                <p style="line-height:150%!important;margin:20px 0;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338"></p><table>
  <tbody>
    <tr>
      <td><a href="http://toptal.us5.list-manage2.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=94335dbf39&amp;e=a997b8eb9a" target="_blank"><img align="none" height="72" src="https://ci4.googleusercontent.com/proxy/IDHd8KM7sHNM418tUem39tTUcbPxx5iqb9ydzU6BDYR_R3Nvrk4nhqtX_So_rIX6zrb7yomJcARBU2Wzht3NXPsNw4sJaljG0igNLLAwSxP-THF1BNkvYBzI1HjytaenwCMbClBHL0T5G9DTpzlh03HnIANerSRuRUSulg=s0-d-e1-ft#http://gallery.mailchimp.com/9444810ba5a097c81bfa0210f/images/9439bfb2-7e5f-4bfc-864f-ed0ffbc9eb60.jpg" style="width:75px;min-height:72px;margin:0px" width="75"></a></td>
      <td style="width:10px">&nbsp;</td>
      <td>
      <div style="line-height:150%!important;margin:10px 0px 0px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338;font-weight:bold"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=99fee3cfda&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">The Insider's Guide to JavaScript Interviewing</a></div>

      <div style="line-height:150%!important;margin:0px 0px 20px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=67f5d72b1f&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">As with any technology, there’s knowing JavaScript and then there’s really knowing JavaScript.</a></div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
      <hr style="background-color:#efefef;color:#efefef;border:0;min-height:3px;margin:10px 0px 15px 0px"></td>
    </tr>
    <tr>
      <td><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=a31cddcbd2&amp;e=a997b8eb9a" target="_blank"><img align="none" height="72" src="https://ci6.googleusercontent.com/proxy/5gbCsrtHB4Xmm35DpIbQopLi2EhunEssMJOUzs1FrADrC_JXWkJzUgzVJI_Avl52p-2c6DO62KFcZhimbMfY3WUfZGKHp186B-wO2dPSHrM8lh3JNWM9xBYkcU8cplCbu_XUxTzVs1xOT96pkwZS5BdiJ520PP-VhR1k5Q=s0-d-e1-ft#http://gallery.mailchimp.com/9444810ba5a097c81bfa0210f/images/6b26a4ca-3b91-43ab-a1f0-2458e97576df.jpg" style="width:75px;min-height:72px;margin:0px" width="75"></a></td>
      <td style="width:10px">&nbsp;</td>
      <td>
      <div style="line-height:150%!important;margin:10px 0px 0px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338;font-weight:bold"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=f25c04bf30&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">The Insider's Guide to Python Interviewing</a></div>

      <div style="line-height:150%!important;margin:0px 0px 20px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=90e49ff554&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">So you’ve found what appears to be a strong Python developer. Here's how to really put them to the test.</a></div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
      <hr style="background-color:#efefef;color:#efefef;border:0;min-height:3px;margin:10px 0px 15px 0px"></td>
    </tr>
    <tr>
      <td><a href="http://toptal.us5.list-manage1.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=4f6ac22ef8&amp;e=a997b8eb9a" target="_blank"><img align="none" height="72" src="https://ci3.googleusercontent.com/proxy/IEYVP4QNowhuj865RXyOSRCaRmVtYsg736tl-4dG2FgNpgVCuNhNp18Lyt32-TrlKB7TZ5yG7JnBDXsh7npP4vDwRzjxFFzrfenOCSK_6RS7a2GWo3nv5hDIO3MwuwCBdE5yWc8F-k-5UBbTHClDlt8F5p_7txFP4a14LQ=s0-d-e1-ft#http://gallery.mailchimp.com/9444810ba5a097c81bfa0210f/images/425a1939-0f2b-4570-aa08-a1a112c73728.jpg" style="width:75px;min-height:72px;margin:0px" width="75"></a></td>
      <td style="width:10px">&nbsp;</td>
      <td>
      <div style="line-height:150%!important;margin:10px 0px 0px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338;font-weight:bold"><a href="http://toptal.us5.list-manage1.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=ddaca7d89d&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">The Insider's Guide to Ruby on Rails Interviewing</a></div>

      <div style="line-height:150%!important;margin:0px 0px 20px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=d05950c1c5&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">Here are the questions that are key to evaluating the breadth and depth of a candidate’s mastery.</a></div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
      <hr style="background-color:#efefef;color:#efefef;border:0;min-height:3px;margin:10px 0px 15px 0px"></td>
    </tr>
    <tr>
      <td><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=0360607199&amp;e=a997b8eb9a" target="_blank"><img align="none" height="72" src="https://ci5.googleusercontent.com/proxy/y0YWZYLZUqE_5Zs61zagQZsrmHtuczKUd17EUtvcDJJwoDwdYLjcskwkqlC5LjDJKSGxbl9O1ZA2mjZBHE7vXRYZB-mweK52y-PaeMo08HfmvJV5CTig6Q6_7cBuwbPXxh-BrzJFlRlPTql008QRvvr-hHPCyBFuQA3BJQ=s0-d-e1-ft#http://gallery.mailchimp.com/9444810ba5a097c81bfa0210f/images/02e5aa27-3c34-4455-a60c-841643674c8c.jpg" style="width:75px;min-height:72px;margin:0px" width="75"></a></td>
      <td style="width:10px">&nbsp;</td>
      <td>
      <div style="line-height:150%!important;margin:10px 0px 0px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338;font-weight:bold"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=6d0abeae74&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">The Insider's Guide to Android Interviewing</a></div>

      <div style="line-height:150%!important;margin:0px 0px 20px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=80e903cfbf&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">These questions&nbsp;identify those Android developers with the experience to produce masterful results.</a></div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
      <hr style="background-color:#efefef;color:#efefef;border:0;min-height:3px;margin:10px 0px 15px 0px"></td>
    </tr>
    <tr>
      <td><a href="http://toptal.us5.list-manage1.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=d2e8029005&amp;e=a997b8eb9a" target="_blank"><img align="none" height="72" src="https://ci4.googleusercontent.com/proxy/qoodBwtgfMAwCryEk-WGckhEem6FQAd4x7dIwdEf6SSbkdaxj-87E78DdQ3ufs8xdn8nC-gNfJ8sgJDSKUVRF9CINY6woPxNgW2gT1vWU-x1gs4cztM6uMz5Q8-l7-RQ_BMLtocgfvXYg71haI2oWSTeM2GNJ5MRV6e9Yg=s0-d-e1-ft#http://gallery.mailchimp.com/9444810ba5a097c81bfa0210f/images/47e9ed92-7405-458a-9bd6-0b7423cb4d8b.jpg" style="width:75px;min-height:72px;margin:0px" width="75"></a></td>
      <td style="width:10px">&nbsp;</td>
      <td>
      <div style="line-height:150%!important;margin:10px 0px 0px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338;font-weight:bold"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=ac667a989b&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">The Insider's Guide to PHP Interviewing</a></div>

      <div style="line-height:150%!important;margin:0px 0px 20px 0px;font-size:12px;font-family:Helvetica,Arial,sans-serif;color:#303338"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=fbd610166d&amp;e=a997b8eb9a" style="color:#303338;text-decoration:none" target="_blank">While many can legitimately claim to "know" PHP, here is how to identify the true experts.</a></div>
      </td>
    </tr>
  </tbody>
</table>
<p></p><p style="color:#999;text-align:center;font-size:12px;margin:20px 0;font-family:Helvetica,Arial,sans-serif">Have feedback? Email Hyam Singer at <a href="mailto:hyam@toptal.com" target="_blank">hyam@toptal.com</a>.</p>

                <table style="padding:0;width:100%" cellpadding="0" cellspacing="0" width="100%">

                  <tbody><tr>
                    <td colspan="3" style="height:10px">&nbsp;</td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top" style="text-align:center;padding:40px 0 5px 0;background:#f3f3f3">
          <table cellpadding="0" cellspacing="0" style="margin:0 auto;width:502px;text-align:left;width:502px">
            <tbody><tr>
              <td style="width:92px"><a style="display:block;color:#fff" href="http://toptal.us5.list-manage1.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=6402e2bcf9&amp;e=a997b8eb9a" target="_blank"><img style="margin-top:5px;border:none" border="0" src="https://ci3.googleusercontent.com/proxy/_9lq801sb9Tn0ScoSE8Urmwd9kmRkc6BpJyMDxbwxOSbr-9owUi-I4rKtswd5yL1WXtX3LQc_QYVQvPO_XbtpQaJchZHb5d97hUg-UGHI4ec3tJrkw=s0-d-e1-ft#https://s3.amazonaws.com/toptal-email-assets/toptal_logo_2x.png" alt="Toptal" width="82" height="26"></a></td>
              <td style="width:47px"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=b4189b7d76&amp;e=a997b8eb9a" target="_blank"><img style="border:none" border="0" src="https://ci5.googleusercontent.com/proxy/pt7NNOcOK2A7akq6l8b068xDd1pheaAVet1HM-QIHsmOt8REOwxr1aUETm5SS-wqGMN8hUwthQmN5ufkIs03KOvpMMqQC_snwIlSqcLXcpuwlYALgMK3OUg=s0-d-e1-ft#https://s3.amazonaws.com/toptal-email-assets/facebook_button_2x.png" alt="Facebook" width="37" height="37"></a></td>
              <td style="width:47px"><a href="http://toptal.us5.list-manage1.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=ac8b4458a8&amp;e=a997b8eb9a" target="_blank"><img style="border:none" border="0" src="https://ci5.googleusercontent.com/proxy/SNWZHxFsBCHkSoj-SslhHow5IBXYBbcs4MdfzXe76-ppYnXFFfi0NWZsEBPoEJvV2rpvYXNqyrdISKK0wpGPM1M0ebnRnhjkNvRCo5lc85T9Ww-JH-yKxQ=s0-d-e1-ft#https://s3.amazonaws.com/toptal-email-assets/twitter_button_2x.png" alt="Twitter" width="37" height="37"></a></td>
              <td style="width:47px"><a href="http://toptal.us5.list-manage.com/track/click?u=9444810ba5a097c81bfa0210f&amp;id=9556cf892d&amp;e=a997b8eb9a" target="_blank"><img style="border:none" border="0" src="https://ci4.googleusercontent.com/proxy/z2IYwA11KJRUkWHN1z8EHfd0miwqZA9ulE9S9n_4UNzUEnRiwfhI5Vv1bfu2woMSvbOwpmsUFSWnC1Mvu5pK80E29ACT4cFg8BQVuvZXWW-bXfzJscKW=s0-d-e1-ft#https://s3.amazonaws.com/toptal-email-assets/google_button_2x.png" alt="Google+" width="37" height="37"></a></td>
              <td style="text-align:right;color:#878787;font-size:10px;font-family:Helvetica,Arial,sans-serif">© 2011 - 2014 Toptal, LLC. All rights reserved.</td>
            </tr>
            <tr>
              <td colspan="5" style="text-align:center;color:#878787;font-size:10px;font-family:Helvetica,Arial,sans-serif;padding-top:30px">
                <div><span>toptal, LLC</span><div><div>238 Ramona Street</div><span>Palo Alto</span>, <span>CA</span>  <span>94301</span></div><br><a href="http://toptal.us5.list-manage1.com/vcard?u=9444810ba5a097c81bfa0210f&amp;id=c5fb6b8644" target="_blank">Add us to your address book</a></div>
                <p><a style="color:#878787" href="http://toptal.us5.list-manage.com/unsubscribe?u=9444810ba5a097c81bfa0210f&amp;id=c5fb6b8644&amp;e=a997b8eb9a&amp;c=9d2fb37938" target="_blank">Remove me from this list</a></p>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  <img src="https://ci5.googleusercontent.com/proxy/wIrvom3BWUhYisd-nykvUMvL8r0yMVDfMJvAFOi5lfN4MZrJjTkSxjOUH9AsfHRxIAs976pZaXP7KochY3NYLdpQ-bPAGM-Cbuy1AINcJTrYV4RMBbnOktrB4c9_cJrXREVzEPusPzoOH2QnPWigohkvySgK-wFg93IgNOg=s0-d-e1-ft#http://toptal.us5.list-manage.com/track/open.php?u=9444810ba5a097c81bfa0210f&amp;id=9d2fb37938&amp;e=a997b8eb9a" height="1" width="1"></div>