doctype XML
rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom"
  channel
    title= @post.title
    link= profile_url(@post.user)
    language en-us
    copyright © 2014 Andy Dean Inc.
    itunes:subtitle America Now podcast
    itunes:author= @post.user.name
    itunes:summary= @post.message
    description= @post.message
    itunes:owner
      itunes:name= @post.user.name
      itunes:email= @post.user.email
    itunes:explicit no
    itunes:image href=@post.user.profile_picture_url.gsub('https', 'http') /
    itunes:category text="News & Politics"
    item
      title= @upload.filename
      itunes:author= @post.user.name
      itunes:subtitle= @post.message
      itunes:summary= @post.message
      itunes:image href=@post.user.profile_picture_url.gsub('https', 'http') /
      enclosure length="#{@upload.transloadit_data['results'][':original'][0]['size']}" type="#{@upload.mime_type}" url="#{@upload.original_url.gsub('https', 'http')}" /
      link= @upload.original_url.gsub('https', 'http')
      guid= @upload.original_url.gsub('https', 'http')
      pubDate= @post.created_at.rfc2822
      itunes:duration= @upload.duration.to_i
