div data-identifier="likes-#{post.id}"
  a.AjaxFormLink.fa.fa-heart.pull-left data-target="likes-#{post.id}" href=post_likes_path(post) class='#{'liked_post' if current_user.likes?(post)}'
  .users_liked.pull-left= post.likers_text
  .clearfix
